Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, deploy, pages

test:
  stage: test
  script:
  - julia --project=@. -e "import Pkg; Pkg.test(; coverage = true)"
  - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
    paths:
    - test

deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
  - docker logout
  stage: deploy
  script:
  - docker build -t perihub/perilab .
  - docker push perihub/perilab

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

cleared input
  test/fullscale_tests/test_thermal_flow/thermal_flow.yaml
Due: test

fixed thermal models
  docs/src/lib/io_functions.md
  src/Physics/Physics_Factory.jl
  src/Physics/Thermal/Thermal_Factory.jl
  src/Physics/Thermal/heat_transfer.jl
  src/Support/helpers.jl
Due: test, deploy, pages

finished additive model
  src/Physics/Additive/simple_additive.jl
  src/Support/data_manager.jl
Due: test, deploy, pages

added printing bed
  src/Physics/Thermal/thermal_flow.jl
  src/Support/Parameters/parameter_handling.jl
Due: test, deploy, pages

test FEM p=1 3D
  test/fullscale_tests/test_FEM/FEM_p1_3d.yaml
  test/fullscale_tests/test_FEM/Reference/FEM_p1_3d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p1_3d.e.license
  test/fullscale_tests/test_FEM/test_mesh_p1_3d.txt
  test/fullscale_tests/test_FEM/test_topo_p1_3d.txt
Due: test

3D Fem test
  test/fullscale_tests/test_FEM/FEM_p2_1_1_3d.yaml
  test/fullscale_tests/test_FEM/FEM_p2_3d.yaml
  test/fullscale_tests/test_FEM/Reference/FEM_p1_3d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_1_1_3d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_1_1_3d.e.license
  test/fullscale_tests/test_FEM/Reference/FEM_p2_3d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_3d.e.license
  test/fullscale_tests/test_FEM/test_FEM.jl
  test/fullscale_tests/test_FEM/test_mesh_p2_3d.txt
  test/fullscale_tests/test_FEM/test_topo_p2_1_1_3d.txt
  test/fullscale_tests/test_FEM/test_topo_p2_3d.txt
Due: test

merge commits
  .gitignore
  src/Core/Solver/Verlet.jl
  src/IO/mesh_data.jl
  src/Physics/Material/BondBased/Bondbased_Elastic.jl
  src/Physics/Material/Material_Models/Correspondence.jl
  src/Physics/Physics_Factory.jl
  src/Physics/Pre_calculation/Pre_Calculation_Factory.jl
  src/Support/Parameters/parameter_handling.jl
  test/runtests.jl
  test/unit_tests/IO/ut_mesh_data.jl
  test/unit_tests/Support/ut_data_manager.jl
Due: test, deploy, pages

prototype arlequin coupling
  src/FEM/Coupling/Arlequin.jl
Due: test, deploy, pages

code cleaning
  src/IO/exodus_export.jl
Due: test, deploy, pages

resolved merge issues
  src/Core/Solver/Verlet.jl
  src/IO/mesh_data.jl
  src/Physics/Material/BondBased/Bondbased_Elastic.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
  src/Physics/Material/Material_template/material_template.jl
  test/fullscale_tests/test_additive/Reference/additive_2d_heat.e
  test/unit_tests/IO/ut_mesh_data.jl
  test/unit_tests/Physics/Material/Material_Models/Ordinary/ut_ordinary.jl
Due: test, deploy, pages

resolved merge issues
  src/Physics/Material/Material_Models/Ordinary/Ordinary.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
  test/unit_tests/Physics/Material/Material_Models/Ordinary/ut_ordinary.jl
Due: test, deploy, pages

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fixed filter
  src/IO/mesh_data.jl
  src/PeriLab.jl
Due: test, deploy, pages

Changed version
  CHANGELOG.md
  Project.toml
Due: none

init_damage_model
  src/Physics/Damage/Critical_Stretch.jl
  src/Physics/Damage/Damage_Factory.jl
  src/Physics/Damage/Damage_template/damage_template.jl
  src/Physics/Damage/Energy_release.jl
  src/Physics/Physics_Factory.jl
Due: test, deploy, pages

coding style
  docs/src/lib/functions.md
  src/Compute/compute_global_values.jl
  src/Core/Solver/Solver_control.jl
  src/Physics/Physics_Factory.jl
  test/unit_tests/Core/Solver/ut_Solver_control.jl
  test/unit_tests/Core/Solver/ut_Verlet.jl
  test/unit_tests/Support/ut_data_manager.jl
Due: test, deploy, pages

coding style
  src/Physics/Damage/Energy_release.jl
Due: test, deploy, pages

fixed fem tests
  test/fullscale_tests/test_FEM/FEM_p1_1_2d.yaml
  test/fullscale_tests/test_FEM/FEM_p1_2d.yaml
  test/fullscale_tests/test_FEM/FEM_p1_3d.yaml
  test/fullscale_tests/test_FEM/FEM_p2_1_1_3d.yaml
  test/fullscale_tests/test_FEM/FEM_p2_1_2d.yaml
  test/fullscale_tests/test_FEM/FEM_p2_2d.yaml
  test/fullscale_tests/test_FEM/FEM_p2_3d.yaml
Due: test

init damage fixes and code cleaning
  src/Core/Solver/Solver_control.jl
  src/Physics/Damage/Damage_Factory.jl
  src/Physics/Damage/Energy_release.jl
  src/Physics/Physics_Factory.jl
Due: test, deploy, pages

fix
  src/Physics/Damage/Critical_Stretch.jl
Due: test, deploy, pages

fix
  src/Physics/Damage/Damage_template/damage_template.jl
Due: test, deploy, pages

added mesh type
  test/fullscale_tests/test_FEM/FEM_p1_1_2d.yaml
  test/fullscale_tests/test_FEM/FEM_p1_2d.yaml
  test/fullscale_tests/test_FEM/FEM_p1_3d.yaml
  test/fullscale_tests/test_FEM/FEM_p2_1_1_3d.yaml
  test/fullscale_tests/test_FEM/FEM_p2_1_2d.yaml
  test/fullscale_tests/test_FEM/FEM_p2_2d.yaml
  test/fullscale_tests/test_FEM/FEM_p2_3d.yaml
Due: test

final fix
  test/fullscale_tests/test_FEM/FEM_p1_1_2d.yaml
Due: test

edit Dockerfile
  .gitlab-ci.yml
  Dockerfile
Due: none

test coverage and code improvement
  src/Core/BC_manager.jl
  test/unit_tests/Core/ut_BC_manager.jl
Due: test, deploy, pages

test coverage
  src/IO/mesh_data.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: test, deploy, pages

test coverage
  src/IO/IO.jl
  test/unit_tests/IO/ut_IO.jl
Due: test, deploy, pages

fixed pages
  docs/src/lib/physics_functions.md
  src/PeriLab.jl
Due: test, deploy, pages

resolve #116
  src/Physics/Material/Material_Models/Correspondence.jl
  src/Physics/Material/material_basis.jl
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_xx.e
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_xx.e.license
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_xy.e
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_xy.e.license
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_xz.e
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_xz.e.license
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_yy.e
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_yy.e.license
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_yz.e
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_yz.e.license
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_zz.e
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_zz.e.license
  test/fullscale_tests/test_correspondence_elastic_3D/strain_xx.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_xy.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_xz.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_yy.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_yz.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_zz.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/test_correspondence_elastic_3D.cmd
  test/fullscale_tests/test_correspondence_elastic_3D/test_correspondence_elastic_3D.cmd.license
  test/fullscale_tests/test_correspondence_elastic_3D/test_correspondence_elastic_3D.jl
  test/fullscale_tests/test_correspondence_elastic_3D/test_mesh.txt
  test/runtests.jl
Due: test, deploy, pages

fix
  test/runtests.jl
Due: test

optimized crit_stretch
  src/Physics/Damage/Critical_Stretch.jl
Due: test, deploy, pages

resolve #96 for additive
  docs/src/lib/physics_functions.md
  src/Physics/Additive/Additive_Factory.jl
  src/Physics/Additive/Additive_template/additive_template.jl
  src/Physics/Additive/simple_additive.jl
  src/Physics/Physics_Factory.jl
Due: test, deploy, pages

material init to resolve #96
  src/Physics/Material/BondBased/Bondbased_Elastic.jl
  src/Physics/Material/Material_Factory.jl
  src/Physics/Material/Material_Models/Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence_Elastic.jl
  src/Physics/Material/Material_Models/Correspondence_Plastic.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
  src/Physics/Material/Material_template/material_template.jl
  src/Physics/Physics_Factory.jl
Due: test, deploy, pages

test fix
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_yy.e
Due: test

function name fix
  src/Physics/Damage/Damage_template/damage_template.jl
Due: test, deploy, pages

export
  src/Physics/Additive/simple_additive.jl
  src/Physics/Damage/Critical_Stretch.jl
  src/Physics/Damage/Damage_Factory.jl
  src/Physics/Damage/Energy_release.jl
  src/Physics/Material/Material_Models/Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence_Elastic.jl
  src/Physics/Material/Material_Models/Correspondence_Plastic.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
Due: test, deploy, pages

fix
  src/Physics/Additive/Additive_Factory.jl
Due: test, deploy, pages

thermal model init to resolve #96
  src/Physics/Physics_Factory.jl
  src/Physics/Thermal/Thermal_Factory.jl
  src/Physics/Thermal/Thermal_template/thermal_template.jl
  src/Physics/Thermal/heat_transfer.jl
  src/Physics/Thermal/thermal_expansion.jl
  src/Physics/Thermal/thermal_flow.jl
Due: test, deploy, pages

fix
  src/Physics/Material/Material_Models/Correspondence.jl
Due: test, deploy, pages

Path conditions:
  test: any of: src/**/*, test/**/*
  deploy: any of: src/**/*
  pages: any of: src/**/*, docs/**/*
