Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

bug fix
  src/Models/Damage/Energy_release.jl
Due: main_test, test, pages

documentation
  docs/src/assets/Kalthoff-Winkler_damage.png
  docs/src/assets/Kalthoff-Winkler_damage.png.license
  docs/src/assets/Kalthoff-Winkler_displacements.png
  docs/src/assets/Kalthoff-Winkler_displacements.png.license
  docs/src/refs.bib
  docs/src/verification/verification.md
Due: pages

code optimization
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
Due: main_test, test, pages

updated test references
  test/fullscale_tests/test_DCB/DCBmodel_PD_solid_temp_depended.yaml
  test/fullscale_tests/test_DCB/Reference/DCBmodel_PD_solid_temp_depended.e
  test/fullscale_tests/test_DCB/Reference/DCBmodel_correspondence_bond_associated.e
  test/fullscale_tests/test_critical_energy/critical_energy_pressure.yaml
Due: main_test, test

compute only block nodes for FEM
  src/Models/Model_Factory.jl
Due: main_test, test, pages

edit changelog
  CHANGELOG.md
Due: none

refac Tagbot
  .github/workflows/TagBot.yml
Due: none

at total runtime
  src/PeriLab.jl
Due: main_test, test, pages

Fixed multistep additive
  src/Core/Solver/Solver_manager.jl
Due: main_test, test, pages

added step logging
  src/PeriLab.jl
Due: main_test, test, pages

added vsplotter
  .vscode/extensions.json
Due: none

optimized hetval performance
  src/Core/Data_manager/data_manager_fields.jl
  src/Core/Solver/Solver_manager.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Pre_calculation/Pre_Calculation_Factory.jl
  src/Models/Thermal/heat_transfer.jl
  src/Models/Thermal/hetval.jl
Due: main_test, test, pages

fix #383
  src/Core/Solver/Matrix_linear_static.jl
Due: main_test, test, pages

CompatHelper: bump compat for TimerOutputs to 1, (keep existing compat)
  Project.toml
Due: none

Removed abaqus and edited read mesh
  examples/Abaqus/Dogbone.inp
  examples/Abaqus/Dogbone.inp.license
  examples/Abaqus/Dogbone.yaml
  src/IO/mesh_data.jl
Due: main_test, test, pages

Added temp. dependent yield stress, resolving #387
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

Added horizon mesh scaling #384
  src/Core/Data_manager.jl
  src/IO/mesh_data.jl
  src/Models/Damage/Energy_release.jl
  src/Models/Model_Factory.jl
  src/Support/Helpers.jl
  src/Support/Parameters/parameter_handling_mesh.jl
  test/unit_tests/Models/Damage/ut_Energy_release.jl
Due: main_test, test, pages

edit changelog
  CHANGELOG.md
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

refac
  test/unit_tests/IO/ut_IO.jl
Due: main_test, test

bump version
  CHANGELOG.md
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

Fixed von mises calculation
  src/Compute/compute_field_values.jl
Due: main_test, test, pages

refac
  test/fullscale_tests/test_Correspondence_Elastic_Plastic/correspondence_elastic_plastic.yaml
Due: main_test, test

strip gcode callback commands
  src/IO/gcode.jl
Due: main_test, test, pages

code improvements
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/Global_Zero_Energy_Control.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/Zero_Energy_Control.jl
  src/Models/Pre_calculation/bond_deformation.jl
Due: main_test, test, pages

error fix
  src/Models/Material/Material_Models/Zero_Energy_Control/Global_Zero_Energy_Control.jl
Due: main_test, test, pages

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
