Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

build based on aa588b6
  dev/.documenter-siteinfo.json
  dev/assets/themes/catppuccin-frappe.css
  dev/assets/themes/catppuccin-latte.css
  dev/assets/themes/catppuccin-macchiato.css
  dev/assets/themes/catppuccin-mocha.css
  dev/assets/themes/documenter-dark.css
  dev/assets/themes/documenter-light.css
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Fixed model ordering
  src/Models/Model_Factory.jl
  src/Support/Parameters/parameter_handling_solver.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

optimzed get_property
  src/Core/data_manager.jl
  src/Support/geometry.jl
Due: main_test, test, pages

build based on 5b99773
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

optimization
  src/Models/Material/material_basis.jl
Due: main_test, test, pages

heat distribution
  src/Models/Model_Factory.jl
  src/Models/Thermal/Thermal_Factory.jl
Due: main_test, test, pages

code cleaning
  src/Models/Damage/Critical_Stretch.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Damage/Damage_template/damage_template.jl
  src/Models/Damage/Energy_release.jl
  test/unit_tests/Models/ut_templates.jl
Due: main_test, test, pages

code imprivement
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages

added PointNeighbors
  Project.toml
  src/IO/mesh_data.jl
  src/Support/helpers.jl
Due: main_test, test, pages

build based on 0bccdd5
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

bug fixes
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
  src/Models/Material/material_basis.jl
Due: main_test, test, pages

fix bond based error
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
  src/Models/Model_Factory.jl
Due: main_test, test, pages

resolved #196
  src/Models/Material/material_basis.jl
  test/fullscale_tests/test_bond_based_elastic/Reference/test_bond_based_elastic_2D.e
  test/fullscale_tests/test_bond_based_elastic/Reference/test_bond_based_elastic_3D.e
  test/fullscale_tests/test_bond_based_elastic/test_bond_based_elastic_2D.yaml
  test/fullscale_tests/test_bond_based_elastic/test_bond_based_elastic_3D.yaml
  test/fullscale_tests/test_point_wise_material/Reference/test_point_wise_material_bond_based.e
  test/fullscale_tests/test_point_wise_material/test_point_wise_material_bond_based.yaml
  test/fullscale_tests/test_thermal_expansion/Reference/thermal_expansion_bond_based.e
  test/fullscale_tests/test_thermal_expansion/thermal_expansion_bond_based.yaml
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test, pages

removed unnecessary mpi call
  src/MPI_communication/MPI_communication.jl
Due: main_test, test, pages

debug
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
Due: main_test, test, pages

fix bond based error
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
Due: main_test, test, pages

test fixes and cleaning
  test/fullscale_tests/test_point_wise_material/Reference/test_point_wise_material_PD_solid.e
  test/fullscale_tests/test_point_wise_material/Reference/test_point_wise_material_bond_based.e
  test/fullscale_tests/test_point_wise_material/Reference/test_point_wise_material_correspondence.e
  test/fullscale_tests/test_point_wise_material/Reference/test_point_wise_materialbond_based.e
  test/fullscale_tests/test_point_wise_material/Reference/test_point_wise_materialbond_based.e.license
Due: main_test, test

removed include
  test/unit_tests/IO/ut_IO.jl
Due: main_test, test

comments
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages

build based on 65a0b9d
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

sove #190 solve #186
  test/unit_tests/Models/Material/Material_Models/BondBased/ut_Bondbased_Elastic.jl
Due: main_test, test

removed function duplicate
  src/Models/Material/Material_template/correspondence_template.jl
  src/Models/Material/Material_template/material_template.jl
Due: main_test, test, pages

fixed test file
  test/fullscale_tests/test_point_wise_material/Reference/test_point_wise_material_bond_based.e
Due: main_test, test

added two_block test #195
  test/fullscale_tests/test_DCB/test_DCB.jl
  test/fullscale_tests/test_two_block/one_block.yaml
  test/fullscale_tests/test_two_block/test_mesh_one.txt
  test/fullscale_tests/test_two_block/test_mesh_two.txt
  test/fullscale_tests/test_two_block/test_two_block.cmd
  test/fullscale_tests/test_two_block/test_two_block.cmd.license
  test/fullscale_tests/test_two_block/test_two_block.jl
  test/fullscale_tests/test_two_block/two_block.yaml
  test/helper.jl
  test/runtests.jl
Due: main_test, test

added hetval interface
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Thermal/Thermal_template/thermal_template.jl
  src/Models/Thermal/hetval.jl
  src/Support/Parameters/parameter_handling.jl
  test/fullscale_tests/test_hetval/Reference/hetval.e
  test/fullscale_tests/test_hetval/Reference/hetval.e.license
  test/fullscale_tests/test_hetval/hetval.f
  test/fullscale_tests/test_hetval/hetval.f.license
  test/fullscale_tests/test_hetval/hetval.so
  test/fullscale_tests/test_hetval/hetval.so.license
  test/fullscale_tests/test_hetval/hetval.yaml
  test/fullscale_tests/test_hetval/test_hetval.cmd
  test/fullscale_tests/test_hetval/test_hetval.cmd.license
  test/fullscale_tests/test_hetval/test_hetval.jl
  test/fullscale_tests/test_hetval/test_mesh.txt
  test/runtests.jl
  test/unit_tests/Models/ut_templates.jl
Due: main_test, test, pages

finished two_block test closing #195
  test/fullscale_tests/test_two_block/test_two_block.jl
  test/helper.jl
Due: main_test, test

code cleaning
  src/Core/data_manager.jl
Due: main_test, test, pages

coding style
  src/Core/data_manager.jl
Due: main_test, test, pages

Fixed inital option
  src/Core/BC_manager.jl
Due: main_test, test, pages

fixed calculation options
  src/Compute/compute_field_values.jl
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Verlet.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Model_Factory.jl
  src/Support/Parameters/parameter_handling_solver.jl
Due: main_test, test, pages

Fixed fortran routines
  src/IO/IO.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Thermal/Thermal_Factory.jl
  src/Models/Thermal/hetval.jl
Due: main_test, test, pages

Fixed test cmd files
  src/Models/Damage/Energy_release.jl
  src/Support/Parameters/parameter_handling.jl
  test/fullscale_tests/test_Abaqus/test_Abaqus.cmd
  test/fullscale_tests/test_BCs/test_BCs.cmd
  test/fullscale_tests/test_DCB/DCBmodel_PD_solid.yaml
  test/fullscale_tests/test_DCB/Reference/DCBmodel_PD_solid.e
  test/fullscale_tests/test_DCB/test_DCB.cmd
  test/fullscale_tests/test_DCB/test_DCB.jl
  test/fullscale_tests/test_FEM/test_FEM.cmd
  test/fullscale_tests/test_additive/test_additive.cmd
  test/fullscale_tests/test_aniso_damage/test_aniso_damage.cmd
  test/fullscale_tests/test_body_force/test_body_force.cmd
  test/fullscale_tests/test_correspondence_elastic_plastic/test_correspondence_elastic_plastic.cmd
  test/fullscale_tests/test_critical_energy/test_critical_energy.cmd
  test/fullscale_tests/test_critical_stretch/test_critical_stretch.cmd
  test/fullscale_tests/test_dogbone/test_dogbone.cmd
  test/fullscale_tests/test_heat_transfer/Reference/heat_transfer.e
  test/fullscale_tests/test_heat_transfer/heat_transfer.yaml
  test/fullscale_tests/test_heat_transfer/test_heat_transfer.cmd
  test/fullscale_tests/test_hetval/test_hetval.cmd
  test/fullscale_tests/test_thermal_expansion/test_thermal_expansion.cmd
  test/fullscale_tests/test_thermal_flow/Reference/thermal_flow.e
  test/fullscale_tests/test_thermal_flow/test_thermal_flow.cmd
  test/fullscale_tests/test_thermal_flow_paper/test_thermal_flow.cmd
  test/fullscale_tests/test_two_block/test_two_block.cmd
  test/fullscale_tests/test_two_block/test_two_block.cmd.license
  test/fullscale_tests/test_two_block/test_two_block.jl
  test/helper.jl
Due: main_test, test, pages

added nodeset range option
  src/Support/Parameters/parameter_handling_mesh.jl
Due: main_test, test, pages

refac umats
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Thermal/hetval.jl
Due: main_test, test, pages

enable logging for fullscale tests
  test/runtests.jl
Due: main_test, test

Fix tests
  test/fullscale_tests/test_Abaqus/test_Abaqus.cmd
  test/fullscale_tests/test_BCs/Reference/displacements.e
  test/fullscale_tests/test_BCs/displacements.yaml
  test/fullscale_tests/test_critical_energy/test_critical_energy.cmd
  test/fullscale_tests/test_critical_stretch/test_critical_stretch.cmd
  test/fullscale_tests/test_thermal_flow/Reference/thermal_flow_correspondence.e
  test/fullscale_tests/test_thermal_flow/test_thermal_flow.cmd
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_UMAT.jl
Due: main_test, test

refac docs
  docs/src/lib/functions.md
  docs/src/lib/io_functions.md
  docs/src/lib/models_functions.md
  src/Models/Pre_calculation/Pre_Calculation_Factory.jl
Due: main_test, test, pages

edit changelog
  CHANGELOG.md
Due: none

build based on 1aa99d9
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
