Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, deploy, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

stages:
  - test
  - benchmark
  - deploy

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

test:
  stage: test
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e "import Pkg; Pkg.test(; coverage = true)"
    # - julia --project=test/coverage -e 'import Pkg; Pkg.instantiate()'
    # - julia --project=test/coverage test/coverage/coverage-summary.jl

    - julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    refs:
      - main
    changes:
      - src/**/*
  script:
    - docker build -t perihub/perilab .
    - docker push perihub/perilab

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

typo fix
  test/unit_tests/FEM/Element_formulation/ut_lagrange_element.jl
Due: test

test fix
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: test

get element type
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_FEM.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: test, deploy, pages

get_element_degree
  src/Support/Parameters/parameter_handling_FEM.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: test, deploy, pages

valid_models
  src/FEM/FEM_Factory.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: test, deploy, pages

added juliahub application main
  .gitlab-ci.yml
  Project.toml
  bin/main.jl
  src/PeriLab.jl
Due: test, deploy, pages

fixed dir paths
  src/IO/IO.jl
  src/PeriLab.jl
  src/Support/Parameters/parameter_handling_output.jl
Due: test, deploy, pages

fixed zipping
  Project.toml
  bin/main.jl
  examples/DCB/DCBmodel.yaml
Due: none

added info
  src/PeriLab.jl
Due: test, deploy, pages

edit readme
  README.md
Due: none

removed codecov from release
  .gitlab-ci.yml
  Project.toml
Due: none

added initial anisotropic_damage
  Project.toml
  README.md
  docs/src/lib/functions.md
  docs/src/lib/io_functions.md
  docs/src/lib/physics_functions.md
  examples/Compact_Tension/CompactTension.txt
  examples/Compact_Tension/CompactTension.yaml
  examples/Small/Input.yaml
  examples/Small/simpleMesh.txt
  examples/functionalities.yaml
  src/Core/Solver/Verlet.jl
  src/Physics/Damage/Critical_Stretch.jl
  src/Physics/Damage/Damage_Factory.jl
  src/Physics/Damage/Energy_release.jl
  src/Physics/Physics_Factory.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/data_manager.jl
  src/Support/geometry.jl
Due: test, deploy, pages

rotation_data("Element")
  src/Support/data_manager.jl
  test/unit_tests/Support/ut_data_manager.jl
Due: test, deploy, pages

added logging tests
  src/IO/logging.jl
  test/runtests.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/IO/ut_logging.jl
Due: test, deploy, pages

free size field
  src/Support/data_manager.jl
  test/unit_tests/Support/ut_data_manager.jl
Due: test, deploy, pages

get_number_of_integration_points
  src/FEM/Element_formulation/lagrange_element.jl
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
  test/unit_tests/FEM/Element_formulation/ut_lagrange_element.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: test, deploy, pages

element matrices
  src/FEM/FEM_Factory.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: test, deploy, pages

coding style
  src/Core/BC_manager.jl
Due: test, deploy, pages

current state FEM implementation
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: test, deploy, pages

updated Aniso Damage
  examples/Compact_Tension/CompactTension.txt
  examples/Compact_Tension/CompactTension.yaml
  examples/Small/Input.yaml
  examples/Small/simpleMesh.txt
  src/Core/Solver/Verlet.jl
  src/IO/mesh_data.jl
  src/Physics/Damage/Damage_Factory.jl
  src/Physics/Damage/Energy_release.jl
  src/Physics/Physics_Factory.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/geometry.jl
Due: test, deploy, pages

added data_manager test and removed functions
  docs/src/lib/functions.md
  src/Support/data_manager.jl
  test/unit_tests/Support/ut_data_manager.jl
Due: test, deploy, pages

added node_set test
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: test

added perilab test
  Project.toml
  src/PeriLab.jl
  test/runtests.jl
  test/unit_tests/ut_perilab.jl
Due: test, deploy, pages

added ut_get_partial_stresses
  src/Compute/compute_field_values.jl
  test/unit_tests/Compute/ut_compute_field_values.jl
Due: test, deploy, pages

minor fix
  src/FEM/FEM_Factory.jl
Due: test, deploy, pages

FEM support
  src/Physics/Material/BondBased/Bondbased_Elastic.jl
  src/Physics/Material/Material_Models/Correspondence_Elastic.jl
  src/Physics/Material/Material_Models/Correspondence_Plastic.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
  src/Physics/Material/Material_template/material_template.jl
Due: test, deploy, pages

get FE material model
  src/FEM/FEM_routines.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: test, deploy, pages

moved init_orientations close #133
  docs/src/lib/io_functions.md
  src/IO/IO.jl
  src/Physics/Material/Material_Models/Correspondence.jl
Due: test, deploy, pages

added tests
  test/unit_tests/IO/ut_exodus_export.jl
  test/unit_tests/Physics/ut_templates.jl
Due: test

added get_Hooke_matrix test
  src/Physics/Material/material_basis.jl
  test/unit_tests/Physics/Material/ut_material_basis.jl
Due: test, deploy, pages

added tests
  test/unit_tests/Compute/ut_compute_field_values.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/IO/ut_exodus_export.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
  test/unit_tests/Physics/Material/ut_material_basis.jl
Due: test

added usermat
  src/Physics/Material/Material_Models/Umats/base.f
  src/Physics/Material/Material_Models/Umats/libusermat.so
  src/Physics/Material/Material_Models/Umats/libusermat.so.license
  src/Physics/Material/Material_Models/User_Correspondence.jl
Due: test, deploy, pages

added tests
  src/Core/Module_inclusion/set_Modules.jl
  src/IO/exodus_export.jl
  src/IO/mesh_data.jl
  src/Physics/Material/BondBased/Bondbased_Elastic.jl
  test/unit_tests/Core/Module_inclusion/ut_set_Modules.jl
  test/unit_tests/Core/ut_BC_manager.jl
  test/unit_tests/IO/ut_exodus_export.jl
  test/unit_tests/IO/ut_mesh_data.jl
  test/unit_tests/Physics/Material/Material_Models/BondBased/ut_Bondbased_Elastic.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: test, deploy, pages

restructuring
  src/FEM/FEM_routines.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: test, deploy, pages

resolve #134 and #135
  src/FEM/FEM_routines.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: test, deploy, pages

jacobi integration in init
  src/FEM/FEM_Factory.jl
  src/Physics/Material/Material_Models/Correspondence_Elastic.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: test, deploy, pages

fixed bugs
  examples/Compact_Tension/CompactTension.txt
  examples/Compact_Tension/CompactTension.yaml
  src/Physics/Damage/Energy_release.jl
  src/Support/Parameters/parameter_handling_solver.jl
Due: test, deploy, pages

fixed rotations
  examples/Compact_Tension/CompactTension.txt
  examples/Compact_Tension/CompactTension.yaml
  src/Physics/Damage/Energy_release.jl
Due: test, deploy, pages

resolves #89; #87
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: test, deploy, pages

get_FE_mesh_name
  src/Support/Parameters/parameter_handling_mesh.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: test, deploy, pages
