Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

memory optim
  src/Support/Helpers.jl
Due: main_test, test, pages

optimize contact
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Penalty_model.jl
Due: main_test, test, pages

error fix
  src/Models/Material/Material_Models/Zero_Energy_Control/Global_Zero_Energy_Control.jl
Due: main_test, test, pages

added g2 and g3 commands #389
  scripts/gcode_reader.jl
  src/IO/gcode.jl
Due: main_test, test, pages

efficiency
  src/Models/Thermal/Thermal_Factory.jl
  src/Models/Thermal/heat_transfer.jl
  src/Models/Thermal/thermal_expansion.jl
  src/Models/Thermal/thermal_flow.jl
  src/Support/Helpers.jl
  test/unit_tests/Models/Thermal/ut_Heat_transfer.jl
Due: main_test, test, pages

g2 and g3 commands #389
  scripts/gcode_reader.jl
  src/IO/gcode.jl
Due: main_test, test, pages

refac
  src/Models/Thermal/heat_transfer.jl
Due: main_test, test, pages

edit changelog
  CHANGELOG.md
Due: none

CompatHelper: bump compat for NLsolve to 5, (keep existing compat)
  Project.toml
Due: none

bump version
  Project.toml
Due: none

always print step_id
  src/Core/Solver/Solver_manager.jl
  src/IO/IO.jl
  src/PeriLab.jl
  src/Support/Parameters/parameter_handling_output.jl
  src/Support/Parameters/parameter_handling_solver.jl
Due: main_test, test, pages

refac
  src/Core/Data_manager/data_manager_status_vars.jl
  src/Core/Solver/Solver_manager.jl
  src/PeriLab.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

edit toml
  Project.toml
Due: none

Edit cuarray
  src/MPI_communication/MPI_communication.jl
Due: main_test, test, pages

refac
  src/Core/BC_manager.jl
  src/Core/Solver/Solver_manager.jl
  src/IO/IO.jl
  src/Models/Model_Factory.jl
  src/PeriLab.jl
  src/Support/Parameters/parameter_handling_solver.jl
Due: main_test, test, pages

added bb_force_kernel!
  Project.toml
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
Due: main_test, test, pages

added get_dependent_value_function
  src/Models/Damage/Energy_release.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

optim
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
Due: main_test, test, pages

refac
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

CompatHelper: bump compat for Meshes to 0.58, (keep existing compat)
  Project.toml
Due: none

solving #396
  src/IO/IO.jl
  src/IO/exodus_export.jl
  test/fullscale_tests/test_bond_value_export/Reference/bond_value_export.e
  test/fullscale_tests/test_bond_value_export/Reference/bond_value_export.e.license
  test/fullscale_tests/test_bond_value_export/Reference/bond_value_export_block_wise.e
  test/fullscale_tests/test_bond_value_export/Reference/bond_value_export_block_wise.e.license
  test/fullscale_tests/test_bond_value_export/bond_value_export.yaml
  test/fullscale_tests/test_bond_value_export/bond_value_export_block_wise.yaml
  test/fullscale_tests/test_bond_value_export/test_bond_value_export.cmd
  test/fullscale_tests/test_bond_value_export/test_bond_value_export.cmd.license
  test/fullscale_tests/test_bond_value_export/test_bond_value_export.jl
  test/fullscale_tests/test_bond_value_export/test_mesh.txt
  test/fullscale_tests/test_bond_value_export/test_mesh_crit.txt
  test/runtests.jl
  test/unit_tests/IO/ut_exodus_export.jl
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test, pages

code improvements
  src/Models/Damage/Critical_Stretch.jl
  src/Models/Damage/Energy_release.jl
  src/Support/Geometry.jl
Due: main_test, test, pages

adding test
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test

fixes
  src/IO/IO.jl
  src/IO/exodus_export.jl
  src/Models/Damage/Energy_release.jl
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
  src/Support/Helpers.jl
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test, pages

bug fixes
  src/IO/IO.jl
  src/Models/Material/Material_Basis.jl
Due: main_test, test, pages

test fix
  src/IO/exodus_export.jl
  test/fullscale_tests/test_bond_value_export/Reference/bond_value_export.e
Due: main_test, test, pages

fix bond export and adding multicore #396
  src/IO/IO.jl
  src/IO/exodus_export.jl
  test/fullscale_tests/test_bond_value_export/Reference/bond_value_export.e
  test/fullscale_tests/test_bond_value_export/Reference/bond_value_export_block_wise.e
  test/fullscale_tests/test_bond_value_export/bond_value_export.yaml
  test/fullscale_tests/test_bond_value_export/bond_value_export_block_wise.yaml
  test/fullscale_tests/test_bond_value_export/nodeset.txt
  test/fullscale_tests/test_bond_value_export/test_bond_value_export.jl
  test/fullscale_tests/test_bond_value_export/test_mesh.txt
Due: main_test, test, pages
