Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

CompatHelper: bump compat for DataStructures to 0.19, (keep existing compat)
  Project.toml
Due: none

Fixed nodeset eval for twoD
  src/Support/Parameters/parameter_handling_mesh.jl
Due: main_test, test, pages

added time logging to end
  src/PeriLab.jl
Due: main_test, test, pages

refac
  test/unit_tests/Models/Thermal/ut_Heat_transfer.jl
Due: main_test, test

edit changelog
  CHANGELOG.md
Due: none

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

opimized critical stretch
  src/Models/Damage/Critical_Stretch.jl
Due: main_test, test, pages

Allow state variables for compute parameters
  src/IO/IO.jl
  src/Support/Parameters/parameter_handling_computes.jl
Due: main_test, test, pages

Added time dep. Environmental Temperature
  src/Models/Thermal/heat_transfer.jl
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

Added Print Bed Z Coordinate and optimized Print Bed thermal flow
  src/Models/Thermal/thermal_flow.jl
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

refac
  test/fullscale_tests/test_thermal_flow/Reference/thermal_flow.e
  test/fullscale_tests/test_thermal_flow/test_thermal_flow.cmd
Due: main_test, test

refac
  test/unit_tests/Models/Thermal/ut_Thermal_flow.jl
Due: main_test, test

edit changelog
  CHANGELOG.md
  README.md
Due: none

update docker image
  Dockerfile
Due: none

new field types
  src/Core/Data_manager/datamanager_data_types.jl
Due: main_test, test, pages

update
  src/Core/Data_manager/datamanager_data_types.jl
Due: main_test, test, pages

current state
  Project.toml
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_fields.jl
  src/Core/Data_manager/datamanager_data_types.jl
  test/fullscale_tests/test_DCB/DCBmodel_correspondence.yaml
Due: main_test, test, pages

current state of memory optization
  src/Core/Data_manager/Types/BondField.jl
  src/Core/Data_manager/Types/ElementField.jl
  src/Core/Data_manager/Types/FreeSizeField.jl
  src/Core/Data_manager/Types/NodeField.jl
  src/Core/Data_manager/datamanager_data_types.jl
Due: main_test, test, pages

optimal
  src/Core/Data_manager/Types/NodeField.jl
Due: main_test, test, pages

test
  src/Core/Data_manager/Types/FreeSizeField.jl
Due: main_test, test, pages

test
  src/Core/Data_manager/data_manager_fields.jl
  src/Models/Damage/Energy_release.jl
Due: main_test, test, pages

new data types
  src/Core/Data_manager/Types/BondField.jl
  src/Core/Data_manager/Types/ElementField.jl
  src/Core/Data_manager/Types/FreeSizeField.jl
  src/Core/Data_manager/Types/NodeField.jl
  src/Core/Data_manager/data_manager_fields.jl
Due: main_test, test, pages

datatype fix
  src/Core/Data_manager/Types/BondField.jl
Due: main_test, test, pages

get field
  src/Core/Data_manager/data_manager_fields.jl
Due: main_test, test, pages

new style
  src/Core/Data_manager/data_manager_solving_process.jl
  src/Core/Solver/Verlet.jl
  src/Models/Damage/Energy_release.jl
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Ordinary/Ordinary.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Models/Thermal/heat_transfer.jl
  src/Models/Thermal/thermal_flow.jl
  src/Support/Geometry.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

current
  src/Compute/compute_field_values.jl
  src/Models/Damage/Energy_release.jl
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Models/Material/Material_template/correspondence_template.jl
  src/Support/Geometry.jl
  src/Support/Helpers.jl
  test/fullscale_tests/test_DCB/DCBmodel_correspondence.yaml
Due: main_test, test, pages

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
