Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

cleaning
  test/unit_tests/Contact/ut_Contact_search.jl
Due: main_test, test

test update
  test/unit_tests/Contact/ut_Contact_search.jl
Due: main_test, test

add new figure
  docs/src/assets/collocation_points.png
  docs/src/assets/collocation_points.png.license
  docs/src/lecture/seminar_2.md
Due: pages

seminar 2 stuff
  examples/Seminars/Part_02/function_generate_grid_fixed_spacing.jl
  examples/Seminars/Part_02/seminar_02.txt
  examples/Seminars/Part_02/seminar_02.yaml
Due: none

time measurement for search
  src/Models/Contact/Contact_Factory.jl
Due: main_test, test, pages

typo
  docs/src/lecture/seminar_2.md
Due: pages

model update
  examples/Disk_impact/Disk_impact.yaml
Due: none

Added search radius to contact model
  examples/Disk_impact/Disk_impact.yaml
  examples/contact/contact.yaml
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
  src/Models/Contact/Penalty_model.jl
  src/Support/Parameters/parameter_handling.jl
  test/fullscale_tests/test_penalty_contact/contact.yaml
  test/fullscale_tests/test_penalty_contact/penalty_contact.yaml
  test/unit_tests/Contact/ut_Contact_Factory.jl
  test/unit_tests/Contact/ut_Contact_search.jl
Due: main_test, test, pages

seminar 3
  docs/src/assets/bond_energy.png
  docs/src/assets/bond_energy.png.license
  docs/src/assets/bond_vs_global_damage.png
  docs/src/assets/bond_vs_global_damage.png.license
  docs/src/assets/phase_velocity.png
  docs/src/assets/phase_velocity.png.license
  docs/src/lecture/lecture.md
  docs/src/lecture/seminar_3.md
  docs/src/lecture/seminar_4.md
  docs/src/lecture/seminar_5.md
  docs/src/lecture/seminar_5.md.license
  docs/src/refs.bib
  examples/Seminars/Part_03/function_generate_grid_fixed_spacing.jl
  examples/Seminars/Part_03/seminar_03.txt
  examples/Seminars/Part_03/seminar_03.yaml
  examples/Seminars/Part_03/seminar_03_ns1.txt
  examples/Seminars/Part_03/seminar_03_ns2.txt
Due: pages

Optimized search
  src/FEM/Coupling/Arlequin_coupling.jl
  src/IO/mesh_data.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

fixed contact test
  test/unit_tests/Contact/ut_Contact_search.jl
Due: main_test, test

fix tests
  test/unit_tests/Contact/ut_Contact_search.jl
Due: main_test, test

style
  docs/src/lecture/seminar_3.md
Due: pages

new paper
  docs/src/refs.bib
  docs/src/theory/theory_FEM_PD_coupling.md
Due: pages

Fixed logging for silent mode
  src/IO/gcode.jl
Due: main_test, test, pages

edit changelog
  CHANGELOG.md
Due: none

update template
  .github/ISSUE_TEMPLATE/01_bug_report.yml
Due: none

bump version
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

update
  docs/src/lecture/seminar_3.md
Due: pages

fixes
  docs/src/lecture/seminar_3.md
Due: pages

Edit contact name
  examples/Contact/Contact.yaml
  examples/Contact/mesh.txt
  examples/Contact/ns_1.txt
  examples/Contact/ns_2.txt
Due: none

CompatHelper: bump compat for Exodus to 0.14, (keep existing compat)
  Project.toml
Due: none

CompatHelper: bump compat for Meshes to 0.53, (keep existing compat)
  Project.toml
Due: none

corrections
  docs/src/theory/theory_ordinary.md
Due: pages
