Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

seminar 09
  docs/src/lecture/seminar_9.md
  examples/Seminars/Part_09/seminar.jl
Due: pages

documentation
  docs/src/man/dev/datamanager.md
Due: pages

test fix
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test

code improvements
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_MPI.jl
  src/Core/Data_manager/data_manager_solving_process.jl
  src/Core/Data_manager/data_manager_status_vars.jl
  src/Core/Data_manager/data_manager_utilities.jl
Due: main_test, test, pages

update
  docs/src/lecture/seminar_9.md
Due: pages

document
  docs/src/lecture/seminar_9.md
Due: pages

lecture update
  docs/src/lecture/seminar_8.md
  docs/src/lecture/seminar_9.md
Due: pages

optimizing global control
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_status_vars.jl
  src/Models/Damage/Critical_Stretch.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

update
  README.md
  src/Core/Data_manager.jl
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

test fix
  src/FEM/FEM_routines.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Surface_correction/Surface_correction.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

test fix
  src/IO/IO.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test, pages

improve MPI calls
  src/MPI_communication/MPI_communication.jl
Due: main_test, test, pages

fix
  src/MPI_communication/MPI_communication.jl
Due: main_test, test, pages

interface fix
  src/FEM/FEM_routines.jl
  src/MPI_communication/MPI_communication.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test, pages

interface
  src/FEM/FEM_routines.jl
Due: main_test, test, pages

renamed send_value to broadcast_value
  docs/src/lib/mpi_functions.md
  src/IO/mesh_data.jl
  src/MPI_communication/MPI_communication.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
Due: main_test, test, pages

dont delete output files for debug
  src/PeriLab.jl
Due: main_test, test, pages

fixed global value calc for MPI
  src/Compute/compute_global_values.jl
  src/IO/IO.jl
  src/Support/Parameters/parameter_handling_computes.jl
Due: main_test, test, pages

added assert
  src/Core/Data_manager/data_manager_fields.jl
  src/Support/Parameters/parameter_handling_mesh.jl
Due: main_test, test, pages

refac
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

refac
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
Due: main_test, test, pages

Fixed node set data ids
  src/IO/IO.jl
Due: main_test, test, pages

bad fix
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
Due: main_test, test, pages

1D bond based
  src/Models/Material/Material_Models/BondBased/1D_Bondbased_Elastic.jl
  test/fullscale_tests/test_bond_based_elastic/test_bond_based_elastic_1D.yaml
  test/fullscale_tests/test_bond_based_elastic/test_mesh_1D.txt
Due: main_test, test, pages

test fixes
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: main_test, test, pages

fix
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: main_test, test

fix
  src/FEM/FEM_routines.jl
Due: main_test, test, pages

test fix
  src/FEM/Coupling/Arlequin_coupling.jl
  src/FEM/Coupling/Coupling_Factory.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: main_test, test, pages

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
