Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

update
  docs/src/man/solver/solver.md
  examples/Benchmark/Benchmark_4dx_1000.yaml
  examples/Dogbone/Dogbone.yaml
  examples/ENFmodel/ENFmodel.yaml
  test/fullscale_tests/test_FEM/FEM_p1_1_2d.yaml
  test/fullscale_tests/test_FEM/FEM_p1_2d.yaml
  test/fullscale_tests/test_thermal_flow/thermal_flow_correspondence.yaml
  test/fullscale_tests/test_thermal_flow_paper/thermal_flow.yaml
Due: main_test, test, pages

small fix
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test

docu update
  docs/src/man/dev/developement_guide.md
  docs/src/man/dev/parameters.md
Due: pages

Fixed missing symmetry and added rotation warning
  examples/Compact_Tension/CompactTension.yaml
  src/IO/IO.jl
  src/IO/exodus_export.jl
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Elastic.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Support/Geometry.jl
  test/unit_tests/Models/Material/Zero_Energy_Control/ut_global_control.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
  test/unit_tests/Support/ut_geometry.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

build based on 186368f
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_FEM/index.html
  dev/theory/theory_FEM_PD_coupling/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

solve #197
  docs/src/man/models/damage.md
  docs/src/refs.bib
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Model_Factory.jl
  test/fullscale_tests/test_DCB/DCBmodel_PD_solid_local_damping.yaml
  test/fullscale_tests/test_DCB/Reference/DCBmodel_PD_solid_local_damping.e
  test/fullscale_tests/test_DCB/Reference/DCBmodel_PD_solid_local_damping.e.license
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test, pages

surface correction theory
  docs/make.jl
  docs/src/theory/theory_surface_correction.md
  docs/src/theory/theory_surface_correction.md.license
Due: pages

fixed multistep output
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet.jl
  src/IO/IO.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Elastic.jl
  src/Models/Model_Factory.jl
  src/PeriLab.jl
Due: main_test, test, pages

fixed test
  test/unit_tests/IO/ut_IO.jl
Due: main_test, test

solve #182
  docs/src/refs.bib
  docs/src/theory/theory_surface_correction.md
  examples/work/test_mesh_2D.txt
  src/Core/Data_manager.jl
  src/Core/Solver/Solver_control.jl
  src/Models/Model_Factory.jl
  src/Models/Surface_correction/Surface_correction.jl
  test/fullscale_tests/test_DCB/thermal_test.yaml
  test/fullscale_tests/test_Surface_correction/Reference/test_volume_correction.e
  test/fullscale_tests/test_Surface_correction/Reference/test_volume_correction.e.license
  test/fullscale_tests/test_Surface_correction/test_mesh.txt
  test/fullscale_tests/test_Surface_correction/test_surface_correction.jl
  test/fullscale_tests/test_Surface_correction/test_volume_correction.cmd
  test/fullscale_tests/test_Surface_correction/test_volume_correction.cmd.license
  test/fullscale_tests/test_Surface_correction/test_volume_correction.yaml
  test/runtests.jl
  test/unit_tests/Surface_correction/ut_Surface_correction.jl
Due: main_test, test, pages

test fixes
  src/Models/Surface_correction/Surface_correction.jl
  test/runtests.jl
  test/unit_tests/Surface_correction/ut_Surface_correction.jl
Due: main_test, test, pages

fixes
  src/Models/Surface_correction/Surface_correction.jl
  test/fullscale_tests/test_DCB/Reference/DCBmodel_PD_solid_local_damping.e
  test/fullscale_tests/test_DCB/test_DCB.jl
  test/fullscale_tests/test_Surface_correction/test_surface_correction.jl
  test/runtests.jl
  test/unit_tests/Surface_correction/ut_Surface_correction.jl
Due: main_test, test, pages

fixes
  src/Models/Surface_correction/Surface_correction.jl
  test/fullscale_tests/test_Surface_correction/test_Surface_correction.jl
Due: main_test, test, pages

call fixes
  docs/make.jl
  test/runtests.jl
Due: main_test, test, pages

update test
  test/fullscale_tests/test_Surface_correction/Reference/test_volume_correction.e
Due: main_test, test

update exodus
  test/fullscale_tests/test_Surface_correction/Reference/test_volume_correction.e
Due: main_test, test

optimization
  src/Core/Solver/Static_solver.jl
  src/Models/Model_Factory.jl
  src/Models/Thermal/hetval.jl
Due: main_test, test, pages

fixed test
  test/fullscale_tests/test_Surface_correction/test_Surface_correction.cmd
  test/fullscale_tests/test_Surface_correction/test_Surface_correction.cmd.license
Due: main_test, test

docu update
  docs/src/theory/theory_surface_correction.md
Due: pages

Updated IO.jl
  src/IO/IO.jl
Due: main_test, test, pages

edit CONTRIBUTING
  CONTRIBUTING.md
Due: none

Edit max. damage cancel
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages

solver doku with new options
  docs/src/man/solver/solver.md
Due: pages

adding start solution option
  examples/Dogbone/Dogbone_plastic_corr_static.yaml
  src/Core/Solver/Static_solver.jl
  test/fullscale_tests/test_Surface_correction/test_volume_correction.yaml
  test/fullscale_tests/test_bond_based_elastic/test_static_bond_based_elastic_2D.yaml
Due: main_test, test, pages

minor fix
  src/Core/Solver/Static_solver.jl
Due: main_test, test, pages

update and fix
  docs/src/man/solver/solver.md
  examples/Dogbone/Dogbone_plastic_corr_static.yaml
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages
