Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, deploy, pages

test:
  stage: test
  script:
  - julia --project=@. -e "import Pkg; Pkg.test(; coverage = true)"
  - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
    paths:
    - test

deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
  - docker logout
  stage: deploy
  script:
  - docker build -t perihub/perilab .
  - docker push perihub/perilab

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

added atexit functions
  src/Core/Solver/Verlet.jl
  src/PeriLab.jl
Due: test, deploy, pages

Training example
  examples/Training/Input.yaml
  examples/Training/simpleMesh.txt
  examples/Training/simpleMesh_add_2D_var.txt
  examples/Training/simpleMesh_add_Angles.txt
  examples/Training/simpleMesh_add_var.txt
  examples/Training/state.pvsm
  examples/Training/state.pvsm.license
Due: none

comment
  docs/src/man/getting_started.md
Due: pages

memory fixes
  src/Physics/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Physics/Material/material_basis.jl
  src/Physics/Thermal/thermal_expansion.jl
  src/Physics/Thermal/thermal_flow.jl
Due: test, deploy, pages

Fixed correspondence
  src/Physics/Material/Material_Factory.jl
  src/Physics/Physics_Factory.jl
Due: test, deploy, pages

performance fixes
  src/MPI_communication/MPI_communication.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
  src/Physics/Physics_Factory.jl
  src/Support/data_manager.jl
Due: test, deploy, pages

New Version and allow older deps
  CHANGELOG.md
  Project.toml
  src/PeriLab.jl
Due: test, deploy, pages

update dockerfile
  Dockerfile
Due: none

optimized get_field call
  src/Support/data_manager.jl
  test/unit_tests/Support/ut_data_manager.jl
Due: test, deploy, pages

fixed silent mode
  src/IO/logging.jl
  src/PeriLab.jl
  test/unit_tests/IO/ut_logging.jl
Due: test, deploy, pages

package update
  Project.toml
Due: none

new solver
  src/Core/Solver/External_solver.jl
  src/Core/Solver/Solver_control.jl
  src/Support/Parameters/parameter_handling_solver.jl
  test/fullscale_tests/test_bond_based_elastic/test_static_bond_based_elastic_2D.yaml
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: test, deploy, pages

removed view
  src/Physics/Damage/Energy_release.jl
Due: test, deploy, pages

edit changelog
  CHANGELOG.md
Due: none

fixed Project.toml
  Project.toml
Due: none

edit gitlab ci
  .gitlab-ci.yml
Due: none

reduce image size
  Dockerfile
Due: none

SecondOrderODEProblem
  src/Core/Solver/External_solver.jl
Due: test, deploy, pages

removed test from deployment
  .gitlab-ci.yml
Due: none

Edit dockerfile
  Dockerfile
Due: none

Edit Readme
  README.md
Due: none

moving update list
  src/Core/Solver/Verlet.jl
  src/Physics/Physics_Factory.jl
Due: test, deploy, pages

external solver parameter
  src/Support/Parameters/parameter_handling.jl
Due: test, deploy, pages

Remove static solver for now
  Project.toml
  src/Core/Solver/External_solver.jl
  src/Core/Solver/Solver_control.jl
Due: test, deploy, pages

Version 1.0.6
  CHANGELOG.md
Due: none

Update Readme
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: none

Update Version number
  Project.toml
  src/PeriLab.jl
Due: test, deploy, pages

running prototype
  src/Core/Solver/External_solver.jl
  test/fullscale_tests/test_bond_based_elastic/test_static_bond_based_elastic_2D.yaml
Due: test, deploy, pages

code cleaning
  src/Physics/Thermal/Thermal_Factory.jl
Due: test, deploy, pages

prototype
  src/FEM/Coupling/Arlequin.jl
  src/FEM/Coupling/Coupling_Factory.jl
Due: test, deploy, pages

code improvements
  src/IO/mesh_data.jl
  test/unit_tests/IO/ut_bond_filter.jl
Due: test, deploy, pages

add test
  test/unit_tests/Support/ut_helpers.jl
Due: test

Optimized print_bed
  src/Physics/Thermal/heat_transfer.jl
  src/Physics/Thermal/thermal_flow.jl
Due: test, deploy, pages

docs fix
  docs/src/lib/io_functions.md
Due: pages

orcid added
  src/PeriLab.jl
Due: test, deploy, pages

adding contact fullscale test
  test/fullscale_tests/test_contact/Reference/pressure.e
  test/fullscale_tests/test_contact/Reference/pressure.e.license
  test/fullscale_tests/test_contact/Reference/tension.e
  test/fullscale_tests/test_contact/Reference/tension.e.license
  test/fullscale_tests/test_contact/pressure.yaml
  test/fullscale_tests/test_contact/tension.yaml
  test/fullscale_tests/test_contact/test_contact.cmd
  test/fullscale_tests/test_contact/test_contact.cmd.license
  test/fullscale_tests/test_contact/test_contact.jl
  test/fullscale_tests/test_contact/test_mesh.txt
  test/runtests.jl
Due: test

update test
  test/fullscale_tests/test_contact/Reference/tension.e
Due: test

readme
  README.md
Due: none

looks better
  README.md
Due: none

Path conditions:
  test: any of: src/**/*, test/**/*
  deploy: any of: src/**/*
  pages: any of: src/**/*, docs/**/*
