Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

include function call
  src/Core/BC_manager.jl
Due: main_test, test, pages

z error check
  src/Core/BC_manager.jl
Due: main_test, test, pages

input fix
  examples/Disk_impact/Disk_impact.yaml
Due: none

snychronization fix
  src/Models/Contact/Contact_Factory.jl
Due: main_test, test, pages

Added damage flag
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages

added Parameters
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

Fixed contact debugging
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

MPI additions
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

folder cleaning
  examples/DCB/DCBmodel copy.yaml
Due: none

adding all biodes contact
  src/Core/Data_manager/data_manager_contact.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
  src/Models/Contact/Penalty_model.jl
  src/Support/Parameters/parameter_handling.jl
  test/unit_tests/Models/Contact/ut_Contact_search.jl
Due: main_test, test, pages

Fixed test
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages

readme update
  README.md
Due: none

seminar
  docs/src/lecture/lecture.md
  docs/src/lecture/seminar_6.md
Due: pages

update readme
  README.md
Due: none

adapt for Anycubic 3D printers
  src/IO/gcode.jl
Due: main_test, test, pages

edit changelog
  CHANGELOG.md
Due: none

fix contact
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

checkout
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

update stiffness
  src/Models/Contact/Penalty_model.jl
Due: main_test, test, pages

Fixed gcode bug
  CHANGELOG.md
  scripts/gcode_reader.jl
  src/IO/gcode.jl
Due: main_test, test, pages

fixed missing key
  src/Models/Contact/Contact_Factory.jl
Due: main_test, test, pages

Fixed #276; #283
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

added error handling
  src/IO/gcode.jl
Due: main_test, test, pages

update reference
  test/fullscale_tests/test_penalty_contact/Reference/penalty_contact.e
  test/fullscale_tests/test_penalty_contact/Reference/penalty_contact_friction.e
Due: main_test, test
