Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

update
  docs/src/assets/pd_states.png
  docs/src/assets/pd_states.png.license
  docs/src/assets/tensors_vs_states.png
  docs/src/assets/tensors_vs_states.png.license
  docs/src/lecture/seminar_4.md
Due: pages

update
  docs/src/lecture/seminar_4.md
  docs/src/theory/theory_correspondence.md
  docs/src/theory/theory_ordinary.md
Due: pages

optimzed plastic model
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
Due: main_test, test, pages

added error handling
  src/Support/Parameters/parameter_handling_mesh.jl
Due: main_test, test, pages

update structure
  docs/make.jl
  docs/src/assets/tensors_vs_states.png
Due: pages

added contact groups to yaml input
  examples/Contact/Contact.yaml
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
  src/Models/Contact/Penalty_model.jl
  src/Support/Parameters/parameter_handling.jl
  test/fullscale_tests/test_penalty_contact/contact.yaml
  test/fullscale_tests/test_penalty_contact/penalty_contact.yaml
  test/unit_tests/Contact/ut_Contact_Factory.jl
Due: main_test, test, pages

allow ouput definitions for all steps
  src/Core/Solver/Solver_control.jl
  src/Models/Material/Material_Basis.jl
Due: main_test, test, pages

Allow recomputing off elastic module for state factor id
  src/Models/Material/Material_Basis.jl
Due: main_test, test, pages

update seminar
  docs/make.jl
  docs/src/lecture/lecture.md
  docs/src/lecture/seminar_1.md
  docs/src/lecture/seminar_4.md
  docs/src/lecture/seminar_5.md
Due: pages

seminar update
  docs/src/lecture/seminar_4.md
Due: pages

Fixed mesh angle definition and added test
  src/Core/Solver/Solver_control.jl
  src/IO/IO.jl
  test/fullscale_tests/test_aniso_damage/Reference/aniso_damage_mesh.e
  test/fullscale_tests/test_aniso_damage/Reference/aniso_damage_mesh.e.license
  test/fullscale_tests/test_aniso_damage/aniso_damage_mesh.yaml
  test/fullscale_tests/test_aniso_damage/test_aniso_damage.jl
  test/runtests.jl
Due: main_test, test, pages

fix test
  test/fullscale_tests/test_aniso_damage/Reference/aniso_damage_mesh.e
Due: main_test, test

seminar updte
  docs/src/lecture/seminar_4.md
Due: pages

minor fix
  src/IO/bond_filters.jl
Due: main_test, test, pages

optimized performance of compute_deviatoric_force_state_norm!
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

seminar update
  docs/src/assets/ECCOMAS_convergence.png
  docs/src/assets/ECCOMAS_convergence.png.license
  docs/src/lecture/seminar_5.md
  docs/src/refs.bib
  examples/Seminars/Part_03/seminar_03.txt
  examples/Seminars/Part_05/block.jl
  examples/Seminars/Part_05/seminar_05.txt
  examples/Seminars/Part_05/seminar_05_BB.yaml
  examples/Seminars/Part_05/seminar_05_PD_Solid_Elastic.yaml
  examples/Seminars/Part_05/seminar_05_correspondence.yaml
  examples/Seminars/Part_05/seminar_05_correspondence_no_control.yaml
  examples/Seminars/Part_05/seminar_05_ns1.txt
  examples/Seminars/Part_05/seminar_05_ns2.txt
Due: pages

update
  docs/src/refs.bib
Due: pages

dev guide
  docs/src/man/dev/developement_guide.md
Due: pages

fix
  src/IO/bond_filters.jl
Due: main_test, test, pages

improving readme and docu
  ACKNOWLEDGEMENTS.md
  README.md
  docs/src/index.md
Due: pages

adding lectures
  docs/make.jl
  docs/src/lecture/lecture.md
  docs/src/lecture/seminar_5.md
  docs/src/lecture/seminar_6.md
  docs/src/lecture/seminar_6.md.license
  docs/src/lecture/seminar_7.md
  docs/src/lecture/seminar_7.md.license
  docs/src/lecture/seminar_8.md
  docs/src/lecture/seminar_8.md.license
  docs/src/lecture/seminar_9.md
  docs/src/lecture/seminar_9.md.license
Due: pages

optimized search
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

solve #275
  src/Models/Contact/Penalty_model.jl
  test/fullscale_tests/test_penalty_contact/Reference/penalty_contact_friction.e
  test/fullscale_tests/test_penalty_contact/Reference/penalty_contact_friction.e.license
  test/fullscale_tests/test_penalty_contact/penalty_contact_friction.yaml
  test/fullscale_tests/test_penalty_contact/test_penalty_contact.jl
  test/runtests.jl
  test/unit_tests/Models/Contact/ut_Penalty_model.jl
Due: main_test, test, pages

put tests in the correct folder
  test/unit_tests/Models/Contact/ut_Contact_Factory.jl
  test/unit_tests/Models/Contact/ut_Contact_search.jl
Due: main_test, test

minor doc fix
  docs/src/lecture/seminar_9.md
Due: pages

memory reduction
  src/Core/Module_inclusion/set_Modules.jl
Due: main_test, test, pages

adding norm to penalty
  src/Models/Contact/Penalty_model.jl
Due: main_test, test, pages
