Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

consiting naming
  src/Core/Solver/External.jl
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages

added and fixed tests
  docs/src/man/input_yaml.md
  src/IO/mesh_data.jl
  src/Physics/Material/Material_Models/Ordinary/Ordinary.jl
  src/Physics/Material/material_basis.jl
  src/Physics/Thermal/Thermal_Factory.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_computes.jl
  src/Support/Parameters/parameter_handling_output.jl
  test/fullscale_tests/test_critical_stretch/Reference/critical_stretch_interface.e
  test/fullscale_tests/test_critical_stretch/Reference/critical_stretch_interface.e.license
  test/fullscale_tests/test_critical_stretch/Reference/critical_stretch_only_tension.e
  test/fullscale_tests/test_critical_stretch/Reference/critical_stretch_only_tension.e.license
  test/fullscale_tests/test_critical_stretch/critical_stretch_interface.yaml
  test/fullscale_tests/test_critical_stretch/critical_stretch_only_tension.yaml
  test/fullscale_tests/test_critical_stretch/test_critical_stretch.jl
  test/runtests.jl
  test/unit_tests/Physics/Material/Material_Models/BondBased/ut_Bondbased_Elastic.jl
  test/unit_tests/Physics/Material/Material_Models/Ordinary/ut_ordinary.jl
  test/unit_tests/Physics/Thermal/ut_Heat_transfer.jl
  test/unit_tests/Physics/Thermal/ut_Thermal_Factory.jl
  test/unit_tests/Physics/Thermal/ut_Thermal_expansion.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
  test/unit_tests/Support/ut_data_manager.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

build based on 378cf4e
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

fix FEM and #132
  src/FEM/FEM_routines.jl
  test/fullscale_tests/test_FEM/FEM_p1_2d.yaml
  test/fullscale_tests/test_FEM/Reference/FEM_p1_1_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p1_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p1_3d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_1_1_3d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_1_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_3d.e
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: main_test, test, pages

build based on a32b353
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

test fix
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: main_test, test

Fixed FEM
  test/fullscale_tests/test_FEM/Reference/FEM_p1_2d.e
  test/fullscale_tests/test_FEM/test_FEM.cmd
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: main_test, test

added PrecompileTools and fixed tests
  Project.toml
  src/PeriLab.jl
  src/Support/data_manager.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence_UMAT.jl
  test/unit_tests/Support/ut_data_manager.jl
Due: main_test, test, pages

build based on 1680365
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

update find_local neighbors
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
  src/Physics/Pre_calculation/bond_deformation_gradient.jl
  src/Physics/Pre_calculation/bond_shape_tensor.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Bond_Associated_Correspondence.jl
Due: main_test, test, pages

minor improvements
  src/Physics/Material/Material_Factory.jl
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
Due: main_test, test, pages

template update
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

minor fix
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
Due: main_test, test, pages

minor optimization
  src/Physics/Material/Material_Models/Correspondence.jl
Due: main_test, test, pages

improve code
  src/Physics/Pre_calculation/Pre_Calculation_Factory.jl
Due: main_test, test, pages

code cleaning
  src/IO/mesh_data.jl
  src/Support/geometry.jl
  test/unit_tests/Core/Solver/ut_Verlet.jl
  test/unit_tests/IO/ut_mesh_data.jl
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test, pages

moved datamanager closed #61
  src/Core/data_manager.jl
  src/PeriLab.jl
  test/multifunctional_test/test_MPI_data_manager.jl
  test/unit_tests/Compute/ut_compute_field_values.jl
  test/unit_tests/Compute/ut_compute_global_values.jl
  test/unit_tests/Core/Solver/ut_Solver_control.jl
  test/unit_tests/Core/Solver/ut_Verlet.jl
  test/unit_tests/Core/ut_BC_manager.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/IO/ut_exodus_export.jl
  test/unit_tests/IO/ut_mesh_data.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
  test/unit_tests/Physics/Additive/ut_Additive_Factory.jl
  test/unit_tests/Physics/Corrosion/ut_Corrosion_Factory.jl
  test/unit_tests/Physics/Damage/ut_Damage_Factory.jl
  test/unit_tests/Physics/Damage/ut_Energy_release.jl
  test/unit_tests/Physics/Material/Material_Models/BondBased/ut_Bondbased_Elastic.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Bond_Associated_Correspondence.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence.jl
  test/unit_tests/Physics/Material/ut_Material_Factory.jl
  test/unit_tests/Physics/Thermal/ut_Heat_transfer.jl
  test/unit_tests/Physics/Thermal/ut_Thermal_Factory.jl
  test/unit_tests/Physics/Thermal/ut_Thermal_expansion.jl
  test/unit_tests/Physics/Thermal/ut_Thermal_flow.jl
  test/unit_tests/Physics/ut_Physics_Factory.jl
  test/unit_tests/Physics/ut_templates.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
  test/unit_tests/Support/ut_data_manager.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

build based on 4973921
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

bond geometry update
  src/Support/geometry.jl
Due: main_test, test, pages

calculate_bond_length test
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test

build based on c2125bd
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

test fix
  src/Support/geometry.jl
Due: main_test, test, pages

test fix
  src/Physics/Pre_calculation/bond_shape_tensor.jl
  test/unit_tests/Physics/ut_Physics_Factory.jl
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test, pages

test fix
  src/Physics/Pre_calculation/bond_deformation.jl
  src/Support/geometry.jl
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test, pages

build based on 491dace
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

set bond horizon
  src/Physics/Pre_calculation/Pre_Calculation_Factory.jl
Due: main_test, test, pages

Moved external solver into branch
  src/Core/Solver/External.jl
  src/Core/Solver/Solver_control.jl
Due: main_test, test, pages

added test
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Bond_Associated_Correspondence.jl
Due: main_test, test, pages

build based on 504ddc2
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

current status
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
  src/Physics/Pre_calculation/Pre_Calculation_Factory.jl
  src/Physics/Pre_calculation/bond_deformation_gradient.jl
  src/Physics/Pre_calculation/bond_shape_tensor.jl
Due: main_test, test, pages

build based on bb35d52
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

test fix
  test/unit_tests/Physics/ut_Physics_Factory.jl
Due: main_test, test

bug fix
  test/unit_tests/Physics/ut_Physics_Factory.jl
Due: main_test, test

merged get_node_sets
  docs/src/lib/io_functions.md
  src/IO/IO.jl
  src/Support/Parameters/parameter_handling_computes.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

add bond horizon
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

fixed pre calculation
  src/Physics/Pre_calculation/bond_deformation_gradient.jl
  src/Physics/Pre_calculation/bond_shape_tensor.jl
Due: main_test, test, pages

code improvement
  src/Physics/Material/Material_Models/Correspondence.jl
Due: main_test, test, pages

added tests
  docs/src/lib/io_functions.md
  src/Physics/Material/material_basis.jl
  src/Physics/Thermal/Thermal_Factory.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_mesh.jl
  test/runtests.jl
  test/unit_tests/Physics/Material/Material_Models/BondBased/ut_Bondbased_Elastic.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence_Plastic.jl
  test/unit_tests/Physics/Material/Material_Models/ut_PD_Solid_Elastic.jl
  test/unit_tests/Physics/Material/ut_material_basis.jl
  test/unit_tests/Physics/Thermal/ut_Heat_transfer.jl
  test/unit_tests/Physics/Thermal/ut_Thermal_Factory.jl
  test/unit_tests/Physics/Thermal/ut_Thermal_expansion.jl
  test/unit_tests/Physics/Thermal/ut_Thermal_flow.jl
  test/unit_tests/Physics/ut_Physics_Factory.jl
  test/unit_tests/Physics/ut_templates.jl
Due: main_test, test, pages

build based on be03758
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
