Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

solve #228
  docs/src/refs.bib
  docs/src/theory/theory_FEM.md
  docs/src/theory/theory_FEM.md.license
  docs/src/theory/theory_FEM_PD_coupling.md
  docs/src/theory/theory_FEM_PD_coupling.md.license
  docs/src/theory/theory_damage.md
Due: pages

compute def_grad only when displaced
  src/Support/Geometry.jl
Due: main_test, test, pages

build based on 3d903ba
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_FEM/index.html
  dev/theory/theory_FEM_PD_coupling/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

adding theory
  docs/make.jl
  docs/src/theory/theory.md
Due: pages

doc update
  docs/make.jl
  docs/src/theory/theory_FEM_PD_coupling.md
Due: pages

solve #229
  docs/src/lib/glossar.md
  docs/src/refs.bib
  docs/src/theory/theory_FEM.md
  src/FEM/Coupling/Arlequin_coupling.jl
  src/FEM/Element_formulation/Lagrange_element.jl
  test/benchmarks/benchmark_test.jl
  test/runtests.jl
  test/unit_tests/FEM/Element_formulation/ut_lagrange_element.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: main_test, test, pages

minor corrections
  docs/src/theory/theory_FEM.md
Due: pages

fix test
  test/runtests.jl
Due: main_test, test

added VUMAT interface
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_VUMAT.jl
Due: main_test, test, pages

build based on c6ea4b2
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_FEM/index.html
  dev/theory/theory_FEM_PD_coupling/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

added multistep example #231
  src/Core/BC_manager.jl
  src/Core/Data_manager.jl
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Verlet.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_VUMAT.jl
  src/PeriLab.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_solver.jl
  test/fullscale_tests/test_multistep/Reference/multistep.e
  test/fullscale_tests/test_multistep/Reference/multistep.e.license
  test/fullscale_tests/test_multistep/mesh.txt
  test/fullscale_tests/test_multistep/multistep.yaml
  test/fullscale_tests/test_multistep/test_multistep.cmd
  test/fullscale_tests/test_multistep/test_multistep.cmd.license
  test/fullscale_tests/test_multistep/test_multistep.jl
  test/runtests.jl
  test/unit_tests/Core/ut_BC_manager.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

fix tests
  src/Core/BC_manager.jl
Due: main_test, test, pages

build based on ed3448c
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_FEM/index.html
  dev/theory/theory_FEM_PD_coupling/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

fix test
  test/fullscale_tests/test_multistep/Reference/multistep.e
  test/fullscale_tests/test_multistep/test_multistep.cmd
Due: main_test, test

documentation
  docs/src/refs.bib
  src/Models/Material/Material_Models/BondBased/Unified_Bondbased_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
Due: main_test, test, pages

spelling
  docs/src/theory/theory_damage.md
Due: pages

Finished multistep simulation
  src/Core/BC_manager.jl
  src/Core/Data_manager.jl
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Verlet.jl
  src/IO/exodus_export.jl
  src/Models/Model_Factory.jl
  src/PeriLab.jl
  test/fullscale_tests/test_multistep/Reference/multistep.e
  test/fullscale_tests/test_multistep/multistep.yaml
  test/runtests.jl
Due: main_test, test, pages

solve #232
  docs/src/theory/theory_correspondence.md
Due: pages

adding refs
  docs/src/refs.bib
Due: pages

docu fix
  docs/src/theory/theory_correspondence.md
Due: pages

added tests
  src/Support/Parameters/parameter_handling_blocks.jl
  test/fullscale_tests/test_vumat/Reference/vumat.e
  test/fullscale_tests/test_vumat/Reference/vumat.e.license
  test/fullscale_tests/test_vumat/mesh.txt
  test/fullscale_tests/test_vumat/test_vumat.cmd
  test/fullscale_tests/test_vumat/test_vumat.cmd.license
  test/fullscale_tests/test_vumat/test_vumat.jl
  test/fullscale_tests/test_vumat/vumat.so
  test/fullscale_tests/test_vumat/vumat.so.license
  test/fullscale_tests/test_vumat/vumat.yaml
  test/runtests.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

added scripts
  scripts/extract_properties.jl
  scripts/nodesets_from_mesh.jl
Due: none

fix vumat test
  test/fullscale_tests/test_vumat/Reference/vumat.e
Due: main_test, test

edit cmd
  test/fullscale_tests/test_vumat/test_vumat.cmd
Due: main_test, test

added State Factor ID
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Elastic.jl
  src/Models/Thermal/hetval.jl
  src/Support/Parameters/parameter_handling.jl
  test/helper.jl
  test/unit_tests/Models/Thermal/ut_HETVAL.jl
Due: main_test, test, pages

fix tests
  test/fullscale_tests/test_vumat/test_vumat.jl
Due: main_test, test

build based on 8aae12b
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_FEM/index.html
  dev/theory/theory_FEM_PD_coupling/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

minor corrections
  docs/src/theory/theory_correspondence.md
Due: pages

NLsolve package
  Project.toml
Due: none
