Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

fix
  src/IO/IO.jl
  src/IO/exodus_export.jl
Due: main_test, test, pages

test fix
  src/IO/IO.jl
  src/IO/exodus_export.jl
Due: main_test, test, pages

bug fix
  src/Core/Data_manager.jl
  src/IO/IO.jl
  src/IO/exodus_export.jl
  test/fullscale_tests/test_bond_value_export/Reference/bond_value_export.e
  test/fullscale_tests/test_bond_value_export/Reference/bond_value_export_block_wise.e
Due: main_test, test, pages

documentation
  src/Core/Model_reduction/Guyan.jl
Due: main_test, test, pages

template
  src/Core/Model_reduction/Reduction_template.jl
Due: main_test, test, pages

craig bampton fix
  src/Core/Model_reduction/CraigBampton.jl
  src/Core/Model_reduction/Model_reduction.jl
  src/Core/Solver/Matrix_Verlet.jl
Due: main_test, test, pages

adding Craig Bampton test
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_reduced_3D_CB_mod_1.e
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_reduced_3D_CB_mod_1.e.license
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_reduced_3D_CB_mod_5.e
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_reduced_3D_CB_mod_5.e.license
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_reduced_CB_mod_1.e
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_reduced_CB_mod_1.e.license
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_reduced_CB_mod_5.e
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_reduced_CB_mod_5.e.license
  test/fullscale_tests/test_model_reduction_Verlet_matrix/test_model_reduction_Verlet_matrix.jl
  test/fullscale_tests/test_model_reduction_Verlet_matrix/verlet_reduced_3D_CB_mod_1.yaml
  test/fullscale_tests/test_model_reduction_Verlet_matrix/verlet_reduced_3D_CB_mod_5.yaml
  test/fullscale_tests/test_model_reduction_Verlet_matrix/verlet_reduced_CB_mod_1.yaml
  test/fullscale_tests/test_model_reduction_Verlet_matrix/verlet_reduced_CB_mod_5.yaml
Due: main_test, test

documentation
  docs/src/man/solver/condensation.md
Due: pages

ai bug fix
  src/Core/Model_reduction/Guyan.jl
Due: main_test, test, pages

update
  docs/src/refs.bib
  src/Core/Model_reduction/CraigBampton.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

adding error
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

added moduleLoader
  Project.toml
  docs/src/man/dev/module_integration.md
  src/Core/Model_reduction/Model_reduction.jl
  src/Core/Module_inclusion/set_Modules.jl
  src/Core/Solver/Solver_manager.jl
  src/FEM/Coupling/Coupling_Factory.jl
  src/FEM/FEM_Factory.jl
  src/IO/bond_filter.jl
  src/Models/Additive/Additive_Factory.jl
  src/Models/Additive/Simple_additive.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Degradation/Degradation_Factory.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/Zero_Energy_Control.jl
  src/Models/Pre_calculation/Pre_Calculation_Factory.jl
  src/Models/Thermal/Thermal_Factory.jl
  src/PeriLab.jl
  src/Support/ModuleLoader.jl
  test/unit_tests/Core/Module_inclusion/ut_set_Modules.jl
Due: main_test, test, pages

add mesh import modules factory
  src/IO/Mesh_Import/Abaqus_Mesh.jl
  src/IO/Mesh_Import/Gcode_Mesh.jl
  src/IO/Mesh_Import/Gmsh_Mesh.jl
  src/IO/Mesh_Import/Mesh_Import.jl
  src/IO/Mesh_Import/Mesh_Volume.jl
  src/IO/mesh_data.jl
  src/Support/Parameters/PeriLabInputSchema.jl
  src/Support/Parameters/Schema.jl
  src/Support/Parameters/apply_defaults.jl
  src/Support/Parameters/example_usage.jl
  src/Support/Parameters/perilab.schema.json
Due: main_test, test, pages

refac gcode_reader
  scripts/gcode_reader.jl
  src/IO/gcode.jl
Due: main_test, test, pages

working prototype
  Project.toml
  src/Core/Model_reduction/CraigBampton.jl
  src/Core/Model_reduction/Model_reduction.jl
Due: main_test, test, pages

working prototype
  src/Core/Model_reduction/CraigBampton.jl
  src/Core/Model_reduction/Guyan.jl
  src/Core/Model_reduction/Model_reduction.jl
Due: main_test, test, pages

solve #397
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/Global_Zero_Energy_Control.jl
Due: main_test, test, pages

refac
  src/IO/Mesh_Import/Abaqus_Mesh.jl
  src/IO/Mesh_Import/Exodus_Mesh.jl
  src/IO/Mesh_Import/Gcode_Mesh.jl
  src/IO/Mesh_Import/Gmsh_Mesh.jl
  src/IO/Mesh_Import/Mesh_Import.jl
  src/IO/Mesh_Import/Mesh_Volume.jl
  src/IO/Mesh_Import/Text_Mesh.jl
  src/IO/gcode.jl
  src/IO/mesh_data.jl
  src/IO/volume.jl
  src/Models/Additive/Additive_Factory.jl
  src/Support/Parameters/PeriLabInputSchema.jl
  src/Support/Parameters/Schema.jl
  src/Support/Parameters/apply_defaults.jl
  src/Support/Parameters/example_usage.jl
  src/Support/Parameters/perilab.schema.json
  test/unit_tests/IO/ut_mesh_data.jl
Due: main_test, test, pages

update gcode import
  src/IO/Mesh_Import/Gcode_Mesh.jl
Due: main_test, test, pages

refac
  src/IO/Mesh_Import/Exodus_Mesh.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: main_test, test, pages

bug fix of C matrix
  src/Models/Material/Material_Basis.jl
  test/fullscale_tests/test_3D_aniso_material/Reference/3D_anisomat.e
  test/fullscale_tests/test_3D_aniso_material/Reference/3D_transverse_iso.e
  test/fullscale_tests/test_DCB/Reference/DCBmodel_UMAT.e
  test/fullscale_tests/test_FEM/Reference/FEM_p1_3d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_1_1_3d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_3d.e
  test/fullscale_tests/test_calculation/Reference/calculation.e
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_xy.e
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_xy_angles.e
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test, pages

Update Dockerfile
  Dockerfile
  docker-entrypoint.sh
Due: none

update
  src/Core/Data_manager.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_VUMAT.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/Global_Zero_Energy_Control.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

double compute fix
  src/Core/Solver/Matrix_Verlet.jl
Due: main_test, test, pages

refac
  Dockerfile
  src/Support/ModuleLoader.jl
Due: main_test, test, pages

edit CI
  .github/workflows/CI.yml
  src/IO/logging.jl
  src/Support/ModuleLoader.jl
Due: main_test, test, pages

refac CI
  .github/workflows/CI.yml
Due: none

refac
  .github/workflows/CI.yml
Due: none

added module network
  docs/src/assets/PeriLab-overview.html
  docs/src/assets/PeriLab-overview.html.license
  docs/src/man/dev/module_overview.md
Due: pages

Prototype for #401
  .gitignore
  Project.toml
  examples/Logo/PeriLab1.yaml
  examples/Logo/PeriLab_ref.yaml
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_checkpoint.jl
  src/IO/exodus_export.jl
  src/IO/logging.jl
  src/Models/Damage/Energy_release.jl
  src/PeriLab.jl
Due: main_test, test, pages

CompatHelper: bump compat for Meshes to 0.59, (keep existing compat)
  Project.toml
Due: none

CompatHelper: bump compat for CSV to 1, (keep existing compat)
  Project.toml
Due: none

finished serialized_reload
  examples/Logo/PeriLab.yaml
  examples/Logo/PeriLab1.yaml
  examples/Logo/PeriLab_ref.yaml
  src/Core/Data_manager/data_manager_checkpoint.jl
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet_solver.jl
  src/IO/IO.jl
  src/IO/csv_export.jl
  src/IO/exodus_export.jl
  src/PeriLab.jl
  test/runtests.jl
Due: main_test, test, pages
