Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

build based on 4d4d83b
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager.md.license
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

build based on 7ac5b17
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

build based on c6c565d
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Edit docs
  docs/make.jl
  docs/src/man/basics.md
  docs/src/man/dev/datamanager.md
  docs/src/man/dev/module_integration.md
  docs/src/man/input_yaml.md
  docs/src/man/physics/materials.md
Due: pages

build based on 2a29bf7
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

added links to doc
  README.md
  docs/make.jl
  docs/src/lib/links.md
  docs/src/lib/links.md.license
Due: pages

build based on 2f1efd1
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links.md.license
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

add doku
  docs/src/man/dev/parameters.md
  docs/src/man/dev/parameters.md.license
Due: pages

doku
  docs/src/man/input_yaml.md
Due: pages

zero energy mode contral UMAT
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
  src/Physics/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

adding doku
  docs/src/man/dev/module_integration.md
Due: pages

coding style
  docs/src/lib/physics_functions.md
  src/Physics/Material/Material_Models/Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
  src/Physics/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

minor fix
  test/unit_tests/Physics/Material/Zero_Energy_Control/ut_global_control.jl
Due: main_test, test

comment cleaning
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
Due: main_test, test, pages

Optimized MPI
  docs/src/lib/io_functions.md
  src/Core/Solver/Solver_control.jl
  src/IO/logging.jl
  src/MPI_communication/MPI_communication.jl
  src/PeriLab.jl
  src/Physics/Damage/Damage_Factory.jl
Due: main_test, test, pages

build based on bc797a1
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

fixed MPI
  src/MPI_communication/MPI_communication.jl
Due: main_test, test, pages

build based on 50d447f
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

build based on 2c42313
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters.md.license
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

added has_key and prepared for material field props
  docs/src/lib/functions.md
  src/Compute/compute_global_values.jl
  src/Core/Solver/Solver_control.jl
  src/Physics/Additive/Additive_Factory.jl
  src/Physics/Damage/Energy_release.jl
  src/Physics/Material/Material_Factory.jl
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
  src/Physics/Material/material_basis.jl
  src/Physics/Physics_Factory.jl
  src/Physics/Thermal/thermal_expansion.jl
  src/Support/data_manager.jl
  test/unit_tests/Physics/Material/ut_material_basis.jl
Due: main_test, test, pages

build based on 06bd9cf
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Added material parameter input through mesh #142 #143
  src/Core/Solver/Verlet.jl
  src/IO/logging.jl
  src/PeriLab.jl
  src/Physics/Material/Material_Models/Ordinary/Ordinary.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
  src/Physics/Material/material_basis.jl
  test/fullscale_tests/test_material_field/Reference/material_field.e
  test/fullscale_tests/test_material_field/Reference/material_field.e.license
  test/fullscale_tests/test_material_field/material_field.yaml
  test/fullscale_tests/test_material_field/test_material_field.cmd
  test/fullscale_tests/test_material_field/test_material_field.cmd.license
  test/fullscale_tests/test_material_field/test_material_field.jl
  test/fullscale_tests/test_material_field/test_mesh.txt
  test/runtests.jl
Due: main_test, test, pages

build based on 90f3266
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

readme - citation
  README.md
Due: none

small correction
  README.md
Due: none

Added critical value mesh input #142 #143
  src/Physics/Damage/Critical_Stretch.jl
  src/Physics/Damage/Energy_release.jl
  test/fullscale_tests/test_critical_energy/Reference/critical_energy_field.e
  test/fullscale_tests/test_critical_energy/Reference/critical_energy_field.e.license
  test/fullscale_tests/test_critical_energy/critical_energy_field.yaml
  test/fullscale_tests/test_critical_energy/test_critical_energy.jl
  test/fullscale_tests/test_critical_energy/test_mesh_crit.txt
  test/fullscale_tests/test_critical_stretch/Reference/critical_stretch_field.e
  test/fullscale_tests/test_critical_stretch/Reference/critical_stretch_field.e.license
  test/fullscale_tests/test_critical_stretch/critical_stretch_field.yaml
  test/fullscale_tests/test_critical_stretch/test_critical_stretch.jl
  test/fullscale_tests/test_critical_stretch/test_mesh_crit.txt
Due: main_test, test, pages

build based on abd31f7
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Added output docs
  docs/make.jl
  docs/src/man/output.md
  docs/src/man/output.md.license
Due: pages

build based on 55fe8c0
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output.md.license
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Write Abaqus mesh to file
  Project.toml
  src/IO/logging.jl
  src/IO/mesh_data.jl
  src/PeriLab.jl
Due: main_test, test, pages

build based on e5f9529
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Added header
  docs/src/man/mesh_input.md
  src/IO/mesh_data.jl
Due: main_test, test, pages

build based on 84ec6e9
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Removed UMAT
  src/Physics/Material/UMATs/PoonViscoStiffness.f
  src/Physics/Material/UMATs/PoonViscoStiffness.f.license
Due: main_test, test, pages

typo
  src/Physics/Corrosion/BondBased_Corrosion.jl
Due: main_test, test, pages

build based on efd549e
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Fixed #145
  src/IO/IO.jl
  src/IO/exodus_export.jl
  src/Physics/Material/Material_Factory.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/IO/ut_exodus_export.jl
Due: main_test, test, pages

fix index
  src/Physics/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

build based on e297ed9
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
