Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, deploy, pages

test:
  stage: test
  script:
  - julia --project=@. -e "import Pkg; Pkg.test(; coverage = true)"
  - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
    paths:
    - test

deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
  - docker logout
  stage: deploy
  script:
  - docker build -t perihub/perilab .
  - docker push perihub/perilab

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

resolve #96
  src/Physics/Additive/Additive_Factory.jl
  src/Physics/Physics_Factory.jl
  src/Physics/Thermal/Thermal_Factory.jl
  test/unit_tests/Physics/ut_templates.jl
Due: test, deploy, pages

fixed damage models
  src/Physics/Damage/Damage_Factory.jl
  src/Physics/Damage/Energy_release.jl
Due: test, deploy, pages

edit README
  README.md
Due: none

added tags to docker push
  .gitlab-ci.yml
Due: none

moved docker guide
  README.md
Due: none

removed Block Name
  examples/Benchmark/Benchmark_3dx_10.yaml
  examples/Benchmark/Benchmark_3dx_100.yaml
  examples/Benchmark/Benchmark_3dx_1000.yaml
  examples/Benchmark/Benchmark_4dx_10.yaml
  examples/Benchmark/Benchmark_4dx_100.yaml
  examples/Benchmark/Benchmark_4dx_1000.yaml
  examples/Benchmark/Benchmark_5dx_10.yaml
  examples/Benchmark/Benchmark_5dx_100.yaml
  examples/Compact_Tension/CompactTension.yaml
  examples/DCB/DCBmodel.yaml
  examples/Dogbone/Dogbone.yaml
  examples/ENFmodel/ENFmodel.yaml
  examples/Undulations/Smetana.yaml
  test/fullscale_tests/test_DCB/DCBmodel_PD_solid.yaml
  test/fullscale_tests/test_DCB/DCBmodel_correspondence.yaml
  test/fullscale_tests/test_dogbone/dogbone.yaml
Due: test

fixed additive
  src/Physics/Additive/Additive_Factory.jl
Due: test, deploy, pages

added Abaqus input support
  CHANGELOG.md
  Project.toml
  README.md
  src/IO/mesh_data.jl
  src/PeriLab.jl
  src/Support/Parameters/parameter_handling_mesh.jl
Due: test, deploy, pages

function update
  src/Physics/Material/Material_Models/Correspondence_Plastic.jl
Due: test, deploy, pages

coding structure
  src/IO/mesh_data.jl
Due: test, deploy, pages

interpolation
  Project.toml
  src/Support/helpers.jl
  test/unit_tests/Support/ut_helpers.jl
Due: test, deploy, pages

coding style
  src/Support/Parameters/parameter_handling_physics.jl
Due: test, deploy, pages

coding style
  src/Physics/Physics_Factory.jl
Due: test, deploy, pages

data files
  src/IO/mesh_data.jl
  src/Support/Parameters/parameter_handling_physics.jl
  src/Support/helpers.jl
  test/unit_tests/Support/Parameters/test_data_file.txt
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: test, deploy, pages

path fix
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: test

test coverage
  src/Support/Parameters/parameter_handling_output.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: test, deploy, pages

spelling
  src/FEM/Element_formulation/lagrange_element.jl
Due: test, deploy, pages

reexport
  Project.toml
Due: none

code cleaning
  src/PeriLab.jl
Due: test, deploy, pages

repair
  src/IO/mesh_data.jl
Due: test, deploy, pages

new error message
  src/IO/read_inputdeck.jl
Due: test, deploy, pages

code cleaning
  src/Support/helpers.jl
Due: test, deploy, pages

code cleaning
  src/Support/Parameters/parameter_handling_FEM.jl
Due: test, deploy, pages

temp dependend test
  test/fullscale_tests/test_DCB/BCall.txt
  test/fullscale_tests/test_DCB/DCBmodel_PD_solid_temp_depended.yaml
  test/fullscale_tests/test_DCB/crictical_energy_temperature_depended.txt
Due: test

code optimization & module reduction
  docs/src/lib/io_functions.md
  src/IO/IO.jl
  src/IO/csv_export.jl
  src/IO/exodus_export.jl
  src/IO/logging.jl
  src/IO/mesh_data.jl
  src/Physics/Damage/Energy_release.jl
  src/Support/Parameters/parameter_handling.jl
  test/multifunctional_test/test_MPI_data_manager.jl
  test/unit_tests/IO/ut_bond_filter.jl
  test/unit_tests/IO/ut_exodus_export.jl
  test/unit_tests/IO/ut_mesh_data.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
Due: test, deploy, pages

simplified model inclusion
  src/Core/Module_inclusion/set_Modules.jl
  src/Physics/Additive/Additive_Factory.jl
  src/Physics/Damage/Damage_Factory.jl
  src/Physics/Material/Material_Factory.jl
  src/Physics/Thermal/Thermal_Factory.jl
  src/Support/data_manager.jl
Due: test, deploy, pages

@info adaption
  src/PeriLab.jl
Due: test, deploy, pages

first test runs
  src/Physics/Damage/Damage_Factory.jl
  src/Physics/Material/Material_Factory.jl
  src/Physics/Material/Material_Models/Correspondence.jl
  src/Support/Parameters/parameter_handling_mesh.jl
  src/Support/Parameters/parameter_handling_physics.jl
Due: test, deploy, pages

mode progress bar
  src/Core/Solver/Solver_control.jl
  src/Support/helpers.jl
  test/unit_tests/Core/Solver/ut_Solver_control.jl
  test/unit_tests/Support/ut_helpers.jl
Due: test, deploy, pages

fix closing files
  src/IO/logging.jl
Due: test, deploy, pages

parameter handling as module
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_FEM.jl
  src/Support/Parameters/parameter_handling_bc.jl
  src/Support/Parameters/parameter_handling_blocks.jl
  src/Support/Parameters/parameter_handling_computes.jl
  src/Support/Parameters/parameter_handling_mesh.jl
  src/Support/Parameters/parameter_handling_output.jl
  src/Support/Parameters/parameter_handling_physics.jl
  src/Support/Parameters/parameter_handling_solver.jl
Due: test, deploy, pages

removed depricated exodus call
  src/IO/exodus_export.jl
Due: test, deploy, pages

added hytank project
  README.md
  assets/hytank.jpg
  assets/hytank.jpg.license
Due: none

added support for multi node sets
  src/Core/BC_manager.jl
Due: test, deploy, pages

edit DCBmodel
  examples/DCB/DCBmodel.txt
  examples/DCB/DCBmodel.yaml
  examples/DCB/ns_DCBmodel_1.txt
  examples/DCB/ns_DCBmodel_2.txt
  examples/DCB/ns_DCBmodel_3.txt
  examples/DCB/ns_DCBmodel_4.txt
Due: none

avoid confluit with identifier
  src/IO/mesh_data.jl
Due: test, deploy, pages

code improvements
  src/Core/BC_manager.jl
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Verlet.jl
  src/IO/IO.jl
  src/IO/read_inputdeck.jl
  src/Physics/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Physics/Physics_Factory.jl
  src/Physics/Pre_calculation/Pre_Calculation_Factory.jl
  src/Support/helpers.jl
  test/unit_tests/IO/ut_read_inputdeck.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
  test/unit_tests/Support/ut_helpers.jl
Due: test, deploy, pages

helper test
  test/unit_tests/Support/ut_helpers.jl
Due: test

current stage
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_physics.jl
  test/unit_tests/Core/Solver/ut_Solver_control.jl
  test/unit_tests/Core/Solver/ut_Verlet.jl
  test/unit_tests/Core/ut_BC_manager.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/IO/ut_bond_filter.jl
  test/unit_tests/IO/ut_exodus_export.jl
  test/unit_tests/IO/ut_mesh_data.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
  test/unit_tests/Support/ut_helpers.jl
Due: test, deploy, pages

Path conditions:
  test: any of: src/**/*, test/**/*
  deploy: any of: src/**/*
  pages: any of: src/**/*, docs/**/*
