Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

Added mpi info
  src/IO/IO.jl
  src/PeriLab.jl
Due: main_test, test, pages

Fixed mpi globals
  src/Compute/compute_global_values.jl
Due: main_test, test, pages

Added distribution type
  docs/src/lib/io_functions.md
  docs/src/man/input_yaml.md
  examples/Benchmark/Benchmark_3dx_10.yaml
  examples/Benchmark/Benchmark_3dx_100.yaml
  examples/Benchmark/Benchmark_3dx_1000.yaml
  examples/Benchmark/Benchmark_4dx_10.yaml
  examples/Benchmark/Benchmark_4dx_100.yaml
  examples/Benchmark/Benchmark_4dx_1000.yaml
  examples/Benchmark/Benchmark_5dx_10.yaml
  examples/Benchmark/Benchmark_5dx_100.yaml
  examples/RVE/RVE_abaqus.yaml
  src/IO/mesh_data.jl
  src/Support/Parameters/parameter_handling.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: main_test, test, pages

fixed syntax
  src/IO/mesh_data.jl
Due: main_test, test, pages

fixed show_mpi_summary
  src/IO/IO.jl
Due: main_test, test, pages

Fixed MPI globals
  src/IO/IO.jl
Due: main_test, test, pages

fixed tests
  src/IO/mesh_data.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: main_test, test, pages

code restructuring
  src/Physics/Additive/Additive_Factory.jl
  src/Physics/Corrosion/Corrosion_Factory.jl
  src/Physics/Damage/Damage_Factory.jl
  src/Physics/Material/Material_Factory.jl
  src/Physics/Physics_Factory.jl
  src/Physics/Thermal/Thermal_Factory.jl
  test/runtests.jl
  test/unit_tests/Physics/Additive/ut_Additive_Factory.jl
  test/unit_tests/Physics/Damage/ut_Damage_Factory.jl
  test/unit_tests/Physics/Material/ut_Material_Factory.jl
  test/unit_tests/Physics/Thermal/ut_Thermal_Factory.jl
  test/unit_tests/Physics/ut_Physics_Factory.jl
Due: main_test, test, pages

added PrettyTables
  Project.toml
  src/Core/Solver/Verlet.jl
  src/IO/IO.jl
  src/IO/logging.jl
  src/IO/read_inputdeck.jl
  src/PeriLab.jl
  test/unit_tests/IO/ut_IO.jl
Due: main_test, test, pages

add time integration for corrosion
  src/Core/Solver/Verlet.jl
  src/Physics/Corrosion/BondBased_Corrosion.jl
  src/Physics/Corrosion/Corrosion_Factory.jl
Due: main_test, test, pages

theory first submission
  docs/src/theory.md
  docs/src/theory/basics.md
Due: pages

Edit logging
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Verlet.jl
  src/IO/IO.jl
  src/IO/logging.jl
  src/IO/mesh_data.jl
  src/PeriLab.jl
  src/Physics/Physics_Factory.jl
  src/Support/data_manager.jl
Due: main_test, test, pages

Added Yield Stress
  docs/src/man/input_yaml.md
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

Edit models
  examples/DCB/DCBmodel.yaml
  examples/Dogbone/Dogbone.yaml
  examples/Small/Input.yaml
Due: none

Edit docs
  CHANGELOG.md
  README.md
Due: none

error fix
  docs/src/theory/basics.md
Due: pages

added print_table
  docs/src/lib/io_functions.md
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Verlet.jl
  src/IO/logging.jl
  src/IO/mesh_data.jl
Due: main_test, test, pages

Fixed docs
  docs/src/theory.md.license
  docs/src/theory/basics.md
  docs/src/theory/basics.md.license
Due: pages

Edit changelog
  CHANGELOG.md
  Project.toml
Due: none

fixed logging
  Dockerfile
  Project.toml
  src/IO/IO.jl
  src/IO/logging.jl
  src/PeriLab.jl
Due: main_test, test, pages

fixed close_result_files
  src/IO/logging.jl
Due: main_test, test, pages

fixed PD_Solid_Plastic
  src/Physics/Material/Material_Models/PD_Solid_Plastic.jl
Due: main_test, test, pages

Fixedd logging and reduced image size
  Dockerfile
  src/IO/IO.jl
  src/IO/logging.jl
Due: main_test, test, pages

Edit logging and fixed plastic bugs
  docs/src/lib/physics_functions.md
  src/IO/logging.jl
  src/Physics/Material/BondBased/Bondbased_Elastic.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
  src/Physics/Material/Material_Models/PD_Solid_Plastic.jl
  src/Physics/Material/material_basis.jl
  test/unit_tests/Physics/Material/ut_material_basis.jl
Due: main_test, test, pages

Fixed MPI Issue
  CHANGELOG.md
  src/PeriLab.jl
  src/main.jl
Due: main_test, test, pages

New Version
  CHANGELOG.md
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

Added github ci
  .github/workflows/CompatHelper.yml
  .github/workflows/TagBot.yml
  .github/workflows/Test.yml
  .gitignore
  .gitlab-ci.yml
  README.md
  src/PeriLab.jl
Due: main_test, test, pages

CompatHelper: bump compat for Exodus to 0.13, (keep existing compat)
  Project.toml
Due: none

Edit ci
  .github/workflows/CI.yml
  README.md
  src/PeriLab.jl
Due: main_test, test, pages

edit Docs
  .github/workflows/CI.yml
  .github/workflows/Documentation.yml
  docs/make.jl
Due: pages

Edit docs
  .github/workflows/CI.yml
  .github/workflows/Documentation.yml
Due: none

Edit docs
  .github/workflows/Documentation.yml
Due: none

Abaqus fix
  .github/workflows/CI.yml
  .github/workflows/Documentation.yml
  README.md
  src/IO/mesh_data.jl
  src/main.jl
Due: main_test, test, pages

build based on df92f6c
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/theory/basics/index.html
  dev/theory/index.html
Due: none

Edit ci
  .github/workflows/CI.yml
Due: none

logo
  assets/logo_hs_RGB.jpg
  assets/logo_hs_RGB.jpg.license
Due: none

docu
  docs/src/index.md
Due: pages

readme
  README.md
Due: none
