Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

minor fix
  src/Core/Data_manager/data_manager_fields.jl
Due: main_test, test, pages

typo
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_UMAT.jl
Due: main_test, test

shear bug fix
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
Due: main_test, test, pages

start branch
  src/Core/Solver/Matrix_Verlet.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Model_Factory.jl
  src/Support/Geometry.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_UMAT.jl
Due: main_test, test, pages

typo and cleaning
  src/Core/Solver/Verlet_solver.jl
Due: main_test, test, pages

prototype
  src/Core/Solver/Matrix_Verlet.jl
Due: main_test, test, pages

final version for paper
  src/Core/Solver/Matrix_Verlet.jl
Due: main_test, test, pages

fix of unit tests
  src/Core/Data_manager/data_manager_solving_process.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
  test/unit_tests/Core/ut_data_manager.jl
  test/unit_tests/FEM/Element_formulation/ut_lagrange_element.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_UMAT.jl
Due: main_test, test, pages

added umat test #355
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  test/fullscale_tests/test_umat/Reference/umat.e
  test/fullscale_tests/test_umat/Reference/umat.e.license
  test/fullscale_tests/test_umat/Reference/umat_matrix.e
  test/fullscale_tests/test_umat/Reference/umat_matrix.e.license
  test/fullscale_tests/test_umat/Reference/vumat.e
  test/fullscale_tests/test_umat/Reference/vumat.e.license
  test/fullscale_tests/test_umat/mesh.txt
  test/fullscale_tests/test_umat/test_umat.cmd
  test/fullscale_tests/test_umat/test_umat.cmd.license
  test/fullscale_tests/test_umat/test_umat.jl
  test/fullscale_tests/test_umat/umat.so
  test/fullscale_tests/test_umat/umat.so.license
  test/fullscale_tests/test_umat/umat.yaml
  test/fullscale_tests/test_umat/umat_matrix.yaml
  test/fullscale_tests/test_umat/vumat.so
  test/fullscale_tests/test_umat/vumat.so.license
  test/fullscale_tests/test_umat/vumat.yaml
  test/runtests.jl
Due: main_test, test, pages

final fix
  src/Core/Solver/Matrix_Verlet.jl
Due: main_test, test, pages

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

adding exception
  src/IO/exodus_export.jl
Due: main_test, test, pages

linear strain fix
  src/Support/Geometry.jl
Due: main_test, test, pages

build based on 0f207e6
  dev/.documenter-siteinfo.json
  dev/lib/data_manager_functions/index.html
  dev/lib/fem_functions/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/logging_functions/index.html
  dev/lib/material_basis_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/solver_functions/index.html
  dev/man/getting_started/index.html
Due: none

documentation
  docs/src/man/models/materials.md
Due: pages

added gmsh input
  Project.toml
  src/IO/mesh_data.jl
  src/IO/volume.jl
Due: main_test, test, pages

adding test
  test/unit_tests/Core/Module_inclusion/ut_set_Modules.jl
Due: main_test, test

new tests
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test

code cleaning
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
Due: main_test, test, pages

small fix
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test

@360 solve interface issue
  src/IO/volume.jl
Due: main_test, test, pages

#360 solve interface issue
  src/IO/volume.jl
Due: main_test, test, pages

adding documentation for verification
  docs/make.jl
  docs/src/assets/effect_of_coupling_size.png
  docs/src/assets/effect_of_coupling_size.png.license
  docs/src/assets/force–displacement_curves_for_the_DCB_simulation.png
  docs/src/assets/force–displacement_curves_for_the_DCB_simulation.png.license
  docs/src/assets/fracture_variants.png
  docs/src/assets/fracture_variants.png.license
  docs/src/man/solver/solver.md
  docs/src/refs.bib
  docs/src/verification/verification.md
  docs/src/verification/verification.md.license
Due: pages

typo
  docs/src/man/solver/solver.md
Due: pages

restructuring
  docs/src/man/solver/condensation.md
  docs/src/man/solver/solver.md
Due: pages

figure size
  docs/src/verification/verification.md
Due: pages

test scale
  docs/src/verification/verification.md
Due: pages

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
