Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

remove macOS
  .github/workflows/TagBot.yml
Due: none

update docs
  README.md
  docs/src/man/basics.md
  docs/src/man/getting_started.md
Due: pages

optimized prettier and vscode settings
  .prettierignore
  .vscode/settings.json
Due: none

Added Matrix Update param
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

added tests and fixed error logging
  src/Models/Material/Material_Models/BondBased/Unified_Bondbased_Elastic.jl
  src/PeriLab.jl
  test/fullscale_tests/test_bond_based_elastic/Reference/test_unified_bond_based_elastic_2D.e
  test/fullscale_tests/test_bond_based_elastic/test_unified_bond_based_elastic_2D.yaml
  test/runtests.jl
  test/unit_tests/ut_perilab.jl
Due: main_test, test, pages

Fixed matrix_to_vector
  src/Support/Helpers.jl
Due: main_test, test, pages

Update Changelog
  CHANGELOG.md
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

bump version
  CHANGELOG.md
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

exception
  src/Core/Model_reduction/Model_reduction.jl
Due: main_test, test, pages

filter modules
  src/IO/Bond_Filter/disk_filter.jl
  src/IO/Bond_Filter/filter_template.jl
  src/IO/Bond_Filter/rectangular_filter.jl
Due: main_test, test, pages

works
  src/Core/Model_reduction/Model_reduction.jl
Due: main_test, test, pages

update
  src/IO/Bond_Filter/disk_filter.jl
  src/IO/Bond_Filter/filter_template.jl
  src/IO/Bond_Filter/rectangular_filter.jl
  src/IO/bond_filter.jl
  src/IO/bond_filters.jl
  src/IO/mesh_data.jl
Due: main_test, test, pages

solve #74
  src/IO/Bond_Filter/disk_filter.jl
  src/IO/Bond_Filter/filter_template.jl
  src/IO/Bond_Filter/rectangular_filter.jl
  src/IO/bond_filter.jl
Due: main_test, test, pages

test fix
  test/unit_tests/IO/ut_bond_filter.jl
Due: main_test, test

bug fixes
  src/Core/Model_reduction/Model_reduction.jl
  test/unit_tests/IO/ut_bond_filter.jl
Due: main_test, test, pages

bug fixes
  src/Core/Solver/Newmark.jl
  test/unit_tests/IO/ut_bond_filter.jl
Due: main_test, test, pages

bug fix
  test/unit_tests/IO/ut_bond_filter.jl
Due: main_test, test

include abort
  src/IO/Bond_Filter/disk_filter.jl
Due: main_test, test, pages

bug fix
  test/unit_tests/Core/Model_reduction/ut_Model_reduction.jl
Due: main_test, test

test fixes
  src/IO/Bond_Filter/disk_filter.jl
  src/IO/bond_filter.jl
  test/unit_tests/IO/ut_bond_filter.jl
Due: main_test, test, pages

code cleaning
  test/developement_area/corr_stiff/corr_stiffnessmatrix.jl
  test/developement_area/corr_stiff/correspondence_functions.jl
  test/developement_area/corr_stiff/init_fields.jl
  test/developement_area/corr_stiff/matrix_solver_integration.jl
  test/developement_area/corr_stiff/new_solver_functions.jl
  test/developement_area/developement_template.jl
Due: main_test, test

solve #67
  Project.toml
  docs/make.jl
  docs/src/man/innfluence_function.md
  docs/src/man/innfluence_function.md.license
  docs/src/man/input_yaml.md
  src/Core/Influence_function.jl
  test/unit_tests/Core/ut_Influence_function.jl
Due: main_test, test, pages

build fix
  docs/make.jl
Due: pages

optimization
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

documentation
  docs/src/man/dev/start_dev.md
  docs/src/man/solver/solver.md
Due: pages
