Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

displacement bc free dofs
  src/Core/BC_manager.jl
  src/Core/Data_manager.jl
Due: main_test, test, pages

updated critical time step calc for orthotropic
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages

build based on 1915fba
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_FEM/index.html
  dev/theory/theory_FEM_PD_coupling/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

update solver name
  src/Support/Parameters/parameter_handling_solver.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

bc free dof fix
  src/Core/Data_manager.jl
Due: main_test, test, pages

unfied init interface
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages

adding find_bc_free_dof
  src/Core/BC_manager.jl
Due: main_test, test, pages

adding static solver
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Static_solver.jl
Due: main_test, test, pages

fixed test
  test/fullscale_tests/test_symmetry/Reference/symmetry_eng.e
Due: main_test, test

fixing static init
  src/Core/Solver/Static_solver.jl
Due: main_test, test, pages

type definition fixed
  src/Core/BC_manager.jl
Due: main_test, test, pages

static example bb
  test/fullscale_tests/test_bond_based_elastic/test_static_bond_based_elastic_2D.yaml
Due: main_test, test

Renamed "Solver" to "Multistep Solver"
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_solver.jl
  test/fullscale_tests/test_multistep/multistep.yaml
Due: main_test, test, pages

Edit readme and changelog
  CHANGELOG.md
  README.md
Due: none

build based on d6b1700
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_FEM/index.html
  dev/theory/theory_FEM_PD_coupling/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

edit README
  README.md
Due: none

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

minor error
  docs/src/theory/theory_FEM_PD_coupling.md
Due: pages

prototype
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages

current status
  examples/work/test_static_bond_based_elastic_2D.yaml
  src/Core/Solver/Static_solver.jl
Due: main_test, test, pages

static solver works #150
  src/Core/Solver/Static_solver.jl
  test/fullscale_tests/test_bond_based_elastic/Reference/test_static_bond_based_elastic_2D.e
  test/fullscale_tests/test_bond_based_elastic/Reference/test_static_bond_based_elastic_2D.e.license
  test/fullscale_tests/test_bond_based_elastic/test_bond_based_elastic.jl
  test/fullscale_tests/test_bond_based_elastic/test_static_bond_based_elastic_2D.yaml
Due: main_test, test, pages

adding all options
  test/fullscale_tests/test_bond_based_elastic/test_static_bond_based_elastic_2D.yaml
Due: main_test, test

changing bc_free_dof_field
  src/Core/BC_manager.jl
  src/Core/Data_manager.jl
Due: main_test, test, pages

solver update
  src/Core/Solver/Static_solver.jl
  test/fullscale_tests/test_bond_based_elastic/Reference/test_static_bond_based_elastic_2D.e
  test/fullscale_tests/test_bond_based_elastic/test_static_bond_based_elastic_2D.yaml
Due: main_test, test, pages

solve #239
  README.md
  docs/src/man/solver/solver.md
Due: pages

test fix
  test/fullscale_tests/test_bond_based_elastic/Reference/test_static_bond_based_elastic_2D.e
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test

update license
  LICENSE.md
Due: none

new What is PeriLab
  docs/src/index.md
Due: pages

test fix
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test

minor fix
  src/Core/Solver/Static_solver.jl
Due: main_test, test, pages

Added static to verlet switch #238
  src/Core/BC_manager.jl
  src/Core/Data_manager.jl
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet.jl
  src/PeriLab.jl
  src/Support/Parameters/parameter_handling_solver.jl
  test/fullscale_tests/test_DCB/DCBmodel_PD_solid_switch.yaml
  test/fullscale_tests/test_DCB/Reference/DCBmodel_PD_solid_switch.e
  test/fullscale_tests/test_DCB/Reference/DCBmodel_PD_solid_switch.e.license
  test/fullscale_tests/test_DCB/test_DCB.jl
  test/fullscale_tests/test_multistep/Reference/multistep.e
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

Edit logo
  README.md
Due: none
