Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

fixed docker build
  Dockerfile
Due: none

optimized show_block_summary
  src/IO/IO.jl
Due: main_test, test, pages

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

refac
  src/IO/IO.jl
  test/unit_tests/IO/ut_IO.jl
Due: main_test, test, pages

Improved MPI synchronisation #348
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet_solver.jl
  src/IO/IO.jl
  src/MPI_communication/MPI_communication.jl
  src/PeriLab.jl
  test/developement_area/corr_stiff/matrix_solver_integration.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
Due: main_test, test, pages

edit changelog
  CHANGELOG.md
Due: none

optimized logging
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet_solver.jl
  src/IO/IO.jl
  test/developement_area/corr_stiff/matrix_solver_integration.jl
Due: main_test, test, pages

CompatHelper: bump compat for Meshes to 0.57, (keep existing compat)
  Project.toml
Due: none

typo
  docs/src/man/getting_started.md
Due: pages

update docu
  docs/src/assets/gauss_scale.png
  docs/src/assets/gauss_scale.png.license
  docs/src/assets/paraview_example.png
  docs/src/assets/paraview_example.png.license
  docs/src/assets/point_gaussian.png
  docs/src/assets/point_gaussian.png.license
  docs/src/man/getting_started.md
Due: pages

include references
  README.md
Due: none

error fix
  docs/src/man/getting_started.md
Due: pages

raw html
  docs/src/man/getting_started.md
Due: pages

typo
  docs/src/man/solver/solver.md
Due: pages

update docs
  docs/src/assets/gauss_scale.png
  docs/src/assets/point_gaussian.png
  docs/src/man/getting_started.md
  docs/src/man/models/materials.md
Due: pages

adding new doc
  docs/make.jl
  docs/src/assets/bending_no_zero_energy_modes.png
  docs/src/assets/bending_no_zero_energy_modes.png.license
  docs/src/assets/bending_zero_energy_modes.png
  docs/src/assets/bending_zero_energy_modes.png.license
  docs/src/assets/coupling_nodes.png
  docs/src/assets/coupling_nodes.png.license
  docs/src/assets/shear_no_zero_energy_modes.png
  docs/src/assets/shear_no_zero_energy_modes.png.license
  docs/src/assets/shear_zero_energy_modes.png
  docs/src/assets/shear_zero_energy_modes.png.license
  docs/src/assets/tension_no_zero_energy_modes.png
  docs/src/assets/tension_no_zero_energy_modes.png.license
  docs/src/assets/tension_zero_energy_modes.png
  docs/src/assets/tension_zero_energy_modes.png.license
  docs/src/man/solver/condensation.md
  docs/src/man/solver/condensation.md.license
  docs/src/refs.bib
  docs/src/theory/theory_correspondence.md
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

fix
  docs/src/man/solver/condensation.md
Due: pages

shrink figures
  docs/src/assets/bending_no_zero_energy_modes.png
  docs/src/assets/bending_zero_energy_modes.png
  docs/src/assets/shear_no_zero_energy_modes.png
  docs/src/assets/shear_zero_energy_modes.png
  docs/src/assets/tension_no_zero_energy_modes.png
  docs/src/assets/tension_zero_energy_modes.png
Due: pages

style improvement
  src/Core/Data_manager/data_manager_fields.jl
Due: main_test, test, pages

bug fix; test if field exist was wrong
  src/Core/Data_manager/data_manager_solving_process.jl
Due: main_test, test, pages

code cleaning
  src/Core/Solver/Matrix_linear_static.jl
Due: main_test, test, pages

UMAT in matrix #355
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/Global_Zero_Energy_Control.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_UMAT.jl
Due: main_test, test, pages

add test
  test/unit_tests/Core/ut_data_manager.jl
Due: main_test, test

minor fix
  test/unit_tests/Core/ut_data_manager.jl
Due: main_test, test

add docu informatopmn
  docs/src/man/solver/solver.md
Due: pages

bc force computation
  src/Core/Solver/Matrix_linear_static.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

linear strains
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Support/Geometry.jl
Due: main_test, test, pages
