Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

Renamed contact params
  examples/contact/contact.yaml
  src/IO/volume.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
  src/Support/Parameters/parameter_handling.jl
  test/unit_tests/Contact/ut_Contact_Factory.jl
  test/unit_tests/Contact/ut_Contact_search.jl
Due: main_test, test, pages

refac
  test/fullscale_tests/test_penalty_contact/contact.yaml
  test/fullscale_tests/test_penalty_contact/penalty_contact.yaml
Due: main_test, test

refac
  test/fullscale_tests/test_penalty_contact/test_penalty_contact.jl
  test/runtests.jl
Due: main_test, test

refac
  test/fullscale_tests/test_contact/Reference/pressure.e
  test/fullscale_tests/test_contact/Reference/pressure.e.license
  test/fullscale_tests/test_contact/Reference/tension.e
  test/fullscale_tests/test_contact/Reference/tension.e.license
  test/fullscale_tests/test_contact/pressure.yaml
  test/fullscale_tests/test_contact/tension.yaml
  test/fullscale_tests/test_contact/test_contact.cmd
  test/fullscale_tests/test_contact/test_contact.cmd.license
  test/fullscale_tests/test_contact/test_contact.jl
  test/fullscale_tests/test_contact/test_mesh.txt
  test/fullscale_tests/test_penalty_contact/penalty_contact.yaml
  test/fullscale_tests/test_penalty_contact/test_penalty_contact.cmd
Due: main_test, test

adding contact model name
  src/Models/Contact/Penalty_model.jl
Due: main_test, test, pages

adding docu
  docs/src/man/models/contact.md
  docs/src/theory/theory_bondbased.md
Due: pages

seminar
  docs/make.jl
  docs/src/assets/bobaru2016_convergence.png
  docs/src/assets/bobaru2016_convergence.png.license
  docs/src/lecture/seminar_2.md
  docs/src/lecture/seminar_3.md
  docs/src/lecture/seminar_3.md.license
  docs/src/lecture/seminar_4.md
  docs/src/lecture/seminar_4.md.license
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

edit readme
  README.md
Due: none

adding support for sin cos tan in BCs
  src/Core/BC_manager.jl
Due: main_test, test, pages

refac
  src/Models/Damage/Energy_release.jl
Due: main_test, test, pages

added Contact Nodes Output
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

solve #230
  docs/src/theory/theory_damage.md
Due: pages

docu fix
  docs/src/theory/theory_correspondence.md
Due: pages

fixes
  src/Models/Material/Material_Models/BondBased/Unified_Bondbased_Elastic.jl
Due: main_test, test, pages

solve #233
  docs/src/refs.bib
  docs/src/theory/theory_bondbased.md
Due: pages

fix
  docs/src/lecture/seminar_1.md
Due: pages

fix bc clean_up
  src/Core/BC_manager.jl
Due: main_test, test, pages

update
  docs/src/lecture/seminar_1.md
  docs/src/theory/theory_bondbased.md
Due: pages

update seminar
  docs/src/lecture/seminar_1.md
Due: pages

update
  docs/src/lecture/seminar_1.md
Due: pages

optimized critical_stretch function
  src/Models/Damage/Critical_Stretch.jl
Due: main_test, test, pages

reduce nlist loop allocations
  src/Models/Material/Material_Models/BondBased/Unified_Bondbased_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/Material_Models/Ordinary/Ordinary.jl
  src/Models/Pre_calculation/pre_bond_associated_correspondence.jl
  src/Models/Surface_correction/Surface_correction.jl
  src/Support/Geometry.jl
  src/Support/Helpers.jl
  test/unit_tests/Compute/ut_compute_field_values.jl
Due: main_test, test, pages

fixed nlist
  src/Models/Damage/Critical_Stretch.jl
  src/Models/Material/Material_Models/BondBased/Unified_Bondbased_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/Material_Models/Ordinary/Ordinary.jl
  src/Models/Pre_calculation/pre_bond_associated_correspondence.jl
  src/Models/Surface_correction/Surface_correction.jl
  src/Support/Geometry.jl
  test/unit_tests/Compute/ut_compute_field_values.jl
Due: main_test, test, pages

Removde Rotation field
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Model_Factory.jl
Due: main_test, test, pages
