Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

added coupling matrix
  src/FEM/Coupling/Arlequin.jl
Due: main_test, test, pages

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Optimized additive model
  src/Models/Additive/simple_additive.jl
Due: main_test, test, pages

build based on b451785
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

fixed missing nodes
  scripts/gcode_reader.jl
Due: none

prep_models
  examples/unified_bond_based/standard.jl
Due: none

mixed mode
  examples/unified_bond_based/Mixed–mode_fracture_of_double_edge–notched_plate.jl
Due: none

readme update
  README.md
Due: none

new examples
  examples/unified_bond_based/Double_notch.yaml
  examples/unified_bond_based/Mixed–mode_fracture_of_double_edge–notched_plate.jl
  examples/unified_bond_based/block_100_100.jl
  examples/unified_bond_based/block_200_200_l100.jl
  examples/unified_bond_based/block_50_50_30.jl
Due: none

coding style
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
Due: main_test, test, pages

Coding Style
  src/Compute/compute_field_values.jl
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Elastic.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test, pages

Update README.md
  README.md
Due: none

Orcid Preview
  assets/orcid_preview.jpg
Due: none

including exception for unified bond based
  src/Models/Material/Material_Basis.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test, pages

update
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
Due: main_test, test, pages

prototype 3D
  src/Models/Material/Material_Models/BondBased/Unified_Bondbased_Elastic.jl
  test/fullscale_tests/test_bond_based_elastic/test_unified_bond_based_elastic_2D.yaml
  test/fullscale_tests/test_bond_based_elastic/test_unified_bond_based_elastic_3D.yaml
Due: main_test, test, pages

prototype 2D
  src/Models/Material/Material_Models/BondBased/Unified_Bondbased_Elastic.jl
  test/fullscale_tests/test_bond_based_elastic/test_unified_bond_based_elastic_2D.yaml
Due: main_test, test, pages

close #210
  test/fullscale_tests/test_DCB/DCBmodel_unified_bb.yaml
  test/fullscale_tests/test_DCB/Reference/DCBmodel_unified_bb.e
  test/fullscale_tests/test_DCB/Reference/DCBmodel_unified_bb.e.license
  test/fullscale_tests/test_bond_based_elastic/Reference/test_unified_bond_based_elastic_2D.e
  test/fullscale_tests/test_bond_based_elastic/Reference/test_unified_bond_based_elastic_2D.e.license
  test/fullscale_tests/test_bond_based_elastic/Reference/test_unified_bond_based_elastic_3D.e
  test/fullscale_tests/test_bond_based_elastic/Reference/test_unified_bond_based_elastic_3D.e.license
  test/fullscale_tests/test_bond_based_elastic/test_bond_based_elastic.jl
  test/fullscale_tests/test_bond_based_elastic/test_bond_based_elastic_3D.yaml
Due: main_test, test

test fix
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Bond_Associated_Correspondence.jl
Due: main_test, test

fix
  test/fullscale_tests/test_DCB/Reference/DCBmodel_unified_bb.e
  test/fullscale_tests/test_bond_based_elastic/Reference/test_unified_bond_based_elastic_3D.e
  test/fullscale_tests/test_bond_based_elastic/test_bond_based_elastic_3D.yaml
  test/fullscale_tests/test_point_wise_material/Reference/test_point_wise_material_bond_based.e
  test/unit_tests/Models/Material/Material_Models/BondBased/ut_Bondbased_Elastic.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test

test fix
  test/fullscale_tests/test_DCB/Reference/DCBmodel_unified_bb.e
Due: main_test, test

improve documentation
  docs/src/man/dev/testing.md
  docs/src/man/dev/testing.md.license
  docs/src/man/models/additive.md
  docs/src/refs.bib
  docs/src/theory/theory_damage.md
  test/fullscale_tests/test_additive/test_additive.cmd
Due: main_test, test, pages

docs fix
  docs/make.jl
  docs/src/assets/3d_printing.png.license
  docs/src/lib/solver_functions.md
  docs/src/refs.bib
Due: pages

docs fix #172
  docs/make.jl
  docs/src/assets/3d_printing.png.license
  docs/src/lib/solver_functions.md
  docs/src/refs.bib
Due: pages

fix
  docs/src/man/models/additive.md
Due: pages

eq fix
  docs/src/man/models/additive.md
Due: pages

build based on 8e7b49e
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

minor correction
  docs/src/man/dev/testing.md
Due: pages

blank test
  test/unit_tests/FEM/Coupling/ut_Arlequin.jl
Due: main_test, test

first step with couling
  src/FEM/Coupling/Arlequin.jl
  test/unit_tests/FEM/Coupling/ut_Arlequin.jl
Due: main_test, test, pages

next steps
  src/FEM/Coupling/Arlequin.jl
  src/FEM/Coupling/Coupling_Factory.jl
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
  test/unit_tests/FEM/Coupling/ut_Arlequin.jl
Due: main_test, test, pages

prototype
  src/Core/Data_manager.jl
  src/FEM/Coupling/Arlequin.jl
  src/Models/Model_Factory.jl
Due: main_test, test, pages

test case
  test/fullscale_tests/test_FEM_coupling/mesh.txt
  test/fullscale_tests/test_FEM_coupling/test_FEM_2d_coupled_Arlequin.yaml
Due: main_test, test

prototype
  Project.toml
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Verlet.jl
  src/FEM/Coupling/Arlequin_coupling.jl
  src/FEM/Coupling/Coupling_Factory.jl
  src/FEM/FEM_Factory.jl
  src/Models/Model_Factory.jl
  test/fullscale_tests/test_FEM_coupling/Reference/test_FEM_2d_coupled_Arlequin.e
  test/fullscale_tests/test_FEM_coupling/Reference/test_FEM_2d_coupled_Arlequin.e.license
  test/fullscale_tests/test_FEM_coupling/mesh.txt
  test/fullscale_tests/test_FEM_coupling/test_FEM_2d_coupled_Arlequin.yaml
  test/fullscale_tests/test_FEM_coupling/test_FEM_coupling.jl
  test/runtests.jl
  test/unit_tests/FEM/Coupling/ut_Arlequin.jl
Due: main_test, test, pages

coupling prototype
  examples/FEM_Bar/FEM_p1_2d_coupled.yaml
  src/FEM/Coupling/Arlequin_coupling.jl
  src/Models/Model_Factory.jl
  test/fullscale_tests/test_DCB/Reference/DCBmodel_unified_bb.e
  test/fullscale_tests/test_DCB/test_DCB.jl
  test/runtests.jl
  test/unit_tests/Compute/ut_compute_field_values.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: main_test, test, pages

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
