Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, deploy, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

stages:
  - test
  - benchmark
  - deploy

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

test:
  stage: test
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e "import Pkg; Pkg.test(; coverage = true)"
    # - julia --project=test/coverage -e 'import Pkg; Pkg.instantiate()'
    # - julia --project=test/coverage test/coverage/coverage-summary.jl

    - julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    refs:
      - main
    changes:
      - src/**/*
  script:
    - docker build -t perihub/perilab .
    - docker push perihub/perilab

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

removed a few tests
  test/fullscale_tests/test_PD_solid_elastic_3D/test_PD_solid_elastic_3D.jl
  test/fullscale_tests/test_correspondence_elastic_3D/test_correspondence_elastic_3D.jl
  test/runtests.jl
Due: test

Edit changelog
  CHANGELOG.md
  README.md
Due: none

resolve #125; #126
  src/Physics/Material/Material_Models/Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence_Plastic.jl
  test/fullscale_tests/test_correspondence_elastic_plastic/Reference/correspondence_elastic_plastic.e
  test/fullscale_tests/test_correspondence_elastic_plastic/Reference/correspondence_elastic_plastic.e.license
  test/fullscale_tests/test_correspondence_elastic_plastic/correspondence_elastic_plastic.yaml
  test/fullscale_tests/test_correspondence_elastic_plastic/test_correspondence_elastic_plastic.cmd
  test/fullscale_tests/test_correspondence_elastic_plastic/test_correspondence_elastic_plastic.cmd.license
  test/fullscale_tests/test_correspondence_elastic_plastic/test_correspondence_elastic_plastic.jl
  test/fullscale_tests/test_correspondence_elastic_plastic/test_mesh.txt
  test/runtests.jl
Due: test, deploy, pages

added git info
  src/IO/logging.jl
  src/PeriLab.jl
Due: test, deploy, pages

changed version
  CHANGELOG.md
  Project.toml
Due: none

Fixed input warnings
  examples/Dogbone/Dogbone.yaml
  examples/ENFmodel/ENFmodel.yaml
  examples/Undulations/Smetana.yaml
  src/Support/Parameters/parameter_handling.jl
  test/fullscale_tests/test_dogbone/dogbone.yaml
  test/fullscale_tests/test_thermal_flow/thermal_flow.yaml
Due: test, deploy, pages

fixed aqua warning
  Project.toml
Due: none

funding statements
  README.md
Due: none

funding statement style
  README.md
Due: none

funding information
  README.md
Due: none

adding linebreaks
  README.md
Due: none

resolve #141
  src/IO/mesh_data.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: test, deploy, pages

documentation
  src/IO/mesh_data.jl
Due: test, deploy, pages

added exception for block_id type
  docs/src/lib/io_functions.md
  src/IO/mesh_data.jl
  test/unit_tests/IO/example_wrong_mesh.txt
  test/unit_tests/IO/ut_mesh_data.jl
Due: test, deploy, pages

get_current_git_info
  src/PeriLab.jl
Due: test, deploy, pages

bug fix
  src/Support/Parameters/parameter_handling.jl
Due: test, deploy, pages

added Neighborhood Distribution
  src/Support/Parameters/parameter_handling.jl
Due: test, deploy, pages

changed license
  assets/PeriLab_additive.gif.license
  assets/PeriLab_crack.gif.license
  assets/hytank.jpg.license
  examples/FEM_Bar/topo_data.txt
Due: none

Fixed abaqus block_id issue
  src/IO/mesh_data.jl
Due: test, deploy, pages

fixed yaml_input
  src/Support/Parameters/parameter_handling.jl
Due: test, deploy, pages

added FEM_plate
  examples/FEM_plate/ElemLISTfe.txt
  examples/FEM_plate/FEM_plate.yaml
  examples/FEM_plate/NodeBC.txt
  examples/FEM_plate/NodeForce.txt
  examples/FEM_plate/NodeLISTfe.txt
Due: none

fixed pages
  src/IO/mesh_data.jl
Due: test, deploy, pages

text fix
  docs/src/index.md
Due: pages

double call additive model
  src/Physics/Physics_Factory.jl
Due: test, deploy, pages

cleaning
  examples/Thermal_flow/BCleft.txt
  examples/Thermal_flow/BCright.txt
  examples/Thermal_flow/mesh.txt
  examples/Thermal_flow/thermal_flow.yaml
Due: none

error handliing
  src/Physics/Thermal/thermal_flow.jl
Due: test, deploy, pages

code cleaning
  src/Physics/Thermal/thermal_expansion.jl
Due: test, deploy, pages

test explanaition
  test/fullscale_tests/test_thermal_expansion/thermal_expansion_PD_Solid.yaml
  test/fullscale_tests/test_thermal_expansion/thermal_expansion_bond_based.yaml
  test/fullscale_tests/test_thermal_expansion/thermal_expansion_correspondence.yaml
Due: test

fix: correct position of numerical damping
  examples/3d_printing_paper/Thermal_flow/thermal_flow.yaml
  examples/Benchmark/Benchmark_3dx_10.yaml
  examples/Benchmark/Benchmark_3dx_100.yaml
  examples/Benchmark/Benchmark_3dx_1000.yaml
  examples/Benchmark/Benchmark_4dx_10.yaml
  examples/Benchmark/Benchmark_4dx_100.yaml
  examples/Benchmark/Benchmark_4dx_1000.yaml
  examples/Benchmark/Benchmark_5dx_10.yaml
  examples/Benchmark/Benchmark_5dx_100.yaml
  examples/Compact_Tension/CompactTension.yaml
  examples/DCB/DCBmodel.yaml
  examples/Dogbone/Dogbone.yaml
  examples/ENFmodel/ENFmodel.yaml
  examples/FEM_Bar/FEM_p1_2d.yaml
  examples/FEM_plate/FEM_plate.yaml
  examples/PeriLab/PeriLab.yaml
  examples/PeriLab/PeriLab_additive.yaml
  examples/Undulations/Smetana.yaml
  src/Support/Parameters/parameter_handling.jl
  test/fullscale_tests/test_DCB/DCBmodel_PD_solid.yaml
  test/fullscale_tests/test_DCB/DCBmodel_PD_solid_temp_depended.yaml
  test/fullscale_tests/test_DCB/DCBmodel_correspondence.yaml
  test/fullscale_tests/test_FEM/FEM_p1_1_2d.yaml
  test/fullscale_tests/test_FEM/FEM_p1_2d.yaml
  test/fullscale_tests/test_FEM/FEM_p1_3d.yaml
  test/fullscale_tests/test_FEM/FEM_p2_1_1_3d.yaml
  test/fullscale_tests/test_FEM/FEM_p2_1_2d.yaml
  test/fullscale_tests/test_FEM/FEM_p2_2d.yaml
  test/fullscale_tests/test_FEM/FEM_p2_3d.yaml
  test/fullscale_tests/test_additive/additive_2d.yaml
  test/fullscale_tests/test_additive/additive_2d_heat.yaml
  test/fullscale_tests/test_additive/additive_3d.yaml
  test/fullscale_tests/test_dogbone/dogbone.yaml
  test/fullscale_tests/test_heat_transfer/heat_transfer.yaml
  test/fullscale_tests/test_thermal_flow/thermal_flow_correspondence.yaml
Due: test, deploy, pages

paper info
  examples/3d_printing_paper/Heat_expansion/BCall.txt
  examples/3d_printing_paper/Heat_expansion/mesh.txt
  examples/3d_printing_paper/Heat_expansion/thermal_expansion_PD_Solid.yaml
  examples/3d_printing_paper/Heat_expansion/thermal_expansion_bond_based.yaml
  examples/3d_printing_paper/Heat_expansion/thermal_expansion_correspondence.yaml
  examples/3d_printing_paper/Thermal_flow/BCleft.txt
  examples/3d_printing_paper/Thermal_flow/BCright.txt
  examples/3d_printing_paper/Thermal_flow/mesh.txt
Due: none

commit information for paper
  examples/3d_printing_paper/Heat_expansion/commit_info.txt
  examples/3d_printing_paper/Thermal_flow/commit_info.txt
Due: none

fix
  examples/3d_printing_paper/Thermal_flow/thermal_flow.yaml
  src/Physics/Thermal/Thermal_Factory.jl
  src/Physics/Thermal/thermal_flow.jl
Due: test, deploy, pages

examples
  examples/3d_printing_paper/Cooling/thermal_flow_bb.yaml
  examples/3d_printing_paper/Thermal_flow/thermal_flow_corr.yaml
Due: none

fixed get_crit_values
  src/Physics/Damage/Damage_Factory.jl
  src/Support/data_manager.jl
Due: test, deploy, pages

changed url
  src/PeriLab.jl
Due: test, deploy, pages

changed ENFmodel
  examples/ENFmodel/ENFmodel.txt
  examples/ENFmodel/ENFmodel.yaml
  examples/ENFmodel/ns_ENFmodel_1.txt
  examples/ENFmodel/ns_ENFmodel_2.txt
  examples/ENFmodel/ns_ENFmodel_3.txt
  examples/ENFmodel/ns_ENFmodel_4.txt
Due: none

code cleaing
  src/Core/Solver/Verlet.jl
Due: test, deploy, pages

fix
  src/Core/Solver/Verlet.jl
Due: test, deploy, pages

citation template
  examples/3d_printing_paper/citation.bib
Due: none
