Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

Fixed tests
  src/MPI_communication/MPI_communication.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence_UMAT.jl
Due: main_test, test, pages

build based on 3ccc112
  dev/.documenter-siteinfo.json
  dev/assets/themes/documenter-dark.css
  dev/assets/themes/documenter-light.css
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

optimized ode solver
  src/Core/Solver/External_solver.jl
  test/fullscale_tests/test_bond_based_elastic/test_static_bond_based_elastic_2D.yaml
Due: main_test, test, pages

edit ODE
  Project.toml
  src/Core/Solver/External_solver.jl
Due: main_test, test, pages

reshape fix
  src/FEM/FEM_routines.jl
Due: main_test, test, pages

edit Changelog
  CHANGELOG.md
Due: none

Bumped version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

optimizing lumped mass
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
Due: main_test, test, pages

edit CompatHelper
  .github/workflows/CompatHelper.yml
Due: none

build based on 2551720
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

b matrix and index error in mass matrix
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
Due: main_test, test, pages

B Matrix fix
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
Due: main_test, test, pages

index fix
  src/FEM/FEM_routines.jl
Due: main_test, test, pages

update tests
  test/fullscale_tests/test_FEM/Reference/FEM_p1_1_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p1_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p1_3d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_1_1_3d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_1_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_3d.e
Due: main_test, test

renaming
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Bond_Associated_Correspondence.jl
Due: main_test, test, pages

new paths
  src/Physics/Pre_calculation/bond_deformation_gradient.jl
  src/Physics/Pre_calculation/bond_shape_tensor.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Bond_Associated_Correspondence.jl
Due: main_test, test, pages

test fix
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: main_test, test

test fix
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: main_test, test

test cleaning
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test

test fix
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence.jl
  test/unit_tests/Physics/ut_templates.jl
Due: main_test, test

test fix
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence_UMAT.jl
Due: main_test, test

added mesh_tests
  docs/src/man/mesh_input.md
  src/IO/mesh_data.jl
  test/unit_tests/IO/example_mesh.g
  test/unit_tests/IO/example_mesh.g.license
  test/unit_tests/IO/ut_bond_filter.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: main_test, test, pages

build based on c3180f4
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

code cleaning
  src/Physics/Pre_calculation/bond_shape_tensor.jl
Due: main_test, test, pages

material fix
  src/Physics/Material/Material_Models/Correspondence_Plastic.jl
Due: main_test, test, pages

defgrad fix
  src/Support/geometry.jl
Due: main_test, test, pages

test update
  test/runtests.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Bond_Associated_Correspondence.jl
Due: main_test, test

FEM forces
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages

templates update
  test/unit_tests/Physics/ut_templates.jl
Due: main_test, test

interface update
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence_Elastic.jl
  src/Physics/Material/Material_Models/Correspondence_Plastic.jl
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
  src/Physics/Material/Material_template/correspondence_template.jl
Due: main_test, test, pages

added PD Solid Plastic test
  src/Physics/Material/Material_Factory.jl
  src/Physics/Material/Material_Models/PD_Solid_Plastic.jl
  test/fullscale_tests/test_PD_solid_plastic/Reference/strain_xy.e
  test/fullscale_tests/test_PD_solid_plastic/Reference/strain_xy.e.license
  test/fullscale_tests/test_PD_solid_plastic/strain_xy.yaml
  test/fullscale_tests/test_PD_solid_plastic/test_PD_solid_plastic.cmd
  test/fullscale_tests/test_PD_solid_plastic/test_PD_solid_plastic.cmd.license
  test/fullscale_tests/test_PD_solid_plastic/test_PD_solid_plastic.jl
  test/fullscale_tests/test_PD_solid_plastic/test_mesh.txt
  test/runtests.jl
Due: main_test, test, pages

added ut_mechanical_critical_time_step test
  test/unit_tests/Core/Solver/ut_Verlet.jl
Due: main_test, test

added ut_init_orientations_3d and csv test
  test/unit_tests/IO/ut_IO.jl
Due: main_test, test

Fixed docs
  docs/src/lib/io_functions.md
  docs/src/lib/physics_functions.md
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
Due: main_test, test, pages

build based on 58ced06
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

added tests
  src/IO/read_inputdeck.jl
  src/Physics/Material/material_basis.jl
  test/unit_tests/IO/ut_read_inputdeck.jl
  test/unit_tests/Physics/Damage/ut_Damage_Factory.jl
  test/unit_tests/Physics/Material/ut_material_basis.jl
  test/unit_tests/Physics/ut_templates.jl
  test/unit_tests/Support/Parameters/example_mesh.g
  test/unit_tests/Support/Parameters/example_mesh.g.license
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

build based on 4b7cc96
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

fix
  src/Physics/Material/Material_Models/Correspondence.jl
Due: main_test, test, pages

build based on 6d8010c
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
