Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

typo
  docs/src/lecture/seminar_4.md
Due: pages

type comment
  src/Models/Damage/Damage_Factory.jl
Due: main_test, test, pages

update comments
  src/Core/Solver/Verlet.jl
  src/FEM/FEM_Factory.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
Due: main_test, test, pages

optimize pre calculation factory
  src/Models/Pre_calculation/Pre_Calculation_Factory.jl
  src/Support/Geometry.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

optimizing allocation
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
Due: main_test, test, pages

added height parameter for gcode volume
  scripts/gcode_reader.jl
  src/IO/gcode.jl
  src/Support/Parameters/parameter_handling.jl
  test/fullscale_tests/test_additive/additive_curved.yaml
  test/fullscale_tests/test_additive/additive_gcode.yaml
Due: main_test, test, pages

code clearance
  src/Models/Material/Material_Models/Ordinary/Ordinary.jl
Due: main_test, test, pages

CompatHelper: bump compat for PrettyTables to 3, (keep existing compat)
  Project.toml
Due: none

Update README.md
  README.md
Due: none

Added HIRSE Badge
  README.md
Due: none

Fixed warnings
  scripts/gcode_reader.jl
  scripts/nodesets_from_mesh.jl
  src/IO/IO.jl
  src/IO/csv_export.jl
  src/IO/exodus_export.jl
  src/Models/Pre_calculation/Pre_Calculation_Factory.jl
  src/Support/Parameters/parameter_handling_models.jl
  test/benchmarks/benchmark_test.jl
Due: main_test, test, pages

code improvements
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

efficiency
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages

code quality
  Project.toml
  src/Core/Data_manager.jl
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_VUMAT.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Models/Material/Material_template/correspondence_template.jl
  src/Support/Helpers.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

code impovement
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

fixed optional Normal Z Parameter
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

Fixed merging after error
  src/IO/logging.jl
  src/PeriLab.jl
Due: main_test, test, pages

Fixed unit test
  test/unit_tests/IO/ut_logging.jl
Due: main_test, test

refac
  test/unit_tests/IO/ut_logging.jl
Due: main_test, test

CompatHelper: bump compat for DataStructures to 0.19, (keep existing compat)
  Project.toml
Due: none

CompatHelper: bump compat for Exodus to 0.14, (keep existing compat)
  Project.toml
Due: none

first commit
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages

code cleaning
  src/Models/Damage/Energy_release.jl
Due: main_test, test, pages

first commit generalized
  test/fullscale_tests/test_DCB/DCBmodel_correspondence_ce.yaml
Due: main_test, test

Energy_release generalized first commit
  src/Models/Damage/Energy_release_generalized.jl
Due: main_test, test, pages

dev template
  test/developement_area/developement_template.jl
Due: main_test, test

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
