Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, deploy, pages

test:
  stage: test
  script:
  - julia --project=@. -e "import Pkg; Pkg.test(; coverage = true)"
  - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
    paths:
    - test

deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
  - docker logout
  stage: deploy
  script:
  - docker build -t perihub/perilab .
  - docker push perihub/perilab

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

orcid misstake
  README.md
Due: none

added StaticArrays
  Project.toml
  src/FEM/FEM_routines.jl
  src/Physics/Damage/Energy_release.jl
  src/Physics/Material/Material_Models/Correspondence_Elastic.jl
  src/Physics/Material/Material_Models/Correspondence_Plastic.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
  src/Physics/Material/material_basis.jl
  src/Physics/Thermal/thermal_expansion.jl
  src/Physics/Thermal/thermal_flow.jl
  src/Support/geometry.jl
Due: test, deploy, pages

Edit Example
  examples/DCB/DCBmodel.yaml
Due: none

added MPIPreferences
  .gitignore
  Project.toml
  README.md
  src/PeriLab.jl
Due: test, deploy, pages

added compat
  Project.toml
Due: none

test coverage
  src/Compute/compute_field_values.jl
  test/unit_tests/Compute/ut_compute_field_values.jl
Due: test, deploy, pages

training yaml
  examples/Training/Input.yaml
Due: none

test
  test/fullscale_tests/test_DCB/DCBmodel_PD_solid_temp_depended.yaml
Due: test

test coverage
  test/runtests.jl
  test/unit_tests/Physics/Additive/ut_Additive_Factory.jl
Due: test

project acronym added
  README.md
Due: none

add some code convetions
  CONTRIBUTING.md
Due: none

interface repaired
  src/Physics/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Support/helpers.jl
  test/fullscale_tests/test_thermal_expansion/Reference/thermal_expansion_PD_Solid.e
  test/fullscale_tests/test_thermal_expansion/Reference/thermal_expansion_correspondence.e
Due: test, deploy, pages

code optimization
  src/Compute/compute_field_values.jl
Due: test, deploy, pages

Smatrix error fixed
  src/Physics/Thermal/thermal_expansion.jl
  src/Physics/Thermal/thermal_flow.jl
  src/Support/geometry.jl
Due: test, deploy, pages

added faq
  docs/make.jl
  docs/src/lib/faq.md
  docs/src/lib/faq.md.license
Due: pages

Edit contributing
  CONTRIBUTING.md
  docs/src/lib/faq.md
Due: pages

bug fix
  src/Support/geometry.jl
Due: test, deploy, pages

code optimization
  src/Support/geometry.jl
Due: test, deploy, pages

fixes
  src/Compute/compute_field_values.jl
  src/Support/geometry.jl
  test/unit_tests/Compute/ut_compute_field_values.jl
Due: test, deploy, pages

interface change
  src/Physics/Thermal/thermal_flow.jl
Due: test, deploy, pages

static arrays solved
  src/Physics/Thermal/thermal_flow.jl
Due: test, deploy, pages

static array fix for elastic plastic
  src/Physics/Material/Material_Models/Correspondence_Plastic.jl
Due: test, deploy, pages

update docs and readme
  README.md
  docs/src/index.md
Due: pages

reorder
  README.md
Due: none

docu update
  docs/src/index.md
Due: pages

added Datetime and remov git warning
  Project.toml
  src/PeriLab.jl
Due: test, deploy, pages

removed @inbounds
  src/Physics/Damage/Energy_release.jl
  src/Physics/Material/Material_Models/Ordinary/Ordinary.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
Due: test, deploy, pages

remove aniso bond_damage from example
  examples/Compact_Tension/CompactTension.yaml
Due: none

edit example
  examples/Compact_Tension/CompactTension.yaml
Due: none

fix aniso damage for PD solid and bond based
  src/Physics/Damage/Energy_release.jl
  src/Physics/Material/Material_Models/Ordinary/Ordinary.jl
  src/Physics/Physics_Factory.jl
Due: test, deploy, pages

Edit changelog
  CHANGELOG.md
Due: none

prototype PD solid plastic
  docs/src/lib/physics_functions.md
  src/Physics/Material/Material_Models/Ordinary/Ordinary.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
  src/Physics/Material/Material_Models/PD_Solid_Plastic.jl
Due: test, deploy, pages

fix
  src/Physics/Material/Material_Models/PD_Solid_Plastic.jl
Due: test, deploy, pages

adding test
  src/Physics/Material/Material_Models/Ordinary/Ordinary.jl
  test/unit_tests/Physics/Material/Material_Models/Ordinary/ut_ordinary.jl
Due: test, deploy, pages

new references
  docs/src/refs.bib
Due: pages

fixed docstring
  src/IO/IO.jl
Due: test, deploy, pages

Edit docs
  docs/src/man/input_yaml.md
Due: pages

remove find_updatable and fix print_bed
  docs/src/lib/io_functions.md
  src/Physics/Additive/simple_additive.jl
  src/Physics/Physics_Factory.jl
  src/Physics/Thermal/heat_transfer.jl
  src/Physics/Thermal/thermal_flow.jl
  src/Support/helpers.jl
Due: test, deploy, pages

restructuring
  src/Physics/Material/Material_Models/Ordinary/Ordinary.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
  src/Physics/Physics_Factory.jl
  test/fullscale_tests/test_additive/Reference/additive_2d_heat.e
Due: test, deploy, pages

error fix
  test/fullscale_tests/test_PD_solid_elastic/Reference/strain_xy.e
Due: test

Path conditions:
  test: any of: src/**/*, test/**/*
  deploy: any of: src/**/*
  pages: any of: src/**/*, docs/**/*
