Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

Licensed additive models load only for decks with additive models; untrack generated test files
  src/Models/Additive/Additive_Factory.jl
  src/PeriLab.jl
  test/mesh_2d.txt
  test/mesh_3d.txt
  test/nset_1_2d.txt
  test/nset_1_3d.txt
  test/nset_2_2d.txt
  test/nset_2_3d.txt
  test/unit_tests/Models/ut_block_models.jl
Due: main_test, test, pages

Add phase 4 plan: remove the old input path
  docs/superpowers/plans/2026-10-08-typed-input-parameters-phase4-remove-old-path.md
Due: pages

final
  src/Core/Model_reduction/CraigBampton.jl
  src/Core/Model_reduction/CraigBampton_cascade.jl
Due: main_test, test, pages

MPI improvments
  src/Core/Solver/Solver_manager.jl
  src/IO/IO.jl
  src/MPI_communication/MPI_communication.jl
  test/unit_tests/Core/Model_reduction/ut_Model_reduction.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
Due: main_test, test, pages

test fix
  test/fullscale_tests/test_3D_aniso_material/Reference/3D_anisomat.e
  test/fullscale_tests/test_3D_aniso_material/Reference/3D_transverse_iso.e
  test/fullscale_tests/test_aniso_damage/Reference/aniso_damage.e
  test/fullscale_tests/test_aniso_damage/Reference/aniso_damage_mesh.e
Due: main_test, test

Typed helpers leave Parameter_Handling; validate_input without the legacy model validation
  src/IO/IO.jl
  src/IO/mesh_data.jl
  src/IO/node_sets.jl
  src/IO/read_inputdeck.jl
  src/Support/Parameters/Input/InputDeck.jl
  src/Support/Parameters/Input/conditions.jl
  src/Support/Parameters/Input/outputs.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_computes.jl
  src/Support/Parameters/parameter_handling_mesh.jl
  src/Support/Parameters/parameter_handling_output.jl
  test/unit_tests/IO/ut_read_inputdeck.jl
  test/unit_tests/Support/Parameters/Input/ut_node_sets_typed.jl
  test/unit_tests/Support/Parameters/Input/ut_outputs_typed.jl
  test/unit_tests/Support/Parameters/Input/ut_validate_yaml.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

The raw input deck no longer travels through IO and the solver
  src/Core/Solver/Solver_manager.jl
  src/IO/IO.jl
  src/IO/mesh_data.jl
  src/Models/Model_Factory.jl
  src/PeriLab.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/Models/ut_Model_Factory.jl
  test/unit_tests/Models/ut_block_models.jl
Due: main_test, test, pages

Delete Parameter_Handling and the dict schema files
  src/PeriLab.jl
  src/Support/Parameters/PeriLabInputSchema.jl
  src/Support/Parameters/Schema.jl
  src/Support/Parameters/apply_defaults.jl
  src/Support/Parameters/example_usage.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_FEM.jl
  src/Support/Parameters/parameter_handling_bc.jl
  src/Support/Parameters/parameter_handling_blocks.jl
  src/Support/Parameters/parameter_handling_computes.jl
  src/Support/Parameters/parameter_handling_mesh.jl
  src/Support/Parameters/parameter_handling_models.jl
  src/Support/Parameters/parameter_handling_output.jl
  src/Support/Parameters/parameter_handling_solver.jl
  test/helper.jl
  test/runtests.jl
  test/unit_tests/Support/Parameters/Input/ut_bc_typed.jl
  test/unit_tests/Support/Parameters/Input/ut_blocks_mesh_typed.jl
  test/unit_tests/Support/Parameters/Input/ut_outputs_typed.jl
  test/unit_tests/Support/Parameters/Input/ut_solver_typed.jl
  test/unit_tests/Support/Parameters/example_mesh.g
  test/unit_tests/Support/Parameters/example_mesh.g.license
  test/unit_tests/Support/Parameters/test_data_file.txt
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

Delete the old dependent-value helpers
  src/Models/Material/Material_Basis.jl
  src/Support/Helpers.jl
  test/unit_tests/Models/Material/legacy_material_oracle.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

Delete the Data_Manager properties API
  src/Core/Data_manager.jl
  src/Core/Solver/Matrix_linear_static.jl
  test/unit_tests/Core/ut_data_manager.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/Models/Additive/ut_Additive_Factory.jl
  test/unit_tests/Models/Material/ut_Material_Factory.jl
  test/unit_tests/Models/Material/ut_block_material.jl
  test/unit_tests/Models/ut_Model_Factory.jl
  test/unit_tests/Surface_correction/ut_Surface_correction.jl
Due: main_test, test, pages

BlockModels: one typed value per block replaces the per-category slots
  src/Compute/compute_field_values.jl
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_checkpoint.jl
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Newmark.jl
  src/Models/Additive/Additive_Factory.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Degradation/Degradation_Factory.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
  src/Models/Model_Factory.jl
  src/Models/Pre_calculation/Pre_Calculation_Factory.jl
  src/Models/Thermal/Thermal_Factory.jl
  test/runtests.jl
  test/unit_tests/Core/ut_block_models_store.jl
  test/unit_tests/Models/Damage/ut_block_damage.jl
  test/unit_tests/Models/Material/ut_block_material.jl
  test/unit_tests/Models/Thermal/ut_Thermal_Factory.jl
  test/unit_tests/Models/ut_Model_Factory.jl
  test/unit_tests/Models/ut_block_models.jl
Due: main_test, test, pages

Report unknown Models sections again; docs list InputDeck instead of the deleted Parameter_Handling
  docs/src/lib/io_functions.md
  examples/Dogbone/Dogbone_plastic_corr_static.yaml
  src/Support/Parameters/Input/input.jl
  test/runtests.jl
  test/unit_tests/IO/ut_read_inputdeck.jl
  test/unit_tests/Support/Parameters/Input/ut_category_models.jl
  test/unit_tests/ut_docs_references.jl
Due: main_test, test, pages

Add phase 5 plan: generators (JSON Schema, describe, parameter docs)
  docs/superpowers/plans/2026-10-09-typed-input-parameters-phase5-generators.md
Due: pages

ParameterSpec generators: JSON Schema, readable rows and Markdown tables per @params struct
  src/Support/Parameters/Spec/ParameterSpec.jl
  src/Support/Parameters/Spec/generators.jl
  src/Support/Parameters/Spec/registry.jl
  test/unit_tests/Support/Parameters/Spec/spec_tests.jl
  test/unit_tests/Support/Parameters/Spec/ut_generators.jl
Due: main_test, test, pages

to_json_schema: JSON Schema of the whole input deck from the typed declarations
  src/PeriLab.jl
  src/Support/Parameters/Input/InputDeck.jl
  src/Support/Parameters/Input/generators.jl
  src/Support/Parameters/Input/input.jl
  src/Support/Parameters/Spec/generators.jl
  test/unit_tests/Support/Parameters/Input/input_tests.jl
  test/unit_tests/Support/Parameters/Input/ut_generators_deck.jl
  test/unit_tests/Support/Parameters/Spec/ut_generators.jl
Due: main_test, test, pages

describe: a section's or model's parameters, or a YAML template
  src/PeriLab.jl
  src/Support/Parameters/Input/generators.jl
  test/unit_tests/Support/Parameters/Input/ut_generators_deck.jl
Due: main_test, test, pages

generate_parameter_docs: input reference pages built with the docs
  .gitignore
  docs/make.jl
  src/PeriLab.jl
  src/Support/Parameters/Input/generators.jl
  test/unit_tests/Support/Parameters/Input/ut_generators_deck.jl
Due: main_test, test, pages

Docs describe the typed input; read_input_deck returns the typed input
  CONTRIBUTING.md
  README.md
  docs/src/man/dev/module_overview.md
  docs/src/man/dev/parameters.md
  src/IO/IO.jl
  src/IO/read_inputdeck.jl
  test/unit_tests/IO/ut_read_inputdeck.jl
  test/unit_tests/Support/Parameters/Input/ut_validate_yaml.jl
Due: main_test, test, pages

Schema closes the keys of a single model; templates for named entries, Discretization and Contact; .inf in templates
  src/Support/Parameters/Input/generators.jl
  test/unit_tests/Support/Parameters/Input/ut_generators_deck.jl
Due: main_test, test, pages

Material model name comes from the parsed model; PeriLabInput drops the raw Models dict
  src/Models/Material/Material_Factory.jl
  src/Models/Model_Factory.jl
  src/Support/Parameters/Input/input.jl
  src/Support/Parameters/Spec/model.jl
  test/helper.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
  test/unit_tests/Support/Parameters/Input/ut_material_models.jl
  test/unit_tests/Support/Parameters/Input/ut_read_input.jl
  test/unit_tests/Support/Parameters/Spec/ut_model.jl
Due: main_test, test, pages

An empty YAML file or one without a mapping at the top aborts with "Yaml file is not valid." again
  src/IO/read_inputdeck.jl
  src/Models/Additive/Additive_Factory.jl
  test/unit_tests/IO/ut_read_inputdeck.jl
  test/unit_tests/Models/ut_block_models.jl
Due: main_test, test, pages

Comments: no phase numbers; the flag is --no_strict
  src/Support/Parameters/Input/InputDeck.jl
  src/Support/Parameters/Spec/errors.jl
  test/unit_tests/Models/Material/legacy_material_oracle.jl
Due: main_test, test, pages

Templates are tested against the real models of their category; ut_templates and ut_Additive_Factory run again
  src/Models/Additive/Additive_template/additive_template.jl
  src/Models/Damage/Critical_Stretch.jl
  src/Models/Damage/Damage_template/damage_template.jl
  src/Models/Damage/Energy_release.jl
  src/Models/Damage/Energy_release_aniso.jl
  src/Models/Degradation/BondBased_Corrosion.jl
  src/Models/Degradation/Degradation_template/degradation_template.jl
  src/Models/Degradation/thermal_decomposition.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_VUMAT.jl
  src/Models/Material/Material_Models/Material_template/correspondence_template.jl
  src/Models/Material/Material_Models/Material_template/material_template.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
  src/Models/Pre_calculation/Pre_calculation_template/pre_calculation_template.jl
  src/Models/Pre_calculation/axissymmetric.jl
  src/Models/Pre_calculation/bond_deformation.jl
  src/Models/Pre_calculation/deformation_gradient.jl
  src/Models/Pre_calculation/pre_bond_associated_correspondence.jl
  src/Models/Pre_calculation/shape_tensor.jl
  src/Models/Thermal/Thermal_template/thermal_template.jl
  src/Models/Thermal/heat_transfer.jl
  src/Models/Thermal/hetval.jl
  src/Models/Thermal/thermal_expansion.jl
  src/Models/Thermal/thermal_flow.jl
  test/runtests.jl
  test/unit_tests/Models/ut_templates.jl
Due: main_test, test, pages

Developer docs and seminar 9 show the typed model interface
  docs/src/lecture/seminar_9.md
  docs/src/man/dev/module_integration.md
  docs/src/man/dev/start_dev.md
  examples/Seminars/Part_09/seminar.jl
Due: pages

Contact models declare their own keys and register like the other model categories
  docs/src/man/dev/module_integration.md
  src/FEM/FEM_template/FEM_template.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_template/contact_template.jl
  src/Models/Contact/Penalty_model.jl
  src/Models/Contact/Short_Range.jl
  src/Support/Parameters/Input/InputDeck.jl
  src/Support/Parameters/Input/contact.jl
  src/Support/Parameters/Input/generators.jl
  src/Support/Parameters/Spec/registry.jl
  test/unit_tests/Models/Contact/ut_Penalty_model.jl
  test/unit_tests/Models/ut_templates.jl
  test/unit_tests/Support/Parameters/Input/ut_contact_fem_typed.jl
  test/unit_tests/Support/Parameters/Input/ut_generators_deck.jl
  test/unit_tests/Support/Parameters/Input/ut_outputs_conditions_contact.jl
  test/unit_tests/Support/Parameters/Input/ut_read_input.jl
Due: main_test, test, pages

Version 3.0.0; changelog for the typed input
  CHANGELOG.md
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

ut_block_material: block_material takes the name from the parsed model
  test/unit_tests/Models/Material/ut_block_material.jl
Due: main_test, test

The input deck is parsed once; read_input_deck takes the parsed YAML
  src/IO/IO.jl
  src/IO/read_inputdeck.jl
  src/PeriLab.jl
  test/unit_tests/IO/ut_read_inputdeck.jl
Due: main_test, test, pages

ut_IO and the InputDeck runner run on their own
  test/runtests.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/Support/Parameters/Input/run_input_tests.jl
Due: main_test, test

Docstrings of init_fields and find_potential_contact_pairs match their signatures
  src/Models/Contact/Contact_search.jl
  src/Models/Damage/Damage_Factory.jl
Due: main_test, test, pages

bind_dependent_tables! does not allocate
  src/Core/Data_manager.jl
  test/unit_tests/Models/Damage/ut_block_damage.jl
Due: main_test, test, pages

Remove the implementation plans of the typed input refactoring
  docs/superpowers/plans/2026-10-03-typed-input-parameters-phase1.md
  docs/superpowers/plans/2026-10-03-typed-input-parameters-phase2a.md
  docs/superpowers/plans/2026-10-03-typed-input-parameters-phase2b1-solver.md
  docs/superpowers/plans/2026-10-04-typed-input-parameters-phase2b2-mesh-blocks.md
  docs/superpowers/plans/2026-10-04-typed-input-parameters-phase2b3-outputs-computes.md
  docs/superpowers/plans/2026-10-04-typed-input-parameters-phase2b4-boundary-conditions.md
  docs/superpowers/plans/2026-10-04-typed-input-parameters-phase2b5-contact-fem-surface.md
  docs/superpowers/plans/2026-10-04-typed-input-parameters-phase3a-material-validation.md
  docs/superpowers/plans/2026-10-05-typed-input-parameters-phase3b-material-runtime.md
  docs/superpowers/plans/2026-10-05-typed-input-parameters-phase3c1-correspondence.md
  docs/superpowers/plans/2026-10-05-typed-input-parameters-phase3c2-remove-material-dict.md
  docs/superpowers/plans/2026-10-07-typed-input-parameters-phase3d-damage.md
  docs/superpowers/plans/2026-10-07-typed-input-parameters-phase3f-remaining-models.md
  docs/superpowers/plans/2026-10-08-typed-input-parameters-phase4-remove-old-path.md
  docs/superpowers/plans/2026-10-09-typed-input-parameters-phase5-generators.md
Due: pages

Remove the design spec of the typed input refactoring
  docs/superpowers/specs/2026-10-03-typed-input-parameters-design.md
Due: pages

An incomplete active Flaw Function is an input error
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Factory.jl
  test/unit_tests/Models/Material/ut_block_material.jl
  test/unit_tests/Support/Parameters/Input/ut_material_params.jl
Due: main_test, test, pages

An integer out of the Int64 range is an input error
  src/Support/Parameters/Spec/convert.jl
  test/unit_tests/Support/Parameters/Spec/ut_convert.jl
Due: main_test, test, pages

allowed checks every element of a list, also in the JSON schema
  src/Support/Parameters/Spec/convert.jl
  src/Support/Parameters/Spec/generators.jl
  test/unit_tests/Support/Parameters/Spec/ut_convert.jl
  test/unit_tests/Support/Parameters/Spec/ut_generators.jl
Due: main_test, test, pages

A 3D Rectangular_Plane filter without Z components aborts with a message
  src/IO/Bond_Filter/rectangular_filter.jl
  test/unit_tests/IO/ut_bond_filter.jl
Due: main_test, test, pages

A stiffness-matrix symmetry without a correspondence model aborts with a message
  src/Models/Material/Material_Factory.jl
  test/unit_tests/Models/Material/ut_block_material.jl
Due: main_test, test, pages

Remove a dead Reduction Blocks branch; stale solver and correspondence docstrings; parameters page in the docs nav
  docs/make.jl
  src/Core/Model_reduction/Model_reduction.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet_solver.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
Due: main_test, test, pages
