Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

Include set_modules only in solver_manager
  docs/src/man/dev/module_integration.md
  docs/src/man/dev/module_overview.md
  src/Core/Module_inclusion/set_Modules.jl
  src/Core/Solver/Solver_manager.jl
  src/FEM/Coupling/Arlequin_coupling.jl
  src/FEM/Coupling/Coupling_Factory.jl
  src/FEM/FEM_Factory.jl
  src/Models/Additive/Additive_Factory.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Degradation/Degradation_Factory.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Model_Factory.jl
  src/Models/Pre_calculation/Pre_Calculation_Factory.jl
  src/Models/Thermal/Thermal_Factory.jl
  test/unit_tests/FEM/Coupling/ut_Arlequin.jl
Due: main_test, test, pages

refac
  src/Core/Module_inclusion/set_Modules.jl
  src/FEM/Coupling/Coupling_Factory.jl
  src/FEM/FEM_Factory.jl
  src/Models/Additive/Additive_Factory.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Degradation/Degradation_Factory.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Pre_calculation/Pre_Calculation_Factory.jl
  src/Models/Thermal/Thermal_Factory.jl
Due: main_test, test, pages

refac
  docs/src/lib/geometry_functions.md
Due: pages

adding tests
  src/Core/Solver/Matrix_linear_static.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
  test/fullscale_tests/test_linear_static_matrix_based/DCBmodel.txt
  test/fullscale_tests/test_linear_static_matrix_based/Dogbone.txt
  test/fullscale_tests/test_linear_static_matrix_based/Dogbone.yaml
  test/fullscale_tests/test_linear_static_matrix_based/Reference/linear_static_matrix_based_solver_2D.e
  test/fullscale_tests/test_linear_static_matrix_based/Reference/linear_static_matrix_based_solver_2D.e.license
  test/fullscale_tests/test_linear_static_matrix_based/Reference/linear_static_matrix_based_solver_3D.e
  test/fullscale_tests/test_linear_static_matrix_based/Reference/linear_static_matrix_based_solver_3D.e.license
  test/fullscale_tests/test_linear_static_matrix_based/Reference/linear_static_matrix_based_solver_DCBmodel.e
  test/fullscale_tests/test_linear_static_matrix_based/Reference/linear_static_matrix_based_solver_DCBmodel.e.license
  test/fullscale_tests/test_linear_static_matrix_based/linear_static_matrix_based_solver_2D.yaml
  test/fullscale_tests/test_linear_static_matrix_based/linear_static_matrix_based_solver_DCBmodel.yaml
  test/fullscale_tests/test_linear_static_matrix_based/ns_DCBmodel_1.txt
  test/fullscale_tests/test_linear_static_matrix_based/ns_DCBmodel_2.txt
  test/fullscale_tests/test_linear_static_matrix_based/ns_Dogbone_1.txt
  test/fullscale_tests/test_linear_static_matrix_based/ns_Dogbone_2.txt
  test/fullscale_tests/test_linear_static_matrix_based/test_linear_static_matrix_based_solver.jl
  test/runtests.jl
Due: main_test, test, pages

refac
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  test/unit_tests/Models/Contact/ut_Contact_search.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test, pages

ignore strain calculation for zero deformation #306
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Support/Geometry.jl
Due: main_test, test, pages

new structure
  src/Core/Data_manager.jl
Due: main_test, test, pages

fixed #306
  src/Models/Pre_calculation/shape_tensor.jl
  src/Models/Thermal/thermal_expansion.jl
Due: main_test, test, pages

refac
  src/Models/Material/Material_Basis.jl
Due: main_test, test, pages

first commit
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Verlet_solver.jl
Due: main_test, test, pages

start
  test/developement_area/corr_stiff/corr_stiffnessmatrix.jl
  test/developement_area/corr_stiff/correspondence_functions.jl
  test/developement_area/corr_stiff/matrix_solver_integration.jl
Due: main_test, test

dev template
  test/developement_area/developement_template.jl
Due: main_test, test

init_data
  test/developement_area/corr_stiff/init_fields.jl
Due: main_test, test

update
  test/developement_area/corr_stiff/init_fields.jl
Due: main_test, test

new package
  Project.toml
Due: none

current state
  src/Core/Solver/Matrix_linear_static.jl
  test/developement_area/corr_stiff/corr_stiffnessmatrix.jl
  test/developement_area/corr_stiff/matrix_solver_integration.jl
  test/developement_area/corr_stiff/new_solver_functions.jl
Due: main_test, test, pages

update
  test/developement_area/corr_stiff/corr_stiffnessmatrix.jl
  test/developement_area/corr_stiff/correspondence_functions.jl
  test/developement_area/corr_stiff/matrix_solver_integration.jl
  test/developement_area/corr_stiff/new_solver_functions.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test

integration
  src/Core/Solver/Solver_manager.jl
Due: main_test, test, pages

runs completely
  src/Core/Solver/Matrix_linear_static.jl
  src/Models/Pre_calculation/shape_tensor.jl
Due: main_test, test, pages

expanding functions
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

run init
  src/Core/Solver/Matrix_linear_static.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

update
  LICENSE.md
Due: none

force computation
  src/Core/Solver/Matrix_linear_static.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

working prototype
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

it is working
  src/Core/Solver/Matrix_linear_static.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

code cleaning
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

working prototype
  src/Core/Solver/Matrix_linear_static.jl
  test/fullscale_tests/test_linear_static_matrix_based/linear_static_matrix_based_solver_2D.yaml
Due: main_test, test, pages

complete run
  src/Core/Data_manager.jl
  src/Core/Solver/Matrix_linear_static.jl
Due: main_test, test, pages

step by step
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Solver_manager.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
  src/Support/Parameters/parameter_handling_solver.jl
  test/fullscale_tests/test_linear_static_matrix_based/linear_static_matrix_based_solver_2D.yaml
  test/fullscale_tests/test_linear_static_matrix_based/linear_static_matrix_based_solver_3D.yaml
  test/fullscale_tests/test_linear_static_matrix_based/test_linear_static_matrix_based_solver.cmd
  test/fullscale_tests/test_linear_static_matrix_based/test_linear_static_matrix_based_solver.cmd.license
  test/fullscale_tests/test_linear_static_matrix_based/test_linear_static_matrix_based_solver.jl
  test/fullscale_tests/test_linear_static_matrix_based/test_mesh_2D.txt
  test/fullscale_tests/test_linear_static_matrix_based/test_mesh_3D.txt
Due: main_test, test, pages

sync with main
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Solver_manager.jl
  src/Core/Solver/Verlet_solver.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_VUMAT.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Support/Parameters/parameter_handling.jl
  test/fullscale_tests/test_linear_static_matrix_based_solver/DCBmodel.txt
  test/fullscale_tests/test_linear_static_matrix_based_solver/Dogbone.txt
  test/fullscale_tests/test_linear_static_matrix_based_solver/Dogbone.yaml
  test/fullscale_tests/test_linear_static_matrix_based_solver/Reference/linear_static_matrix_based_solver_2D.e
  test/fullscale_tests/test_linear_static_matrix_based_solver/Reference/linear_static_matrix_based_solver_2D.e.license
  test/fullscale_tests/test_linear_static_matrix_based_solver/Reference/linear_static_matrix_based_solver_3D.e
  test/fullscale_tests/test_linear_static_matrix_based_solver/Reference/linear_static_matrix_based_solver_3D.e.license
  test/fullscale_tests/test_linear_static_matrix_based_solver/Reference/linear_static_matrix_based_solver_DCBmodel.e
  test/fullscale_tests/test_linear_static_matrix_based_solver/Reference/linear_static_matrix_based_solver_DCBmodel.e.license
  test/fullscale_tests/test_linear_static_matrix_based_solver/linear_static_matrix_based_solver_2D.yaml
  test/fullscale_tests/test_linear_static_matrix_based_solver/linear_static_matrix_based_solver_3D.yaml
  test/fullscale_tests/test_linear_static_matrix_based_solver/linear_static_matrix_based_solver_DCBmodel.yaml
  test/fullscale_tests/test_linear_static_matrix_based_solver/ns_DCBmodel_1.txt
  test/fullscale_tests/test_linear_static_matrix_based_solver/ns_DCBmodel_2.txt
  test/fullscale_tests/test_linear_static_matrix_based_solver/ns_Dogbone_1.txt
  test/fullscale_tests/test_linear_static_matrix_based_solver/ns_Dogbone_2.txt
  test/fullscale_tests/test_linear_static_matrix_based_solver/test_linear_static_matrix_based_solver.cmd
  test/fullscale_tests/test_linear_static_matrix_based_solver/test_linear_static_matrix_based_solver.cmd.license
  test/fullscale_tests/test_linear_static_matrix_based_solver/test_linear_static_matrix_based_solver.jl
  test/fullscale_tests/test_linear_static_matrix_based_solver/test_mesh_2D.txt
  test/fullscale_tests/test_linear_static_matrix_based_solver/test_mesh_3D.txt
  test/runtests.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test, pages

reset time output
  src/PeriLab.jl
Due: main_test, test, pages

refac
  src/Models/Damage/Energy_release.jl
  src/Models/Damage/Energy_release_aniso.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Support/Geometry.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
