Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, deploy, pages

test:
  stage: test
  script:
  - julia --project=@. -e "import Pkg; Pkg.test(; coverage = true)"
  - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
    paths:
    - test

deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
  - docker logout
  stage: deploy
  script:
  - docker build -t perihub/perilab .
  - docker push perihub/perilab

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

close #136
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: test, deploy, pages

tests added
  src/IO/mesh_data.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: test, deploy, pages

added Exodus Input and RVE example
  docs/src/lib/io_functions.md
  docs/src/man/input_yaml.md
  examples/RVE/RVE.yaml
  examples/RVE/mesh.g
  examples/RVE/mesh.g.license
  examples/RVE/mesh.txt
  src/IO/mesh_data.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_computes.jl
  src/Support/Parameters/parameter_handling_mesh.jl
Due: test, deploy, pages

fixed aniso damage
  examples/Compact_Tension/CompactTension.txt
  examples/Compact_Tension/CompactTension.yaml
  src/Physics/Damage/Energy_release.jl
Due: test, deploy, pages

read text files test
  test/unit_tests/IO/example_FE_mesh.txt
  test/unit_tests/IO/example_mesh.txt
  test/unit_tests/IO/ut_mesh_data.jl
Due: test

topology
  src/IO/mesh_data.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: test, deploy, pages

create_FE_consistent_neighborhoodlist
  src/IO/mesh_data.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: test, deploy, pages

test fix
  src/IO/mesh_data.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: test, deploy, pages

test fix
  src/IO/mesh_data.jl
Due: test, deploy, pages

fix
  src/IO/mesh_data.jl
  src/Support/Parameters/parameter_handling_mesh.jl
Due: test, deploy, pages

test coverage
  src/IO/mesh_data.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: test, deploy, pages

code cleaning
  src/Physics/Thermal/thermal_flow.jl
Due: test, deploy, pages

test coverage
  src/Physics/Material/BondBased/Bondbased_Elastic.jl
  test/unit_tests/Physics/Material/Material_Models/BondBased/ut_Bondbased_Elastic.jl
  test/unit_tests/Physics/ut_templates.jl
Due: test, deploy, pages

test coverage
  src/Core/Solver/Verlet.jl
  test/unit_tests/Core/Solver/ut_Verlet.jl
Due: test, deploy, pages

renaming
  src/IO/mesh_data.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: test, deploy, pages

test fix
  test/unit_tests/IO/ut_mesh_data.jl
Due: test

headers
  src/IO/mesh_data.jl
Due: test, deploy, pages

renaming
  src/Support/Parameters/parameter_handling_mesh.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: test, deploy, pages

finished aniso damage
  examples/Compact_Tension/CompactTension.yaml
  src/Physics/Damage/Energy_release.jl
Due: test, deploy, pages

fixed test
  src/Support/Parameters/parameter_handling_mesh.jl
Due: test, deploy, pages

fixed test
  src/Physics/Damage/Energy_release.jl
Due: test, deploy, pages

Add CONTRIBUTING
  CONTRIBUTING.md
Due: none

info message
  src/IO/mesh_data.jl
Due: test, deploy, pages

Add CHANGELOG
  CHANGELOG
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

removed codecov submit from branches
  .gitlab-ci.yml
Due: none

fix
  src/IO/mesh_data.jl
Due: test, deploy, pages

fixed ci
  .gitlab-ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

new yaml structure
  src/Support/Parameters/parameter_handling_mesh.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: test, deploy, pages

fix
  src/IO/mesh_data.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: test, deploy, pages

version 1.0.3
  CHANGELOG.md
  Project.toml
  src/PeriLab.jl
Due: test, deploy, pages

fixed docs
  docs/src/lib/io_functions.md
Due: pages

element_distribution
  src/IO/mesh_data.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: test, deploy, pages

element_distribution optimization
  src/IO/mesh_data.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: test, deploy, pages

set elements can be zero
  src/Support/data_manager.jl
  test/unit_tests/Support/ut_data_manager.jl
Due: test, deploy, pages

get_local_element_topology
  src/IO/mesh_data.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: test, deploy, pages

fem status
  src/Support/data_manager.jl
  test/unit_tests/Support/ut_data_manager.jl
Due: test, deploy, pages

input topo finalized #88
  src/IO/mesh_data.jl
  src/Support/data_manager.jl
Due: test, deploy, pages

consistent field definition
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: test, deploy, pages

Path conditions:
  test: any of: src/**/*, test/**/*
  deploy: any of: src/**/*
  pages: any of: src/**/*, docs/**/*
