Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

contact exceptions
  src/Models/Contact/Contact_search.jl
  test/runtests.jl
  test/unit_tests/Models/Contact/ut_Contact_search.jl
Due: main_test, test, pages

update datamanager
  src/Core/Data_manager.jl
Due: main_test, test, pages

update
  src/Core/Data_manager.jl
  src/IO/mesh_data.jl
  src/MPI_communication/MPI_communication.jl
  src/Models/Contact/Contact_search.jl
  test/unit_tests/Models/Contact/ut_Contact_search.jl
Due: main_test, test, pages

documentation
  docs/make.jl
  docs/src/man/models/contact.md
  docs/src/man/models/contact.md.license
Due: pages

update
  docs/src/man/models/contact.md
  src/Models/Contact/Contact_search.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

Schwarz coupling
  src/FEM/Coupling/Schwarz_coupling.jl
  test/runtests.jl
  test/unit_tests/FEM/Coupling/ut_Schwarz_coupling.jl
Due: main_test, test, pages

update
  src/FEM/Coupling/Schwarz_coupling.jl
Due: main_test, test, pages

package cleaning
  Project.toml
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

update
  docs/src/man/models/contact.md
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
  src/Support/Helpers.jl
  test/runtests.jl
  test/unit_tests/Models/Contact/ut_Contact_search.jl
Due: main_test, test, pages

set link to lecture
  docs/src/lecture/lecture.md
Due: pages

code optim
  src/Core/Solver/Solver_control.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

fix
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

fix
  test/unit_tests/Models/Contact/ut_Contact_search.jl
Due: main_test, test

contact init prototype
  .gitignore
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

added Reference Temperature for thermal expansion #252
  docs/src/man/models/thermal.md
  examples/3d_printing_paper/Heat_expansion/thermal_expansion_PD_Solid.yaml
  examples/3d_printing_paper/Heat_expansion/thermal_expansion_bond_based.yaml
  examples/3d_printing_paper/Heat_expansion/thermal_expansion_correspondence.yaml
  examples/Additive/Zugstab.yaml
  examples/PeriLab/PeriLab_additive.yaml
  src/Models/Thermal/thermal_expansion.jl
  src/Support/Parameters/parameter_handling.jl
  test/fullscale_tests/test_DCB/DCBmodel_PD_solid_temp_depended.yaml
  test/fullscale_tests/test_additive/additive_2d_heat.yaml
  test/fullscale_tests/test_symmetry/symmetry_eng_dep.yaml
  test/fullscale_tests/test_thermal_expansion/thermal_expansion_PD_Solid.yaml
  test/fullscale_tests/test_thermal_expansion/thermal_expansion_PD_Solid_static.yaml
  test/fullscale_tests/test_thermal_expansion/thermal_expansion_bond_based.yaml
  test/fullscale_tests/test_thermal_expansion/thermal_expansion_correspondence.yaml
  test/fullscale_tests/test_thermal_flow/thermal_flow.yaml
  test/fullscale_tests/test_thermal_flow/thermal_flow_correspondence.yaml
  test/unit_tests/Models/Thermal/ut_Thermal_expansion.jl
Due: main_test, test, pages

fixed static solver for multistep
  src/Core/Solver/Static_solver.jl
Due: main_test, test, pages

Added default Reference Temperature #252
  src/Models/Thermal/thermal_expansion.jl
Due: main_test, test, pages

edit changelog
  CHANGELOG.md
Due: none

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

minor fix
  src/Core/Data_manager.jl
Due: main_test, test, pages

minor text correction
  src/Models/Contact/Contact_template/contact_template.jl
Due: main_test, test, pages

contact init integration
  src/Models/Contact/Contact_Factory.jl
  src/Models/Model_Factory.jl
Due: main_test, test, pages

new structure
  test/unit_tests/Contact/ut_Contact_Factory.jl
  test/unit_tests/Contact/ut_Contact_search.jl
Due: main_test, test

prototype full scale test
  test/fullscale_tests/test_contact_search/contact_search.yaml
  test/fullscale_tests/test_contact_search/test_contact.cmd
  test/fullscale_tests/test_contact_search/test_contact.cmd.license
  test/fullscale_tests/test_contact_search/test_contact.jl
  test/fullscale_tests/test_contact_search/test_mesh.txt
Due: main_test, test

update
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

progress
  src/Core/Data_manager.jl
  src/IO/mesh_data.jl
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

package cleanup
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

fix compute geometry
  src/Models/Contact/Contact_search.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

change vector to dict
  src/Models/Contact/Contact_Factory.jl
Due: main_test, test, pages

adding test
  test/runtests.jl
Due: main_test, test

fix
  src/Support/Helpers.jl
Due: main_test, test, pages

compute_surface_nodes fix
  src/Support/Helpers.jl
Due: main_test, test, pages

test update
  test/fullscale_tests/test_contact_search/contact_search.yaml
  test/fullscale_tests/test_contact_search/test_mesh.txt
Due: main_test, test

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
