Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

refac
  src/Core/Data_manager/data_manager_fields.jl
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_basis.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: main_test, test, pages

prototype
  Project.toml
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_fields.jl
  src/Core/Solver/Newmark.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

#380 first optimization
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_basis.jl
Due: main_test, test, pages

memory efficiency
  src/Core/Solver/Solver_manager.jl
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_basis.jl
  src/Support/Helpers.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

bug fixes unit test
  .vscode/settings.json
  src/Core/Solver/Solver_manager.jl
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_basis.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: main_test, test, pages

update test #380
  test/fullscale_tests/test_FEM/FEM_p1_2d.yaml
  test/fullscale_tests/test_FEM/FEM_p1_3d.yaml
  test/fullscale_tests/test_FEM/Reference/FEM_p1_1_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p1_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p1_3d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_1_1_3d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_1_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_3d.e
Due: main_test, test

update test #380
  test/fullscale_tests/test_FEM_coupling/Reference/test_FEM_2d_coupled_Arlequin.e
Due: main_test, test

fixed #345
  src/Compute/compute_global_values.jl
  src/IO/IO.jl
  test/fullscale_tests/test_global_variables/Reference/global_variables.csv
  test/fullscale_tests/test_global_variables/Reference/global_variables.e
  test/fullscale_tests/test_global_variables/global_variables.yaml
  test/fullscale_tests/test_global_variables/nodeset.txt
Due: main_test, test, pages

refac
  src/IO/IO.jl
Due: main_test, test, pages

code cleaning
  src/Compute/compute_field_values.jl
  src/Models/Model_Factory.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

refac
  test/fullscale_tests/test_Bond_Based_Elastic/test_Bond_Based_Elastic.cmd
  test/fullscale_tests/test_Bond_Based_Elastic/test_Bond_Based_Elastic.cmd.license
  test/fullscale_tests/test_Bond_Based_Elastic/test_Bond_Based_Elastic.jl
  test/fullscale_tests/test_Correspondence_Elastic/test_Correspondence_Elastic.cmd
  test/fullscale_tests/test_Correspondence_Elastic/test_Correspondence_Elastic.cmd.license
  test/fullscale_tests/test_Correspondence_Elastic/test_Correspondence_Elastic.jl
  test/fullscale_tests/test_Correspondence_Elastic_Plastic/test_Correspondence_Elastic_Plastic.cmd
  test/fullscale_tests/test_Correspondence_Elastic_Plastic/test_Correspondence_Elastic_Plastic.cmd.license
  test/fullscale_tests/test_Correspondence_Elastic_Plastic/test_Correspondence_Elastic_Plastic.jl
  test/fullscale_tests/test_Dogbone/test_Dogbone.cmd
  test/fullscale_tests/test_Dogbone/test_Dogbone.cmd.license
  test/fullscale_tests/test_Dogbone/test_Dogbone.jl
  test/fullscale_tests/test_FEM_Coupling/test_FEM_Coupling.cmd
  test/fullscale_tests/test_FEM_Coupling/test_FEM_Coupling.cmd.license
  test/fullscale_tests/test_FEM_Coupling/test_FEM_Coupling.jl
  test/fullscale_tests/test_Gmsh/test_Gmsh.cmd
  test/fullscale_tests/test_Gmsh/test_Gmsh.cmd.license
  test/fullscale_tests/test_Gmsh/test_Gmsh.jl
  test/fullscale_tests/test_Hetval/test_Hetval.cmd
  test/fullscale_tests/test_Hetval/test_Hetval.cmd.license
  test/fullscale_tests/test_Hetval/test_Hetval.jl
  test/fullscale_tests/test_Multistep/test_Multistep.cmd
  test/fullscale_tests/test_Multistep/test_Multistep.cmd.license
  test/fullscale_tests/test_Multistep/test_Multistep.jl
  test/fullscale_tests/test_PD_Solid_Elastic/test_PD_Solid_Elastic.cmd
  test/fullscale_tests/test_PD_Solid_Elastic/test_PD_Solid_Elastic.cmd.license
  test/fullscale_tests/test_PD_Solid_Elastic/test_PD_Solid_Elastic.jl
  test/fullscale_tests/test_Penalty_Contact/test_Penalty_Contact.cmd
  test/fullscale_tests/test_Penalty_Contact/test_Penalty_Contact.cmd.license
  test/fullscale_tests/test_Penalty_Contact/test_Penalty_Contact.jl
  test/fullscale_tests/test_Surface_Correction/test_Surface_Correction.cmd
  test/fullscale_tests/test_Surface_Correction/test_Surface_Correction.jl
  test/fullscale_tests/test_Surface_Correction/test_Surface_Correctioncmd.license
  test/fullscale_tests/test_Umat/test_Umat.cmd
  test/fullscale_tests/test_Umat/test_Umat.cmd.license
  test/fullscale_tests/test_Umat/test_Umat.jl
  test/runtests.jl
  test/unit_tests/ut_perilab.jl
Due: main_test, test

refac
  test/fullscale_tests/test_Surface_Correction/test_Surface_Correction.cmd.license
Due: main_test, test

local matrix update
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Newmark.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
  src/Models/Model_Factory.jl
Due: main_test, test, pages

sign error
  src/Core/Solver/Matrix_linear_static.jl
Due: main_test, test, pages

solve #381
  Project.toml
  src/IO/IO.jl
  src/IO/csv_export.jl
  src/IO/exodus_export.jl
  src/IO/mesh_data.jl
  src/Support/Parameters/parameter_handling_computes.jl
Due: main_test, test, pages

refac
  test/fullscale_tests/test_Additive/test_Additive.cmd
  test/fullscale_tests/test_Additive/test_Additive.cmd.license
  test/fullscale_tests/test_Additive/test_Additive.jl
  test/runtests.jl
Due: main_test, test

solver optimization
  src/Core/Solver/Verlet_solver.jl
Due: main_test, test, pages

adding fixes
  src/Core/Solver/Solver_manager.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

fixes
  src/Core/Solver/Verlet_solver.jl
  test/fullscale_tests/test_Additive/test_Additive.jl
  test/fullscale_tests/test_FEM/Reference/FEM_p1_2d.e
  test/fullscale_tests/test_FEM_Coupling/Reference/test_FEM_2d_coupled_Arlequin.e
Due: main_test, test, pages

type stability
  src/Core/Solver/Verlet_solver.jl
Due: main_test, test, pages

code optimization
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/Ordinary/Ordinary.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Elastic.jl
Due: main_test, test, pages

test fix
  src/Core/Solver/Verlet_solver.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
  test/unit_tests/Models/Material/Material_Models/Ordinary/ut_ordinary.jl
Due: main_test, test, pages

additve bug fix
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

bug fix
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
Due: main_test, test, pages

bib fix
  docs/src/refs.bib
Due: pages

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
