Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

minor fix
  src/Models/Contact/Penalty_model.jl
Due: main_test, test, pages

adding tests
  test/fullscale_tests/test_penalty_contact/Reference/penalty_contact.e
  test/fullscale_tests/test_penalty_contact/Reference/penalty_contact_friction.e
  test/fullscale_tests/test_penalty_contact/Reference/penalty_contact_options.e
  test/fullscale_tests/test_penalty_contact/penalty_contact.yaml
  test/fullscale_tests/test_penalty_contact/penalty_contact_friction.yaml
  test/fullscale_tests/test_penalty_contact/penalty_contact_options.yaml
  test/fullscale_tests/test_penalty_contact/test_penalty_contact.jl
Due: main_test, test

fix
  docs/src/lecture/seminar_7.md
Due: pages

repair
  docs/src/man/models/contact.md
Due: pages

code claining
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

docu update
  docs/src/man/models/contact.md
Due: pages

unit test deleted - outdated
  test/unit_tests/Models/Contact/ut_Contact_search.jl
Due: main_test, test

edit readme
  README.md
Due: none

Update reference
  test/fullscale_tests/test_penalty_contact/Reference/penalty_contact_friction.e
Due: main_test, test

test fix
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Penalty_model.jl
  test/fullscale_tests/test_penalty_contact/Reference/penalty_contact.e
  test/fullscale_tests/test_penalty_contact/Reference/penalty_contact_friction.e
  test/fullscale_tests/test_penalty_contact/Reference/penalty_contact_options.e
Due: main_test, test, pages

working disc example
  examples/Disk_impact/Disk_impact.yaml
Due: none

edit reference
  test/fullscale_tests/test_penalty_contact/Reference/penalty_contact_friction.e
Due: main_test, test

Edit changelog
  CHANGELOG.md
Due: none

edit cmd
  test/fullscale_tests/test_penalty_contact/test_penalty_contact.cmd
Due: main_test, test

edit changelog
  CHANGELOG.md
Due: none

memory
  src/Models/Damage/Damage_Factory.jl
Due: main_test, test, pages

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

working on type stability
  src/Core/Data_manager.jl
  src/Core/Solver/Verlet.jl
  src/IO/mesh_data.jl
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_VUMAT.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Models/Pre_calculation/pre_bond_associated_correspondence.jl
  src/Support/Geometry.jl
  src/Support/Helpers.jl
  test/unit_tests/Core/Solver/ut_Verlet.jl
  test/unit_tests/IO/ut_mesh_data.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

seminar 8
  docs/src/assets/gcode_concept.png
  docs/src/assets/gcode_concept.png.license
  docs/src/lecture/seminar_8.md
  docs/src/man/models/additive.md
Due: pages

type stability
  src/Support/Helpers.jl
Due: main_test, test, pages

new datamanager structure
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_FEM.jl
  src/Core/Data_manager/data_manager_fields.jl
  src/Core/Data_manager/data_manager_solving_process.jl
  src/Core/Data_manager/data_manager_utilities.jl
Due: main_test, test, pages

type stability
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_fields.jl
  src/Core/Data_manager/data_manager_solving_process.jl
  src/Core/Solver/Solver_control.jl
  src/IO/IO.jl
  src/Models/Material/Material_Models/BondBased/Unified_Bondbased_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Models/Model_Factory.jl
  src/Models/Pre_calculation/deformation_gradient.jl
  src/Models/Pre_calculation/pre_bond_associated_correspondence.jl
  src/Models/Pre_calculation/shape_tensor.jl
  src/Support/Helpers.jl
  test/unit_tests/Compute/ut_compute_global_values.jl
  test/unit_tests/Core/ut_data_manager.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Bond_Associated_Correspondence.jl
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test, pages

code improvements
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_FEM.jl
  src/Core/Data_manager/data_manager_fields.jl
  src/Core/Data_manager/data_manager_solving_process.jl
  src/Core/Data_manager/data_manager_status_vars.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Support/Helpers.jl
  test/runtests.jl
  test/unit_tests/Compute/ut_compute_field_values.jl
Due: main_test, test, pages

test fixes
  src/FEM/Coupling/Arlequin_coupling.jl
  src/Models/Model_Factory.jl
  src/Models/Pre_calculation/pre_bond_associated_correspondence.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

update docu
  docs/src/man/dev/datamanager.md
Due: pages

minor test fix
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test
