Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

adding test and improvement of clear_data_manager
  src/Core/data_manager.jl
  test/unit_tests/Core/ut_data_manager.jl
Due: main_test, test, pages

excluding using Perilab
  test/unit_tests/Physics/Pre_calculation/ut_bond_deformation_gradient.jl
Due: main_test, test

Optimized mpi and compute damage
  src/Core/Solver/Verlet.jl
  src/MPI_communication/MPI_communication.jl
  src/Physics/Damage/Energy_release.jl
Due: main_test, test, pages

build based on 00a666d
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

debugging
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
  src/Physics/Pre_calculation/bond_deformation_gradient.jl
Due: main_test, test, pages

code optimization
  src/Physics/Damage/Energy_release.jl
  src/Physics/Material/Material_Models/Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
  src/Physics/Physics_Factory.jl
Due: main_test, test, pages

fixed mpi test
  src/MPI_communication/MPI_communication.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: main_test, test, pages

build based on f837197
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Fixed test
  test/unit_tests/IO/ut_mesh_data.jl
Due: main_test, test

bug fixes
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
  src/Physics/Pre_calculation/bond_deformation_gradient.jl
  src/Support/geometry.jl
Due: main_test, test, pages

set_get_accuracy_order
  src/Core/data_manager.jl
  test/unit_tests/Core/ut_data_manager.jl
Due: main_test, test, pages

Bumped exodus
  Project.toml
  src/IO/IO.jl
  test/unit_tests/IO/ut_IO.jl
Due: main_test, test, pages

Initiate rotation tensor resolved #166
  docs/src/lib/functions.md
  src/Core/data_manager.jl
  src/FEM/FEM_routines.jl
  src/IO/IO.jl
  src/Physics/Damage/Energy_release.jl
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
  src/Physics/Material/Material_Models/Zero_Energy_Control/global_control.jl
  test/runtests.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence.jl
  test/unit_tests/Support/ut_data_manager.jl
Due: main_test, test, pages

build based on 2ae9700
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

update
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
  src/Physics/Pre_calculation/Pre_Calculation_Factory.jl
  src/Physics/Pre_calculation/bond_deformation_gradient.jl
  src/Support/Parameters/parameter_handling_physics.jl
Due: main_test, test, pages

ba pstress
  test/fullscale_tests/test_correspondence_elastic/ba_correspondence_strain_pstress_xx.yaml
Due: main_test, test

adding influence function
  src/Core/Influence_function.jl
  src/Core/Solver/Solver_control.jl
Due: main_test, test, pages

fix
  src/Physics/Physics_Factory.jl
Due: main_test, test, pages

rotation
  src/FEM/FEM_routines.jl
  src/Physics/Damage/Energy_release.jl
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence.jl
  src/Support/geometry.jl
  src/Support/helpers.jl
Due: main_test, test, pages

working prototype
  test/fullscale_tests/test_DCB/DCBmodel_correspondence_bond_associated.yaml
Due: main_test, test

ut init_influence_function
  test/unit_tests/Core/ut_Influence_function.jl
  test/unit_tests/Core/ut_data_manager.jl
Due: main_test, test

ut template
  test/unit_tests/template/ut_template.jl
Due: main_test, test

test fix
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence.jl
  test/unit_tests/Physics/Pre_calculation/ut_bond_deformation_gradient.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test

solve #171
  docs/src/lib/functions.md
  src/Core/data_manager.jl
  src/PeriLab.jl
  test/unit_tests/Compute/ut_compute_field_values.jl
  test/unit_tests/Core/Solver/ut_Verlet.jl
  test/unit_tests/Core/ut_BC_manager.jl
  test/unit_tests/Core/ut_data_manager.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/Physics/Additive/ut_Additive_Factory.jl
  test/unit_tests/Physics/Damage/ut_Damage_Factory.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Bond_Associated_Correspondence.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence_UMAT.jl
  test/unit_tests/Physics/Material/Material_Models/ut_PD_Solid_Plastic.jl
  test/unit_tests/Physics/Material/ut_Material_Factory.jl
  test/unit_tests/Physics/Material/ut_material_basis.jl
  test/unit_tests/Physics/Pre_calculation/ut_bond_deformation_gradient.jl
  test/unit_tests/Physics/Thermal/ut_Heat_transfer.jl
  test/unit_tests/Physics/Thermal/ut_Thermal_Factory.jl
  test/unit_tests/Physics/Thermal/ut_Thermal_expansion.jl
  test/unit_tests/Physics/ut_Physics_Factory.jl
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test, pages

fix test
  src/Support/Parameters/parameter_handling_physics.jl
Due: main_test, test, pages

test fix
  Project.toml
  test/unit_tests/Core/ut_BC_manager.jl
  test/unit_tests/Core/ut_data_manager.jl
  test/unit_tests/IO/ut_exodus_export.jl
  test/unit_tests/IO/ut_read_inputdeck.jl
Due: main_test, test

fixes
  src/Physics/Damage/Energy_release.jl
  src/Physics/Physics_Factory.jl
Due: main_test, test, pages

build based on 9501f96
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

refac
  docs/src/lib/io_functions.md
  docs/src/lib/physics_functions.md
  src/FEM/FEM_routines.jl
  src/Physics/Damage/Energy_release.jl
  src/Physics/Material/Material_Models/Correspondence.jl
  src/Physics/Model_Factory.jl
  src/Support/helpers.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence.jl
Due: main_test, test, pages

refac docs
  Project.toml
  docs/src/lib/io_functions.md
Due: pages

build based on bc68537
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

bump version
  CHANGELOG.md
  Project.toml
Due: none

bug fix
  src/Physics/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

build based on 22e8d42
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

revert
  src/Physics/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

Bump version
  Project.toml
  README.md
Due: none

build based on 7bdceea
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

fix
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence.jl
Due: main_test, test, pages

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
