Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

update
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_contact.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

edit dt of static solver
  src/Core/Solver/Static_solver.jl
  test/fullscale_tests/test_bond_based_elastic/Reference/test_static_bond_based_elastic_2D.e
  test/fullscale_tests/test_thermal_expansion/Reference/thermal_expansion_PD_Solid_static.e
Due: main_test, test, pages

update
  .gitignore
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

added depenndent values for crit energy inter block
  src/Models/Damage/Damage_Factory.jl
  src/Models/Damage/Energy_release.jl
  src/Support/Helpers.jl
  src/Support/Parameters/parameter_handling_models.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

seminar update
  docs/src/lecture/seminar_1.md
  docs/src/refs.bib
Due: pages

adding seminar 2
  docs/make.jl
  docs/src/lecture/seminar_2.md
  docs/src/lecture/seminar_2.md.license
Due: pages

search works
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

contact force prototype
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Penalty_model.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

Update seminar_1.md
  docs/src/lecture/seminar_1.md
Due: pages

seminar update
  docs/src/lecture/seminar_1.md
  examples/Seminars/Part_01/truss.txt
  examples/Seminars/Part_01/truss.yaml
Due: pages

var type fix
  src/Models/Material/Material_Basis.jl
Due: main_test, test, pages

minor changes
  docs/src/lecture/seminar_1.md
  examples/Seminars/Part_01/truss.yaml
Due: pages

Optimized BC check
  src/Core/BC_manager.jl
Due: main_test, test, pages

Fixed BC check
  src/Core/BC_manager.jl
Due: main_test, test, pages

edit changelog
  CHANGELOG.md
Due: none

Fixed DCB tests
  src/Models/Damage/Energy_release.jl
Due: main_test, test, pages

update
  docs/src/lecture/seminar_1.md
  examples/Seminars/Part_01/truss.yaml
  src/Core/Solver/Static_solver.jl
Due: main_test, test, pages

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

coding style
  src/Core/BC_manager.jl
  src/Core/Data_manager.jl
  src/IO/IO.jl
  src/Support/Parameters/parameter_handling_output.jl
  test/unit_tests/Core/ut_data_manager.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

Fixed docker build
  Dockerfile
Due: none

added silent mode to gcode reader
  src/IO/IO.jl
  src/IO/gcode.jl
  src/IO/mesh_data.jl
Due: main_test, test, pages

working prototype
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_contact.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
  src/Models/Contact/Penalty_model.jl
Due: main_test, test, pages

typo
  src/Models/Contact/Penalty_model.jl
Due: main_test, test, pages

example
  examples/contact/contact.yaml
  examples/contact/mesh.txt
  examples/contact/ns_1.txt
  examples/contact/ns_2.txt
Due: none

add word
  src/Models/Material/Material_Basis.jl
Due: main_test, test, pages

update
  examples/contact/ns_1.txt
Due: none

bug fix
  src/Models/Contact/Contact_Factory.jl
Due: main_test, test, pages

model
  examples/contact/contact.yaml
Due: none
