Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

fix influence function bond length
  src/Core/Influence_function.jl
  test/unit_tests/Core/ut_Influence_function.jl
  test/unit_tests/IO/ut_bond_filter.jl
Due: main_test, test, pages

ut test fix
  test/unit_tests/Core/ut_Influence_function.jl
Due: main_test, test

adding docu
  docs/src/man/bond_filter.md
Due: pages

Update TagBot.yml
  .github/workflows/TagBot.yml
Due: none

tag bot
  .github/workflows/TagBot.yml
Due: none

comment
  src/IO/bond_filter.jl
Due: main_test, test, pages

CompatHelper: bump compat for Exodus to 0.15, (keep existing compat)
  Project.toml
Due: none

topology fixed #375
  examples/FEM_plate/ElemLISTfe.txt
  examples/FEM_plate/FEM_plate.yaml
Due: none

Refac tagbot
  .github/workflows/TagBot.yml
Due: none

refac tagbot
  .github/workflows/TagBot.yml
Due: none

Fixed tag bot
  .github/workflows/TagBot.yml
Due: none

added Hex8 exodus export
  src/IO/IO.jl
  src/IO/exodus_export.jl
  test/unit_tests/IO/ut_exodus_export.jl
Due: main_test, test, pages

Fixed Hexahedron import
  src/Support/Helpers.jl
Due: main_test, test, pages

added 3d compute_coupling_matrix support
  src/FEM/Coupling/Arlequin_coupling.jl
Due: main_test, test, pages

simplify coupling + comment
  docs/src/theory/theory_FEM_PD_coupling.md
  src/FEM/Coupling/Arlequin_coupling.jl
Due: main_test, test, pages

added timeit and coupling type
  src/Core/Solver/Solver_manager.jl
  src/FEM/Coupling/Arlequin_coupling.jl
  src/FEM/FEM_basis.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

Fixed find_point_in_element
  src/FEM/Coupling/Arlequin_coupling.jl
  src/Support/Helpers.jl
  test/unit_tests/FEM/Coupling/ut_Arlequin.jl
Due: main_test, test, pages

coding style
  src/Support/Helpers.jl
Due: main_test, test, pages

start
  src/Core/Data_manager/data_manager_fields.jl
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Newmark.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

hexagon test
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test

tests added
  src/Support/Helpers.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

bug fix
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test

Fixed create_centroid_and_search_radius resolved #377
  src/Support/Helpers.jl
Due: main_test, test, pages

edit changelog
  CHANGELOG.md
Due: none

refac
  src/Support/Helpers.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

removed elasti moduli from comput_FEM
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_basis.jl
Due: main_test, test, pages

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
