Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

optimizing code
  src/Core/Solver/Verlet_solver.jl
  src/Models/Model_Factory.jl
  test/unit_tests/Core/Solver/ut_Verlet.jl
  test/unit_tests/Models/ut_Model_Factory.jl
Due: main_test, test, pages

bug fix for reduced mass
  src/Core/Model_reduction/Model_reduction.jl
  src/Core/Solver/Matrix_Verlet.jl
Due: main_test, test, pages

update test
  src/Support/Helpers.jl
  test/unit_tests/Core/Solver/ut_Verlet.jl
  test/unit_tests/Models/ut_Model_Factory.jl
Due: main_test, test, pages

bug fixes
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Models/Model_Factory.jl
Due: main_test, test, pages

fix
  src/Core/Solver/Matrix_Verlet.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

optimization
  src/Core/Solver/Matrix_Verlet.jl
Due: main_test, test, pages

CompatHelper: bump compat for Meshes to 0.56, (keep existing compat)
  Project.toml
Due: none

update doc
  docs/src/theory/theory_correspondence.md
Due: pages

minor fixes
  src/Core/Solver/Matrix_Verlet.jl
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_full_matrix.e
Due: main_test, test, pages

docu
  docs/src/man/models/contact.md
Due: pages

update
  docs/src/man/models/contact.md
Due: pages

test coverage
  src/Core/Module_inclusion/set_Modules.jl
  test/unit_tests/Core/Module_inclusion/ut_set_Modules.jl
Due: main_test, test, pages

docu update
  .prettierignore
  docs/src/man/models/contact.md
  docs/src/theory/theory_correspondence.md
Due: pages

include tests
  src/Core/Module_inclusion/set_Modules.jl
  src/Support/Helpers.jl
  test/unit_tests/Core/Module_inclusion/ut_set_Modules.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

added .vscode folder
  .gitignore
  .vscode/extensions.json
  .vscode/extensions.json.license
  .vscode/launch.json
  .vscode/launch.json.license
  .vscode/settings.json
  .vscode/settings.json.license
Due: none

ecerything compiles
  src/Core/Solver/Solver_manager.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_VUMAT.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/Global_Zero_Energy_Control.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/Zero_Energy_Control.jl
  test/developement_area/corr_stiff/matrix_solver_integration.jl
  test/unit_tests/Models/Material/Zero_Energy_Control/ut_Global_Zero_Energy_Control.jl
  test/unit_tests/Models/Material/Zero_Energy_Control/ut_global_control.jl
Due: main_test, test, pages

solve #62
  src/Models/Material/Material_Models/Zero_Energy_Control/Global_Zero_Energy_Control.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/Zero_Energy_Control.jl
  test/runtests.jl
Due: main_test, test, pages

auto format
  .vscode/settings.json
Due: none

some fixes
  src/Core/Solver/Matrix_linear_static.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/Zero_Energy_Control.jl
  test/fullscale_tests/test_linear_static_matrix_based_solver/linear_static_matrix_based_solver_2D.yaml
  test/fullscale_tests/test_matrix_based_additive/matrix_based_simple_printing.yaml
Due: main_test, test, pages

fixes and optimizations
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/Zero_Energy_Control.jl
  src/Models/Pre_calculation/Pre_Calculation_Factory.jl
  src/Models/Pre_calculation/shape_tensor.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence.jl
  test/unit_tests/Models/Material/Zero_Energy_Control/ut_Global_Zero_Energy_Control.jl
Due: main_test, test, pages

fix
  src/Core/Solver/Matrix_Verlet.jl
Due: main_test, test, pages

new error message
  src/Support/Geometry.jl
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test, pages

adding comment
  src/Models/Thermal/thermal_expansion.jl
Due: main_test, test, pages

test fix
  src/Core/Solver/Matrix_linear_static.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
  test/fullscale_tests/test_matrix_based_additive/Reference/matrix_based_only_thermal.e
  test/fullscale_tests/test_matrix_based_additive/Reference/matrix_based_only_thermal.e.license
  test/fullscale_tests/test_matrix_based_additive/Reference/matrix_based_only_thermal_without_update.e
  test/fullscale_tests/test_matrix_based_additive/Reference/matrix_based_only_thermal_without_update.e.license
  test/fullscale_tests/test_matrix_based_additive/Reference/matrix_based_simple_printing.e
  test/fullscale_tests/test_matrix_based_additive/matrix_based_only_thermal.yaml
  test/fullscale_tests/test_matrix_based_additive/matrix_based_only_thermal_without_update.yaml
  test/fullscale_tests/test_matrix_based_additive/test_matrix_based_additive.jl
Due: main_test, test, pages

minor fixes
  src/Support/Geometry.jl
  test/fullscale_tests/test_matrix_based_additive/test_matrix_based_additive.jl
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test, pages

minor changes
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
