Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

search concept
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_contact.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

efficiency
  src/IO/IO.jl
  src/IO/mesh_data.jl
Due: main_test, test, pages

fix
  src/Models/Contact/Penalty_model.jl
Due: main_test, test, pages

solve #282
  docs/src/man/models/contact.md
Due: pages

added verbose to data_manager
  src/Core/Data_manager.jl
  src/PeriLab.jl
Due: main_test, test, pages

added start and stop gcode commands
  scripts/gcode_reader.jl
  src/IO/gcode.jl
  src/Support/Parameters/parameter_handling.jl
  test/fullscale_tests/test_additive/additive_gcode.yaml
Due: main_test, test, pages

edit changelog
  CHANGELOG.md
Due: none

solve #181
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

solve #280
  src/Core/Data_manager/data_manager_contact.jl
  src/Models/Contact/Contact_Factory.jl
Due: main_test, test, pages

fixes
  src/Core/Data_manager.jl
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

typo
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_contact.jl
Due: main_test, test, pages

minor spelling changes
  docs/src/theory/theory_thermal.md
Due: pages

improve code
  src/Core/Data_manager/data_manager_contact.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

code cleaning
  src/Models/Contact/Contact_Factory.jl
Due: main_test, test, pages

code imporvement
  scripts/nodesets_from_mesh.jl
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

update
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
  src/Models/Contact/Penalty_model.jl
  src/Support/Helpers.jl
  test/fullscale_tests/test_penalty_contact/Reference/penalty_contact.e
  test/fullscale_tests/test_penalty_contact/Reference/penalty_contact_options.e.license
  test/fullscale_tests/test_penalty_contact/penalty_contact_options.yaml
  test/fullscale_tests/test_penalty_contact/test_penalty_contact.jl
Due: main_test, test, pages

update
  docs/src/lecture/seminar_4.md
  docs/src/lecture/seminar_6.md
  docs/src/lecture/seminar_7.md
Due: pages

update
  docs/src/man/models/contact.md
Due: pages

lectiure update
  docs/src/lecture/seminar_4.md
  docs/src/lecture/seminar_6.md
  docs/src/lecture/seminar_7.md
Due: pages

lecture update
  docs/src/assets/cooling.png
  docs/src/assets/cooling.png.license
  docs/src/assets/heat_flow.png
  docs/src/assets/heat_flow.png.license
  docs/src/assets/temperature_distribution_cooling.png
  docs/src/assets/temperature_distribution_cooling.png.license
  docs/src/lecture/seminar_7.md
Due: pages

minor spelling fix
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
Due: main_test, test, pages

zero distance handle
  src/Support/Helpers.jl
Due: main_test, test, pages

docu
  docs/src/lecture/seminar_7.md
  docs/src/man/models/contact.md
Due: pages

stiffness error
  src/Models/Contact/Penalty_model.jl
Due: main_test, test, pages

added Only Surface Contact Nodes
  examples/Disk_impact/Disk_impact.yaml
Due: none

Added step and time to damage init
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages

synch fix
  src/Core/Data_manager/data_manager_contact.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

coding style
  src/Models/Contact/Contact_Factory.jl
Due: main_test, test, pages

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
