Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

changelog
  CHANGELOG.md
Due: none

added @views
  src/Models/Damage/Energy_release.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/material_basis.jl
  src/Support/helpers.jl
Due: main_test, test, pages

build based on 4736b20
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

add NaN test
  src/Support/helpers.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

fix
  src/Support/helpers.jl
Due: main_test, test, pages

test fix
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test

build based on 74413a0
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

test basis for PD FEM coupling
  src/IO/mesh_data.jl
  test/fullscale_tests/test_FEM_coupling/FEM_2d_coupled.yaml
  test/fullscale_tests/test_FEM_coupling/mesh.txt
  test/fullscale_tests/test_FEM_coupling/topo.txt
Due: main_test, test, pages

Adding @views
  src/MPI_communication/MPI_communication.jl
Due: main_test, test, pages

build based on 1ea6606
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

added synch_field function to damage and material models
  src/Core/data_manager.jl
  src/MPI_communication/MPI_communication.jl
  src/Models/Damage/Critical_Stretch.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Damage/Damage_template/damage_template.jl
  src/Models/Damage/Energy_release.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Elastic.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
  src/Models/Material/Material_template/correspondence_template.jl
  src/Models/Material/Material_template/material_template.jl
  src/Models/Model_Factory.jl
Due: main_test, test, pages

added drawio example
  docs/src/man/models/model_factory.drawio
  docs/src/man/models/model_factory.drawio.license
Due: pages

refac
  src/Core/data_manager.jl
  src/MPI_communication/MPI_communication.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Model_Factory.jl
Due: main_test, test, pages

add_active_model and get_active models
  src/Core/data_manager.jl
  test/unit_tests/Core/ut_data_manager.jl
Due: main_test, test, pages

work in progress
  src/Models/Model_Factory.jl
Due: main_test, test, pages

remove synch_field and move to init
  src/Core/data_manager.jl
  src/Models/Damage/Critical_Stretch.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Damage/Damage_template/damage_template.jl
  src/Models/Damage/Energy_release.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Elastic.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
  src/Models/Material/Material_template/correspondence_template.jl
  src/Models/Material/Material_template/material_template.jl
  src/Models/Model_Factory.jl
Due: main_test, test, pages

fixed docs
  docs/make.jl
  docs/src/lib/io_functions.md
  docs/src/lib/mpi_functions.md
  docs/src/lib/mpi_functions.md.license
Due: pages

optimize
  src/Core/data_manager.jl
  src/IO/IO.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Elastic.jl
  src/Models/Model_Factory.jl
  src/Models/Pre_calculation/Pre_Calculation_Factory.jl
  src/Support/helpers.jl
Due: main_test, test, pages

build based on 39fa229
  dev/.documenter-siteinfo.json
  dev/assets/documenter.js
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions.md.license
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/model_factory.drawio
  dev/man/models/model_factory.drawio.license
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

optimize
  src/Models/Damage/Energy_release.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Models/Material/material_basis.jl
  src/Models/Thermal/thermal_flow.jl
  src/Support/helpers.jl
Due: main_test, test, pages

build based on 4769b88
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

refac
  src/Support/helpers.jl
Due: main_test, test, pages

build based on 17261b7
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

current state
  docs/src/lib/models_functions.md
  src/Core/Solver/Solver_control.jl
  src/Core/data_manager.jl
  src/Models/Additive/Additive_Factory.jl
  src/Models/Additive/Additive_template/additive_template.jl
  src/Models/Additive/simple_additive.jl
  src/Models/Corrosion/BondBased_Corrosion.jl
  src/Models/Corrosion/Corrosion_Factory.jl
  src/Models/Damage/Critical_Stretch.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Damage/Damage_template/damage_template.jl
  src/Models/Damage/Energy_release.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Elastic.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
  src/Models/Material/Material_template/correspondence_template.jl
  src/Models/Material/Material_template/material_template.jl
  src/Models/Model_Factory.jl
  src/Models/Thermal/Thermal_template/thermal_template.jl
  src/Models/Thermal/heat_transfer.jl
  src/Models/Thermal/thermal_expansion.jl
  src/Models/Thermal/thermal_flow.jl
  test/unit_tests/Core/ut_data_manager.jl
  test/unit_tests/Models/ut_templates.jl
Due: main_test, test, pages

Fixed silent mode
  src/PeriLab.jl
Due: main_test, test, pages

Optimize damage model
  src/Models/Damage/Energy_release.jl
Due: main_test, test, pages

build based on f1dce73
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

refac
  src/Compute/compute_global_values.jl
  src/IO/IO.jl
  src/Models/Damage/Energy_release.jl
Due: main_test, test, pages

build based on 7f58474
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

current state
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Verlet.jl
  src/Core/data_manager.jl
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Elastic.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
  src/Models/Material/Material_template/correspondence_template.jl
  src/Models/Material/Material_template/material_template.jl
  src/Models/Model_Factory.jl
  src/Models/Pre_calculation/Pre_Calculation_Factory.jl
  src/Models/Pre_calculation/bond_deformation.jl
  src/Models/Pre_calculation/bond_deformation_gradient.jl
  src/Models/Pre_calculation/deformation_gradient.jl
  src/Models/Pre_calculation/shape_tensor.jl
  src/Models/Thermal/Thermal_Factory.jl
  src/Support/Parameters/parameter_handling_solver.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Bond_Associated_Correspondence.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_UMAT.jl
  test/unit_tests/Models/Material/Material_Models/Ordinary/ut_PD_Solid_Plastic.jl
  test/unit_tests/Models/Material/ut_Material_Factory.jl
  test/unit_tests/Models/ut_templates.jl
Due: main_test, test, pages

new get_model_options
  src/Support/Parameters/parameter_handling_solver.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

Fixed calculate_nodelist
  src/Compute/compute_global_values.jl
  src/IO/IO.jl
  test/unit_tests/Compute/ut_compute_global_values.jl
Due: main_test, test, pages

build based on 7faa95c
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

new solver option type
  src/IO/IO.jl
Due: main_test, test, pages

detelte test
  test/unit_tests/Models/ut_Model_Factory.jl
Due: main_test, test

integration step
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Verlet.jl
  src/Core/data_manager.jl
  src/Models/Additive/Additive_Factory.jl
  src/Models/Corrosion/Corrosion_Factory.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Model_Factory.jl
  src/Models/Pre_calculation/Pre_Calculation_Factory.jl
  src/Models/Thermal/Thermal_Factory.jl
  src/PeriLab.jl
Due: main_test, test, pages

adding OrderedDict
  Project.toml
  src/Core/data_manager.jl
  test/unit_tests/Core/ut_data_manager.jl
Due: main_test, test, pages

code harmonization
  src/Models/Additive/Additive_Factory.jl
  src/Models/Corrosion/Corrosion_Factory.jl
  src/Models/Damage/Critical_Stretch.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Damage/Energy_release.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Model_Factory.jl
  src/Models/Pre_calculation/Pre_Calculation_Factory.jl
  src/Models/Pre_calculation/axissymmetric.jl
  src/Models/Pre_calculation/bond_deformation.jl
  src/Models/Pre_calculation/bond_deformation_gradient.jl
  src/Models/Pre_calculation/deformation_gradient.jl
  src/Models/Pre_calculation/shape_tensor.jl
  src/Models/Thermal/Thermal_Factory.jl
Due: main_test, test, pages

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
