Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

add scalling for starting solution
  src/Core/Solver/Static_solver.jl
Due: main_test, test, pages

added Additional Time for Solver params and steptime for BC
  src/Core/BC_manager.jl
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_solver.jl
  test/unit_tests/Core/ut_BC_manager.jl
Due: main_test, test, pages

added Gcode input type
  Project.toml
  src/IO/gcode.jl
  src/IO/mesh_data.jl
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

fixed tests
  test/unit_tests/Core/ut_BC_manager.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test

Allow multiple Step IDs and nodeset definition
  src/Core/BC_manager.jl
  src/IO/mesh_data.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_mesh.jl
Due: main_test, test, pages

fix tests
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test

Allow Block definition for gcode
  src/IO/gcode.jl
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

init fields only once
  src/Models/Model_Factory.jl
Due: main_test, test, pages

reoganisation of search
  src/IO/mesh_data.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

new search
  Project.toml
  src/FEM/Coupling/Arlequin_coupling.jl
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
Due: main_test, test, pages

Fixed multistep overwrite
  src/Core/Data_manager.jl
  src/Core/Solver/Verlet.jl
  test/fullscale_tests/test_multistep/Reference/multistep.e
  test/fullscale_tests/test_multistep/multistep.yaml
Due: main_test, test, pages

edit changelog
  CHANGELOG.md
Due: none

minor adjustments
  src/Core/Solver/Static_solver.jl
Due: main_test, test, pages

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

added surface correction to parameter_handling #246
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

nearest search update
  src/IO/mesh_data.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

coupling works
  Project.toml
  src/FEM/Coupling/Arlequin_coupling.jl
  src/Models/Model_Factory.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

optimize code
  src/IO/read_inputdeck.jl
Due: main_test, test, pages

fix test
  src/IO/mesh_data.jl
  test/unit_tests/FEM/Coupling/ut_Arlequin.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

test adpations
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet.jl
  test/fullscale_tests/test_DCB/Reference/DCBmodel_PD_solid_local_damping.e
  test/unit_tests/FEM/Coupling/ut_Arlequin.jl
Due: main_test, test, pages

CompatHelper: bump compat for Meshes to 0.53, (keep existing compat)
  Project.toml
Due: none

solve #248
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet.jl
  test/fullscale_tests/test_thermal_expansion/Reference/thermal_expansion_PD_Solid_static.e
  test/fullscale_tests/test_thermal_expansion/Reference/thermal_expansion_PD_Solid_static.e.license
  test/fullscale_tests/test_thermal_expansion/test_thermal_expansion.jl
  test/fullscale_tests/test_thermal_expansion/thermal_expansion_PD_Solid_static.yaml
Due: main_test, test, pages

lecture
  docs/src/lecture/lecture.license
  docs/src/lecture/lecture.md
  docs/src/lecture/seminar_1.license
  docs/src/lecture/seminar_1.md
Due: pages

fix
  docs/make.jl
  docs/src/lecture/lecture.md
Due: pages

fix
  docs/src/lecture/lecture.md
Due: pages

code improvement
  src/IO/mesh_data.jl
Due: main_test, test, pages

update
  docs/src/lecture/lecture.md
  docs/src/lecture/lecture.md.license
  docs/src/lecture/seminar_1.md
  docs/src/lecture/seminar_1.md.license
Due: pages

Contact search
  Project.toml
  src/Models/Contact/Contact_search.jl
  test/unit_tests/Models/Contact/ut_Contact_search
Due: main_test, test, pages

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
