Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

new datastructure
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_fields.jl
  src/Core/Data_manager/data_manager_status_vars.jl
  src/IO/mesh_data.jl
Due: main_test, test, pages

minor fix
  test/fullscale_tests/test_bond_based_elastic/test_bond_based_elastic_1D.yaml
Due: main_test, test

test fix
  src/Core/Data_manager.jl
  test/unit_tests/Core/ut_data_manager.jl
Due: main_test, test, pages

coding style
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: main_test, test

fix
  test/unit_tests/Core/ut_data_manager.jl
Due: main_test, test

documentation
  docs/src/man/bond_filter.md
  docs/src/man/dev/start_dev.md
  docs/src/man/dev/start_dev.md.license
  docs/src/man/dev/testing.md
  docs/src/man/input_yaml.md
  docs/src/man/mesh_input.md
Due: pages

improve test
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test

new links
  docs/src/man/dev/start_dev.md
Due: pages

documentation
  docs/make.jl
  docs/src/man/dev/start_dev.md
  docs/src/man/dev/testing.md
  docs/src/man/mesh_input.md
  docs/src/refs.bib
Due: pages

CompatHelper: bump compat for Meshes to 0.54, (keep existing compat)
  Project.toml
Due: none

type stable getter
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_fields.jl
  src/Core/Data_manager/data_manager_solving_process.jl
Due: main_test, test, pages

test update
  src/Core/Data_manager/data_manager_solving_process.jl
  test/unit_tests/Core/ut_data_manager.jl
Due: main_test, test, pages

optim
  src/Support/Helpers.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

code optimizations
  src/Models/Damage/Damage_Factory.jl
  src/Models/Material/Material_Basis.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

changes
  src/Core/Data_manager.jl
  src/Support/Geometry.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

test accuracy
  test/fullscale_tests/test_aniso_damage/test_aniso_damage.cmd
Due: main_test, test

memory efficiency
  src/Core/Data_manager/data_manager_status_vars.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
Due: main_test, test, pages

refac
  test/fullscale_tests/test_multistep/Reference/multistep.e
Due: main_test, test

update
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

test fix
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence.jl
Due: main_test, test

optimzed heat_transfer
  src/Models/Thermal/Thermal_Factory.jl
  src/Models/Thermal/heat_transfer.jl
Due: main_test, test, pages

code cleaning
  src/Models/Material/Material_Factory.jl
Due: main_test, test, pages

refac
  src/Core/Data_manager/data_manager_status_vars.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence.jl
  test/unit_tests/Models/Thermal/ut_Heat_transfer.jl
Due: main_test, test, pages

added dwell callback resolving #292
  src/IO/gcode.jl
Due: main_test, test, pages

edit changelog
  CHANGELOG.md
Due: none

refac
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_status_vars.jl
Due: main_test, test, pages

Merge branch 'main' of https://github.com/PeriHub/PeriLab.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
Due: main_test, test, pages

refac
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages
