Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

back to org
  docs/src/verification/verification.md
Due: pages

optimization
  src/Models/Damage/Energy_release_aniso.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

test update
  test/fullscale_tests/test_aniso_damage/Reference/aniso_damage.e
  test/fullscale_tests/test_aniso_damage/Reference/aniso_damage_mesh.e
Due: main_test, test

update bib
  docs/src/refs.bib
Due: pages

optimizations
  src/Models/Damage/Energy_release_aniso.jl
Due: main_test, test, pages

solver names
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet_solver.jl
Due: main_test, test, pages

adding newmark solver
  src/Core/Solver/Newmark.jl
  src/Core/Solver/Solver_manager.jl
  src/Support/Parameters/parameter_handling_solver.jl
Due: main_test, test, pages

solve #363
  src/Core/Solver/Solver_manager.jl
Due: main_test, test, pages

#362 solved
  test/fullscale_tests/test_Newmark/DCBmodel.txt
  test/fullscale_tests/test_Newmark/Newmark_2D.yaml
  test/fullscale_tests/test_Newmark/Newmark_3D.yaml
  test/fullscale_tests/test_Newmark/Newmark_DCBmodel.yaml
  test/fullscale_tests/test_Newmark/Newmark_bending.yaml
  test/fullscale_tests/test_Newmark/Newmark_shear.yaml
  test/fullscale_tests/test_Newmark/Newmark_switch_DCBmodel.yaml
  test/fullscale_tests/test_Newmark/Newmark_tension.yaml
  test/fullscale_tests/test_Newmark/Newmark_thermal_expansion.yaml
  test/fullscale_tests/test_Newmark/Reference/Newmark_bending.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_bending.e.license
  test/fullscale_tests/test_Newmark/Reference/Newmark_shear.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_shear.e.license
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_2D.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_2D.e.license
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_3D.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_3D.e.license
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_DCBmodel.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_DCBmodel.e.license
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_switch_DCBmodel.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_switch_DCBmodel.e.license
  test/fullscale_tests/test_Newmark/Reference/Newmark_tension.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_tension.e.license
  test/fullscale_tests/test_Newmark/Reference/Newmark_thermal_expansion.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_thermal_expansion.e.license
  test/fullscale_tests/test_Newmark/mesh.txt
  test/fullscale_tests/test_Newmark/mesh_bending.txt
  test/fullscale_tests/test_Newmark/ns_DCBmodel_1.txt
  test/fullscale_tests/test_Newmark/ns_DCBmodel_2.txt
  test/fullscale_tests/test_Newmark/test_Newmark.cmd
  test/fullscale_tests/test_Newmark/test_Newmark.cmd.license
  test/fullscale_tests/test_Newmark/test_Newmarkr.jl
  test/fullscale_tests/test_Newmark/test_mesh_2D.txt
  test/fullscale_tests/test_Newmark/test_mesh_3D.txt
  test/runtests.jl
Due: main_test, test

renaming
  test/fullscale_tests/test_Newmark/test_Newmark.jl
Due: main_test, test

adding exception
  src/Core/Solver/Solver_manager.jl
Due: main_test, test, pages

minor fixes
  src/Core/Solver/Matrix_Verlet.jl
Due: main_test, test, pages

renaming
  test/fullscale_tests/test_Newmark/Newmark_solver_2D.yaml
  test/fullscale_tests/test_Newmark/Newmark_solver_3D.yaml
  test/fullscale_tests/test_Newmark/Newmark_solver_DCBmodel.yaml
  test/fullscale_tests/test_Newmark/Newmark_solver_switch_DCBmodel.yaml
Due: main_test, test

solver fix
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Newmark.jl
  src/Core/Solver/Verlet_solver.jl
  src/Models/Material/Material_Factory.jl
  test/fullscale_tests/test_Newmark/Newmark_solver_DCBmodel.yaml
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_DCBmodel.e
  test/unit_tests/Core/Solver/ut_Verlet.jl
  test/unit_tests/Models/Material/ut_Material_Factory.jl
Due: main_test, test, pages

test fix
  test/fullscale_tests/test_Newmark/Newmark_solver_3D.yaml
Due: main_test, test

fix
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Verlet_solver.jl
Due: main_test, test, pages

update a
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Verlet_solver.jl
Due: main_test, test, pages

definition reorga
  docs/src/verification/verification.md
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Newmark.jl
  test/fullscale_tests/test_Newmark/Newmark_bending.yaml
  test/fullscale_tests/test_Newmark/Newmark_shear.yaml
  test/fullscale_tests/test_Newmark/Newmark_solver_DCBmodel.yaml
  test/fullscale_tests/test_Newmark/Newmark_tension.yaml
  test/fullscale_tests/test_Newmark/Newmark_thermal_expansion.yaml
  test/fullscale_tests/test_linear_static_matrix_based_solver/linear_static_matrix_based_bending.yaml
  test/fullscale_tests/test_linear_static_matrix_based_solver/linear_static_matrix_based_shear.yaml
  test/fullscale_tests/test_linear_static_matrix_based_solver/linear_static_matrix_based_tension.yaml
  test/fullscale_tests/test_linear_static_matrix_based_solver/linear_static_matrix_based_thermal_expansion.yaml
  test/fullscale_tests/test_matrix_based_additive/matrix_based_only_thermal.yaml
  test/fullscale_tests/test_matrix_based_additive/matrix_based_only_thermal_without_update.yaml
  test/fullscale_tests/test_matrix_based_additive/matrix_based_simple_printing.yaml
Due: main_test, test, pages

test fixes
  src/Core/Solver/Newmark.jl
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_2D.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_switch_DCBmodel.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_thermal_expansion.e
Due: main_test, test, pages

final fix
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_DCBmodel.e
Due: main_test, test

removed error logs
  test/unit_tests/Core/ut_data_manager.jl
Due: main_test, test

removed warnings
  src/Models/Damage/Damage_Factory.jl
Due: main_test, test, pages

added newmark to parameter_handling
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

fix #366
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Newmark.jl
Due: main_test, test, pages

update tests
  test/fullscale_tests/test_Newmark/Reference/Newmark_bending.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_shear.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_2D.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_DCBmodel.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_switch_DCBmodel.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_tension.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_thermal_expansion.e
Due: main_test, test

adding documentation
  docs/src/man/solver/solver.md
  docs/src/refs.bib
Due: pages

[Feature]: Output frequency for each solver Fixes #361
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Newmark.jl
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet_solver.jl
  src/IO/IO.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_output.jl
  test/fullscale_tests/test_multistep/Reference/multistep.e
  test/fullscale_tests/test_multistep/multistep.yaml
Due: main_test, test, pages

added 2d gmsh import
  src/IO/mesh_data.jl
  src/IO/volume.jl
Due: main_test, test, pages

added gmsh tests
  test/fullscale_tests/test_gmsh/Reference/gmsh_2D.e
  test/fullscale_tests/test_gmsh/Reference/gmsh_2D.e.license
  test/fullscale_tests/test_gmsh/Reference/gmsh_3D.e
  test/fullscale_tests/test_gmsh/Reference/gmsh_3D.e.license
  test/fullscale_tests/test_gmsh/gmsh.jl
  test/fullscale_tests/test_gmsh/gmsh_2D.yaml
  test/fullscale_tests/test_gmsh/gmsh_2d.msh
  test/fullscale_tests/test_gmsh/gmsh_2d.msh.license
  test/fullscale_tests/test_gmsh/gmsh_3D.yaml
  test/fullscale_tests/test_gmsh/gmsh_3d.msh
  test/fullscale_tests/test_gmsh/gmsh_3d.msh.license
  test/fullscale_tests/test_gmsh/test_gmsh.cmd
  test/fullscale_tests/test_gmsh/test_gmsh.cmd.license
  test/fullscale_tests/test_gmsh/test_gmsh.jl
  test/runtests.jl
Due: main_test, test

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
