Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

reworked info and error handling
  src/IO/logging.jl
  src/PeriLab.jl
  test/unit_tests/IO/ut_logging.jl
Due: main_test, test, pages

Fix additive
  src/Models/Additive/Additive_Factory.jl
Due: main_test, test, pages

bug fix
  src/Models/Damage/Energy_release_aniso.jl
Due: main_test, test, pages

limit frequency
  docs/src/man/solver/solver.md
  src/Core/Model_reduction/CraigBampton.jl
  src/Core/Model_reduction/Model_reduction.jl
  test/unit_tests/Core/Model_reduction/ut_Model_reduction.jl
Due: main_test, test, pages

cascade solver
  docs/src/man/solver/condensation.md
  docs/src/man/solver/solver.md
  src/Core/Model_reduction/CraigBampton_cascade.jl
  src/Core/Model_reduction/Model_reduction.jl
  test/unit_tests/Core/Model_reduction/ut_Model_reduction.jl
Due: main_test, test, pages

Add ParameterSpec: typed, validated input parameters (phase 1)
  docs/superpowers/plans/2026-10-03-typed-input-parameters-phase1.md
  docs/superpowers/specs/2026-10-03-typed-input-parameters-design.md
  src/PeriLab.jl
  src/Support/Parameters/Spec/ParameterSpec.jl
  src/Support/Parameters/Spec/bind.jl
  src/Support/Parameters/Spec/build.jl
  src/Support/Parameters/Spec/convert.jl
  src/Support/Parameters/Spec/dependent.jl
  src/Support/Parameters/Spec/errors.jl
  src/Support/Parameters/Spec/field_spec.jl
  src/Support/Parameters/Spec/model.jl
  src/Support/Parameters/Spec/params_macro.jl
  src/Support/Parameters/Spec/registry.jl
  test/runtests.jl
  test/unit_tests/Support/Parameters/Spec/run_spec_tests.jl
  test/unit_tests/Support/Parameters/Spec/spec_tests.jl
  test/unit_tests/Support/Parameters/Spec/ut_convert.jl
  test/unit_tests/Support/Parameters/Spec/ut_dependent.jl
  test/unit_tests/Support/Parameters/Spec/ut_end_to_end.jl
  test/unit_tests/Support/Parameters/Spec/ut_errors.jl
  test/unit_tests/Support/Parameters/Spec/ut_model.jl
  test/unit_tests/Support/Parameters/Spec/ut_params.jl
Due: main_test, test, pages

Add phase 2a implementation plan for typed input sections
  docs/superpowers/plans/2026-10-03-typed-input-parameters-phase2a.md
Due: pages

ParameterSpec: scalar unions, dicts of scalars, check! hook
  src/Support/Parameters/Spec/build.jl
  src/Support/Parameters/Spec/convert.jl
  src/Support/Parameters/Spec/model.jl
  src/Support/Parameters/Spec/params_macro.jl
  test/unit_tests/Support/Parameters/Spec/spec_tests.jl
  test/unit_tests/Support/Parameters/Spec/ut_extensions.jl
Due: main_test, test, pages

InputDeck: Discretization, Blocks, FEM, Surface Correction sections
  src/PeriLab.jl
  src/Support/Parameters/Input/InputDeck.jl
  src/Support/Parameters/Input/blocks.jl
  src/Support/Parameters/Input/discretization.jl
  test/runtests.jl
  test/unit_tests/Support/Parameters/Input/input_tests.jl
  test/unit_tests/Support/Parameters/Input/run_input_tests.jl
  test/unit_tests/Support/Parameters/Input/ut_mesh_blocks.jl
Due: main_test, test, pages

InputDeck: Solver and Multistep step sections
  src/Support/Parameters/Input/InputDeck.jl
  src/Support/Parameters/Input/solver.jl
  test/unit_tests/Support/Parameters/Input/input_tests.jl
  test/unit_tests/Support/Parameters/Input/ut_solver.jl
Due: main_test, test, pages

InputDeck: Outputs, Boundary Conditions, Compute Classes, Contact
  src/Support/Parameters/Input/InputDeck.jl
  src/Support/Parameters/Input/conditions.jl
  src/Support/Parameters/Input/contact.jl
  src/Support/Parameters/Input/outputs.jl
  test/unit_tests/Support/Parameters/Input/input_tests.jl
  test/unit_tests/Support/Parameters/Input/ut_outputs_conditions_contact.jl
Due: main_test, test, pages

InputDeck: PeriLabInput and read_input
  src/Support/Parameters/Input/InputDeck.jl
  src/Support/Parameters/Input/input.jl
  test/unit_tests/Support/Parameters/Input/input_tests.jl
  test/unit_tests/Support/Parameters/Input/ut_read_input.jl
Due: main_test, test, pages

Golden test: all shipped decks parse in strict mode; remove dead keys
  examples/Disk_impact/Disk_impact.yaml
  examples/Dogbone/Dogbone_plastic_corr_static.yaml
  test/fullscale_tests/test_Craig_Bampton/cb_mat_point.yaml
  test/fullscale_tests/test_Craig_Bampton/cb_without_mat_point.yaml
  test/fullscale_tests/test_DCB/DCBmodel_PD_solid_switch.yaml
  test/fullscale_tests/test_thermal_expansion/thermal_expansion_lin_mat_const_T.yaml
  test/fullscale_tests/test_thermal_expansion/thermal_expansion_lin_mat_var_T.yaml
  test/unit_tests/Support/Parameters/Input/input_tests.jl
  test/unit_tests/Support/Parameters/Input/ut_golden_decks.jl
Due: main_test, test

Validate input decks with typed sections; add --no_strict flag
  src/IO/IO.jl
  src/IO/read_inputdeck.jl
  src/PeriLab.jl
  src/Support/Parameters/parameter_handling.jl
  test/unit_tests/Support/Parameters/Input/input_tests.jl
  test/unit_tests/Support/Parameters/Input/ut_validate_yaml.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
  test/unit_tests/ut_perilab.jl
Due: main_test, test, pages

Input validation: review fixes
  src/Support/Parameters/Input/input.jl
  src/Support/Parameters/Input/outputs.jl
  src/Support/Parameters/Input/solver.jl
  src/Support/Parameters/Spec/build.jl
  src/Support/Parameters/Spec/convert.jl
  src/Support/Parameters/Spec/errors.jl
  test/unit_tests/IO/ut_read_inputdeck.jl
  test/unit_tests/Support/Parameters/Input/ut_outputs_conditions_contact.jl
  test/unit_tests/Support/Parameters/Input/ut_read_input.jl
  test/unit_tests/Support/Parameters/Input/ut_solver.jl
  test/unit_tests/Support/Parameters/Spec/ut_errors.jl
Due: main_test, test, pages

Add phase 2b-1 plan: solvers consume typed solver options
  docs/superpowers/plans/2026-10-03-typed-input-parameters-phase2b1-solver.md
Due: pages

Typed solver options: SolverOptions, time and step helpers
  src/Support/Parameters/Input/InputDeck.jl
  src/Support/Parameters/Input/input.jl
  src/Support/Parameters/Input/solver.jl
  src/Support/Parameters/Spec/params_macro.jl
  test/unit_tests/Support/Parameters/Input/input_tests.jl
  test/unit_tests/Support/Parameters/Input/ut_solver.jl
  test/unit_tests/Support/Parameters/Input/ut_solver_typed.jl
  test/unit_tests/Support/Parameters/Spec/ut_extensions.jl
Due: main_test, test, pages

Solvers and model reduction read typed solver options
  src/Core/Model_reduction/Model_reduction.jl
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Newmark.jl
  src/Core/Solver/Solver_manager.jl
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet_solver.jl
  src/Support/Parameters/Input/solver.jl
  test/unit_tests/Support/Parameters/Input/input_tests.jl
  test/unit_tests/Support/Parameters/Input/ut_model_reduction_params.jl
Due: main_test, test, pages

Pass typed input from run to the solver manager
  src/Core/Solver/Solver_manager.jl
  src/IO/IO.jl
  src/IO/read_inputdeck.jl
  src/PeriLab.jl
  src/Support/Parameters/parameter_handling.jl
  test/unit_tests/Support/Parameters/Input/ut_validate_yaml.jl
Due: main_test, test, pages

Restore Solver_Manager.init docstring
  src/Core/Solver/Solver_manager.jl
  test/unit_tests/Support/Parameters/Input/ut_solver_typed.jl
Due: main_test, test, pages

Add phase 2b-2 plan: mesh, discretization and blocks consume typed input
  docs/superpowers/plans/2026-10-04-typed-input-parameters-phase2b2-mesh-blocks.md
Due: pages

Typed block and discretization helpers; Gcode and bond filter checks
  src/Support/Parameters/Input/InputDeck.jl
  src/Support/Parameters/Input/blocks.jl
  src/Support/Parameters/Input/discretization.jl
  test/helper.jl
  test/unit_tests/Support/Parameters/Input/input_tests.jl
  test/unit_tests/Support/Parameters/Input/ut_blocks_mesh_typed.jl
  test/unit_tests/Support/Parameters/Input/ut_mesh_blocks.jl
Due: main_test, test, pages

Block setup, orientations, block summary and influence function read typed input
  src/Core/Influence_function.jl
  src/Core/Solver/Solver_manager.jl
  src/IO/IO.jl
  src/IO/mesh_data.jl
  src/PeriLab.jl
  test/test_results_0.json
  test/unit_tests/Core/ut_Influence_function.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
Due: main_test, test, pages

ut_MPI: convert test blocks inline (runs standalone under mpiexec)
  test/unit_tests/MPI_communication/ut_MPI.jl
Due: main_test, test

Mesh import, node sets, neighbours, extrusion and topology read typed input
  src/IO/IO.jl
  src/IO/Mesh_Import/Abaqus_Mesh.jl
  src/IO/Mesh_Import/Exodus_Mesh.jl
  src/IO/Mesh_Import/Gcode_Mesh.jl
  src/IO/Mesh_Import/Gmsh_Mesh.jl
  src/IO/Mesh_Import/Mesh_Import.jl
  src/IO/Mesh_Import/Text_Mesh.jl
  src/IO/mesh_data.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_mesh.jl
  test/test_results_0.json
  test/unit_tests/IO/ut_mesh_data.jl
  test/unit_tests/Support/Parameters/Input/input_tests.jl
  test/unit_tests/Support/Parameters/Input/ut_node_sets_typed.jl
Due: main_test, test, pages

Bond filters read typed filter parameters
  src/IO/Bond_Filter/disk_filter.jl
  src/IO/Bond_Filter/filter_template.jl
  src/IO/Bond_Filter/rectangular_filter.jl
  src/IO/bond_filter.jl
  src/IO/mesh_data.jl
  test/unit_tests/IO/ut_bond_filter.jl
Due: main_test, test, pages

Add phase 2b-3 plan: outputs and compute classes consume typed input
  docs/superpowers/plans/2026-10-04-typed-input-parameters-phase2b3-outputs-computes.md
Due: pages

Typed output and compute functions
  src/Support/Parameters/Input/InputDeck.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_computes.jl
  src/Support/Parameters/parameter_handling_output.jl
  test/unit_tests/Support/Parameters/Input/input_tests.jl
  test/unit_tests/Support/Parameters/Input/ut_outputs_typed.jl
Due: main_test, test, pages

Output setup and compute evaluation read typed input
  src/IO/IO.jl
  src/PeriLab.jl
  test/unit_tests/IO/ut_IO.jl
Due: main_test, test, pages

Add phase 2b-4 plan: boundary conditions consume typed input
  docs/superpowers/plans/2026-10-04-typed-input-parameters-phase2b4-boundary-conditions.md
Due: pages

Typed BC input helpers; Step ID check
  src/Support/Parameters/Input/InputDeck.jl
  src/Support/Parameters/Input/conditions.jl
  test/unit_tests/Support/Parameters/Input/input_tests.jl
  test/unit_tests/Support/Parameters/Input/ut_bc_typed.jl
Due: main_test, test, pages

Boundary conditions built from typed input into a runtime struct
  src/Core/BC_manager.jl
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Newmark.jl
  src/Core/Solver/Solver_manager.jl
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet_solver.jl
  test/unit_tests/Core/ut_BC_manager.jl
Due: main_test, test, pages

Add phase 2b-5 plan: contact, FEM/coupling, surface correction consume typed input
  docs/superpowers/plans/2026-10-04-typed-input-parameters-phase2b5-contact-fem-surface.md
Due: pages

BC expressions: z check in 2D, compiled function kept on skipped Initial
  src/Core/BC_manager.jl
  test/unit_tests/Core/ut_BC_manager.jl
Due: main_test, test, pages

Typed contact/FEM/surface correction: declared defaults, checks, helpers
  src/Support/Parameters/Input/InputDeck.jl
  src/Support/Parameters/Input/blocks.jl
  src/Support/Parameters/Input/contact.jl
  test/helper.jl
  test/unit_tests/Support/Parameters/Input/input_tests.jl
  test/unit_tests/Support/Parameters/Input/ut_contact_fem_typed.jl
  test/unit_tests/Support/Parameters/Input/ut_outputs_conditions_contact.jl
Due: main_test, test, pages

Contact reads typed ContactInput
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_contact.jl
  src/Core/Solver/Solver_manager.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
  src/Models/Contact/Penalty_model.jl
  src/Models/Model_Factory.jl
  test/unit_tests/Models/Contact/ut_Contact_Factory.jl
  test/unit_tests/Models/Contact/ut_Penalty_model.jl
Due: main_test, test, pages

FEM and coupling read typed FEMParams
  src/Core/Data_manager.jl
  src/Core/Solver/Solver_manager.jl
  src/FEM/Coupling/Arlequin_coupling.jl
  src/FEM/Coupling/Coupling_Factory.jl
  src/FEM/Element_formulation/Lagrange_element.jl
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_basis.jl
  src/FEM/FEM_template/FEM_template.jl
  src/Models/Model_Factory.jl
  test/unit_tests/FEM/Coupling/ut_Arlequin.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: main_test, test, pages

Surface correction reads typed SurfaceCorrectionParams
  src/Core/Data_manager.jl
  src/Models/Model_Factory.jl
  src/Models/Surface_correction/Surface_correction.jl
  test/unit_tests/Surface_correction/ut_Surface_correction.jl
Due: main_test, test, pages
