Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

edit apply_bc_dirichlet
  src/Core/BC_manager.jl
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet.jl
  test/unit_tests/Core/ut_BC_manager.jl
Due: main_test, test, pages

solver update
  docs/src/man/input_yaml.md
  docs/src/man/solver/solver.md
  src/Core/Solver/Static_solver.jl
Due: main_test, test, pages

Fixed critical stretch
  src/Models/Damage/Critical_Stretch.jl
Due: main_test, test, pages

minor corrections
  docs/src/man/solver/solver.md
  src/Core/Solver/Static_solver.jl
Due: main_test, test, pages

Added Temperature to VUMAT
  src/Models/Material/Material_Models/Correspondence/Correspondence_VUMAT.jl
Due: main_test, test, pages

edit Readme
  README.md
Due: none

fixed test and warnings
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet.jl
  src/PeriLab.jl
  src/Support/Parameters/parameter_handling.jl
  test/fullscale_tests/test_DCB/DCBmodel_PD_solid_switch.yaml
  test/fullscale_tests/test_bond_based_elastic/Reference/test_static_bond_based_elastic_2D.e
  test/fullscale_tests/test_bond_based_elastic/test_static_bond_based_elastic_2D.yaml
Due: main_test, test, pages

silent traces
  src/Core/Solver/Static_solver.jl
Due: main_test, test, pages

test fix
  test/fullscale_tests/test_bond_based_elastic/Reference/test_static_bond_based_elastic_2D.e
  test/fullscale_tests/test_bond_based_elastic/test_static_bond_based_elastic_2D.yaml
Due: main_test, test

readme update
  README.md
Due: none

minor correction readme
  README.md
Due: none

fixed test
  test/fullscale_tests/test_bond_based_elastic/Reference/test_static_bond_based_elastic_2D.e
Due: main_test, test

edit CHANGELOG
  CHANGELOG.md
Due: none

fixed show traces
  src/Core/Solver/Static_solver.jl
Due: main_test, test, pages

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

fixed license and revert version
  LICENSE.md
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

typo
  src/Models/Material/Material_Basis.jl
Due: main_test, test, pages

update script
  scripts/nodesets_from_mesh.jl
Due: none

unneeded parameter
  src/Support/Parameters/parameter_handling.jl
  test/fullscale_tests/test_DCB/DCBmodel_correspondence_bond_associated.yaml
  test/fullscale_tests/test_DCB/thermal_test.yaml
Due: main_test, test, pages

index fix
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
Due: main_test, test, pages

edit static solver
  src/Core/Solver/Static_solver.jl
Due: main_test, test, pages

filename check
  src/IO/mesh_data.jl
  src/Support/Parameters/parameter_handling_mesh.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

adding external forces
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages

renaming routine
  src/FEM/FEM_Factory.jl
  src/Models/Model_Factory.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: main_test, test, pages

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
