Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

Fixed surface extension
  src/IO/mesh_data.jl
Due: main_test, test, pages

Edit changelog
  CHANGELOG.md
Due: none

build based on 538821a
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/theory/basics/index.html
  dev/theory/index.html
Due: none

documentation
  docs/src/manual.md
  docs/src/manual.md.license
  docs/src/manual/how_to_define_a_model.md
  docs/src/manual/how_to_define_a_model.md.license
  docs/src/theory/basics.md
Due: pages

Optimized tests
  test/unit_tests/IO/ut_bond_filter.jl
  test/unit_tests/IO/ut_logging.jl
Due: main_test, test

Changed version
  CHANGELOG.md
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

Added physic overview to docs
  docs/Project.toml
  docs/make.jl
  docs/src/man/physics/additive.md
  docs/src/man/physics/additive.md.license
  docs/src/man/physics/damage.md
  docs/src/man/physics/damage.md.license
  docs/src/man/physics/materials.md
  docs/src/man/physics/materials.md.license
  docs/src/man/physics/overview.md
  docs/src/man/physics/overview.md.license
  docs/src/man/physics/thermal.md
  docs/src/man/physics/thermal.md.license
Due: pages

Merged materials
  docs/src/man/input_yaml.md
  docs/src/man/material_manual.md
  docs/src/man/material_manual.md.license
  docs/src/man/physics/materials.md
Due: pages

Fixed docs
  docs/src/man/physics/additive.md
  docs/src/man/physics/damage.md
  docs/src/man/physics/materials.md
  docs/src/man/physics/thermal.md
  docs/src/theory/basics.md
Due: pages

build based on 5362663
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive.md.license
  dev/man/physics/additive/index.html
  dev/man/physics/damage.md.license
  dev/man/physics/damage/index.html
  dev/man/physics/materials.md.license
  dev/man/physics/materials/index.html
  dev/man/physics/overview.md.license
  dev/man/physics/overview/index.html
  dev/man/physics/thermal.md.license
  dev/man/physics/thermal/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/basics/index.html
  dev/theory/index.html
Due: none

error fix
  docs/src/man/material_manual.md
  docs/src/theory/basics.md
Due: pages

theory
  docs/src/theory/basics.md
Due: pages

Added 2D image meshing
  docs/src/lib/faq.md
  examples/Training/meshing/Image.png
  examples/Training/meshing/Image.png.license
  examples/Training/meshing/Image.yaml
  examples/Training/meshing/image.jl
Due: pages

build based on 67d7bd6
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/search_index.js
  dev/theory/basics/index.html
  dev/theory/index.html
Due: none

Edit faq
  docs/src/lib/faq.md
Due: pages

added mermaid
  docs/src/index.md
Due: pages

build based on 2959d4d
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/basics/index.html
  dev/theory/index.html
Due: none

build based on 050a61b
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/search_index.js
  dev/theory/basics/index.html
  dev/theory/index.html
Due: none

added video
  docs/src/man/getting_started.md
Due: pages

build based on 3c09a67
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/search_index.js
  dev/theory/basics/index.html
  dev/theory/index.html
Due: none

documentation
  docs/make.jl
  docs/src/theory.md
  docs/src/theory/basics.md
  docs/src/theory/theory.md
  docs/src/theory/theory.md.license
  docs/src/theory/theory_bondbased.md
  docs/src/theory/theory_bondbased.md.license
  docs/src/theory/theory_correspondence.md
  docs/src/theory/theory_correspondence.md.license
  docs/src/theory/theory_ordinary.md
  docs/src/theory/theory_ordinary.md.license
Due: pages

fixes
  docs/src/refs.bib
  docs/src/theory/theory.md
Due: pages

path error
  docs/make.jl
Due: pages

docu
  docs/src/refs.bib
  docs/src/theory/theory_bondbased.md
  src/Physics/Material/BondBased/Bondbased_Elastic.jl
Due: main_test, test, pages

path errors
  docs/make.jl
Due: pages

bib warn improvement
  docs/src/refs.bib
Due: pages

bib ref error
  docs/src/refs.bib
Due: pages

new links
  docs/src/index.md
  docs/src/man/physics/materials.md
Due: pages

next try
  docs/src/man/physics/materials.md
Due: pages

neq links
  docs/src/man/physics/materials.md
  docs/src/theory/theory_bondbased.md
  docs/src/theory/theory_correspondence.md
  docs/src/theory/theory_ordinary.md
Due: pages

build based on 92ed3b3
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/objects.inv
  dev/refs.bib
  dev/search_index.js
  dev/theory/basics/index.html
  dev/theory/index.html
  dev/theory/theory.md.license
  dev/theory/theory/index.html
  dev/theory/theory_bondbased.md.license
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence.md.license
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_ordinary.md.license
  dev/theory/theory_ordinary/index.html
Due: none

style
  docs/src/theory/theory_bondbased.md
Due: pages

build based on d8a22c3
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Added total to mpi_summary
  src/IO/IO.jl
  test/runtests.jl
Due: main_test, test, pages

build based on 3533533
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Edit Readme
  README.md
Due: none

Removed not needed [:]
  src/Compute/compute_field_values.jl
  src/MPI_communication/MPI_communication.jl
  src/Physics/Additive/Additive_Factory.jl
  src/Physics/Damage/Damage_Factory.jl
  src/Physics/Material/BondBased/Bondbased_Elastic.jl
  src/Physics/Material/Material_Models/Correspondence.jl
  src/Physics/Material/Material_Models/Ordinary/Ordinary.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
  src/Physics/Material/Material_Models/PD_Solid_Plastic.jl
  src/Physics/Material/material_basis.jl
  src/Physics/Physics_Factory.jl
  src/Support/geometry.jl
  test/multifunctional_test/test_MPI_data_manager.jl
  test/unit_tests/Core/Solver/ut_Verlet.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
  test/unit_tests/Physics/Material/Material_Models/BondBased/ut_Bondbased_Elastic.jl
  test/unit_tests/Physics/Thermal/ut_Heat_transfer.jl
Due: main_test, test, pages

build based on f3d828b
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
