Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

refac
  test/fullscale_tests/test_reload/Reference/reload1.e
  test/fullscale_tests/test_reload/Reference/reload1.e.license
  test/fullscale_tests/test_reload/Reference/reload2.e
  test/fullscale_tests/test_reload/reload1.yaml
  test/fullscale_tests/test_reload/test_reload.jl
  test/unit_tests/IO/ut_IO.jl
Due: main_test, test

refac
  test/helper.jl
Due: main_test, test

edit changelog
  CHANGELOG.md
Due: none

works for test
  src/Core/Model_reduction/CraigBampton.jl
  src/Core/Model_reduction/Model_reduction.jl
  src/Core/Solver/Matrix_Verlet.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

code cleaning
  src/Core/Model_reduction/Model_reduction.jl
Due: main_test, test, pages

CB final
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

fix image
  docker-entrypoint.sh
  docker-entrypoint.sh.license
Due: none

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

init velocity
  src/Core/Solver/Matrix_Verlet.jl
Due: main_test, test, pages

Fixed docker image
  Dockerfile
  src/Models/Additive/Additive_Factory.jl
  src/Support/ModuleLoader.jl
Due: main_test, test, pages

added API wrapper
  .github/workflows/CI.yml
  Dockerfile
  app/jobs.py
  app/main.py
  requirements.txt
  test/fullscale_tests/test_reload/test_reload.jl
Due: main_test, test

renaming
  docs/src/man/solver/condensation.md
  docs/src/verification/verification.md
  src/Core/Data_manager.jl
  src/Core/Model_reduction/CraigBampton.jl
  src/Core/Model_reduction/Guyan.jl
  src/Core/Model_reduction/Model_reduction.jl
  src/Core/Solver/Matrix_Verlet.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

removed unused functions
  src/Core/Data_manager/data_manager_status_vars.jl
  src/Core/Data_manager/data_manager_utilities.jl
  src/Core/Influence_function.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Support/Helpers.jl
  test/runtests.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

cascading
  src/Core/Model_reduction/CraigBampton_cascade.jl
Due: main_test, test, pages

fixed surface extrusion and added all to default abaqus nodeset
  src/IO/Mesh_Import/Abaqus_Mesh.jl
  src/IO/mesh_data.jl
  src/Support/Parameters/parameter_handling.jl
  test/fullscale_tests/test_3D_aniso_material/Reference/3D_anisomat.e
  test/fullscale_tests/test_3D_aniso_material/Reference/3D_transverse_iso.e
  test/fullscale_tests/test_3D_aniso_material/test_3D_aniso_material.cmd
  test/unit_tests/IO/ut_mesh_data.jl
Due: main_test, test, pages

Fixed alpha vector input
  src/Models/Thermal/thermal_expansion.jl
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

refac
  test/fullscale_tests/test_3D_aniso_material/test_3D_aniso_material.cmd
Due: main_test, test

fixed jobStatus
  app/jobs.py
  app/main.py
Due: none

refac
  .github/workflows/CI.yml
  app/jobs.py
Due: none

Fixed job return value
  Dockerfile
  app/jobs.py
  src/PeriLab.jl
Due: main_test, test, pages

documentation
  docs/src/man/solver/condensation.md
  docs/src/man/solver/solver.md
Due: pages

test fixes
  test/unit_tests/FEM/Coupling/ut_Arlequin.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test

fix docstring warnings
  src/Core/Solver/Newmark.jl
  src/FEM/Element_formulation/Lagrange_element.jl
  src/FEM/FEM_basis.jl
  src/IO/bond_filter.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Damage/Energy_release.jl
  src/Models/Material/Material_Models/Ordinary/Ordinary.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
  src/Models/Pre_calculation/Pre_Calculation_Factory.jl
  src/Models/Pre_calculation/pre_bond_associated_correspondence.jl
  src/Models/Thermal/Thermal_Factory.jl
  src/Support/Geometry.jl
Due: main_test, test, pages

test update
  src/Compute/compute_field_values.jl
  src/Core/Model_reduction/Model_reduction.jl
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Newmark.jl
  src/Core/Solver/Solver_manager.jl
  src/Core/Solver/Static_solver.jl
  src/Core/Solver/Verlet_solver.jl
  src/Models/Model_Factory.jl
  src/Models/Pre_calculation/Pre_Calculation_Factory.jl
  src/Support/Helpers.jl
  test/fullscale_tests/test_3D_aniso_material/Reference/3D_anisomat.e
  test/fullscale_tests/test_3D_aniso_material/Reference/3D_transverse_iso.e
Due: main_test, test, pages

code cleaning
  bin/main.jl
  scripts/abaqus_reader.jl
  scripts/event_reader.jl
  scripts/nodesets_from_mesh.jl
  src/PeriLab.jl
  src/Support/Parameters/PeriLabInputSchema.jl
  src/Support/Parameters/example_usage.jl
  test/helper.jl
  test/unit_tests/Compute/ut_compute_field_values.jl
  test/unit_tests/Core/Model_reduction/ut_Model_reduction.jl
  test/unit_tests/Core/ut_BC_manager.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/IO/ut_bond_filter.jl
  test/unit_tests/IO/ut_mesh_data.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
  test/unit_tests/Models/Contact/ut_Contact_Factory.jl
  test/unit_tests/Models/Contact/ut_Contact_search.jl
  test/unit_tests/Models/Degradation/ut_Degradation_Factory.jl
  test/unit_tests/Models/Material/Material_Models/BondBased/ut_1D_Bondbased_Elastic.jl
  test/unit_tests/Models/Material/Material_Models/BondBased/ut_Bondbased_Elastic.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_UMAT.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_VUMAT.jl
  test/unit_tests/Models/Material/Material_Models/Ordinary/ut_PD_Solid_Plastic.jl
  test/unit_tests/Models/Material/Material_Models/Ordinary/ut_ordinary.jl
  test/unit_tests/Models/Thermal/ut_HETVAL.jl
  test/unit_tests/Models/Thermal/ut_Heat_transfer.jl
  test/unit_tests/Models/Thermal/ut_Thermal_flow.jl
  test/unit_tests/Models/ut_Model_Factory.jl
Due: main_test, test, pages

refac
  app/jobs.py
Due: none
