Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

CompatHelper: add new compat entry for LoopVectorization at version 0.12, (keep existing compat)
  Project.toml
Due: none

CompatHelper: add new compat entry for Tensorial at version 0.16, (keep existing compat)
  Project.toml
Due: none

speed up
  src/Compute/compute_field_values.jl
  src/Models/Material/material_basis.jl
  src/Support/helpers.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

build based on 0c711c0
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

removed view from data_manager
  src/Compute/compute_global_values.jl
  src/Core/Solver/Solver_control.jl
  src/Core/data_manager.jl
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
  src/IO/exodus_export.jl
  src/Models/Damage/Energy_release.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Ordinary/Ordinary.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Elastic.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Models/Material/material_basis.jl
  src/Models/Model_Factory.jl
  src/Models/Pre_calculation/pre_bond_associated_correspondence.jl
  src/Models/Thermal/heat_transfer.jl
  src/Models/Thermal/thermal_expansion.jl
  src/Models/Thermal/thermal_flow.jl
  src/Support/geometry.jl
  src/Support/helpers.jl
  test/multifunctional_test/test_MPI_data_manager.jl
  test/unit_tests/Core/ut_data_manager.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/Models/Additive/ut_Additive_Factory.jl
  test/unit_tests/Models/Damage/ut_Damage_Factory.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_UMAT.jl
  test/unit_tests/Models/Material/Material_Models/Ordinary/ut_ordinary.jl
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test, pages

determinant
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/material_basis.jl
  src/Models/Model_Factory.jl
  src/Support/geometry.jl
  src/Support/helpers.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

code improvement
  src/Support/geometry.jl
Due: main_test, test, pages

deformation_gradient update
  src/Support/geometry.jl
  src/Support/helpers.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

fix OutOfMemory MPI Error
  src/IO/mesh_data.jl
Due: main_test, test, pages

clean create_field methods
  src/Core/data_manager.jl
Due: main_test, test, pages

fix tests
  test/fullscale_tests/test_Abaqus/Reference/Abaqus.e
  test/unit_tests/Core/ut_data_manager.jl
Due: main_test, test

optimze energy release
  src/Models/Damage/Energy_release.jl
  src/Support/helpers.jl
Due: main_test, test, pages

fix energy release
  src/Models/Damage/Energy_release.jl
  src/Support/helpers.jl
Due: main_test, test, pages

build based on 7901935
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

merge update
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Support/geometry.jl
  src/Support/helpers.jl
Due: main_test, test, pages

optimization
  src/Core/data_manager.jl
  src/Models/Pre_calculation/shape_tensor.jl
  src/Support/Parameters/parameter_handling_computes.jl
  src/Support/Parameters/parameter_handling_output.jl
  src/Support/geometry.jl
Due: main_test, test, pages

add int support for solver params
  src/Support/Parameters/parameter_handling_solver.jl
Due: main_test, test, pages

new get_active_update_nodes
  src/Compute/compute_field_values.jl
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Verlet.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/material_basis.jl
  src/Models/Model_Factory.jl
  src/Support/helpers.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

test fix
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test

test fixes and code cleaning
  test/unit_tests/Core/ut_BC_manager.jl
  test/unit_tests/Models/Additive/ut_Additive_Factory.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_UMAT.jl
  test/unit_tests/Models/Thermal/ut_HETVAL.jl
  test/unit_tests/Models/Thermal/ut_Heat_transfer.jl
  test/unit_tests/Models/ut_templates.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test

renaming
  src/Compute/compute_field_values.jl
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Verlet.jl
  src/Models/Damage/Critical_Stretch.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Damage/Energy_release.jl
  src/Models/Model_Factory.jl
  src/Support/helpers.jl
  test/unit_tests/Models/Additive/ut_Additive_Factory.jl
  test/unit_tests/Models/Thermal/ut_Heat_transfer.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

build based on 7115421
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

remove depr. function
  src/Models/Model_Factory.jl
  src/Models/Thermal/Thermal_Factory.jl
Due: main_test, test, pages

Added surface extrusion for non abaqus
  src/IO/mesh_data.jl
Due: main_test, test, pages

refac
  src/Models/Thermal/Thermal_Factory.jl
  test/unit_tests/Models/Thermal/ut_Thermal_Factory.jl
Due: main_test, test, pages

edit changelog
  CHANGELOG.md
  docs/src/lib/models_functions.md
Due: pages

build based on 3e60e53
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

code cleaning
  src/Core/data_manager.jl
Due: main_test, test, pages

fix tests
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/IO/ut_IO.jl
Due: main_test, test

build based on 90fbc67
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

fix tests
  test/unit_tests/IO/ut_IO.jl
Due: main_test, test

optimization
  src/Support/helpers.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

cleaning
  src/Models/Thermal/Thermal_Factory.jl
Due: main_test, test, pages

add test
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test

delete test
  test/unit_tests/Models/Thermal/ut_Thermal_Factory.jl
Due: main_test, test

nodes
  src/Models/Model_Factory.jl
Due: main_test, test, pages

test fixes
  src/Compute/compute_field_values.jl
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Verlet.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/material_basis.jl
  src/Models/Thermal/heat_transfer.jl
  src/Models/Thermal/hetval.jl
  src/Models/Thermal/thermal_flow.jl
  src/Support/helpers.jl
  test/fullscale_tests/test_DCB/DCBmodel_PD_solid.yaml
  test/fullscale_tests/test_calculation/calculation.yaml
Due: main_test, test, pages

fix documentation
  docs/src/lib/io_functions.md
Due: pages
