Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, deploy, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

stages:
  - test
  - benchmark
  - deploy

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

test:
  stage: test
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e "import Pkg; Pkg.test(; coverage = true)"
    # - julia --project=test/coverage -e 'import Pkg; Pkg.instantiate()'
    # - julia --project=test/coverage test/coverage/coverage-summary.jl

    - julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    refs:
      - main
    changes:
      - src/**/*
  script:
    - docker build -t perihub/perilab .
    - docker push perihub/perilab

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

ut_Damage_factory_exceptions fix
  test/unit_tests/Physics/Damage/ut_Damage_Factory.jl
Due: test

reexport
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/Support/ut_helpers.jl
Due: test

test fix
  test/unit_tests/IO/ut_mesh_data.jl
  test/unit_tests/Support/ut_helpers.jl
Due: test

fix
  test/unit_tests/Support/ut_helpers.jl
Due: test

fix
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: test

bc tests
  src/Core/BC_manager.jl
  test/unit_tests/Core/ut_BC_manager.jl
Due: test, deploy, pages

more logging
  src/Physics/Physics_Factory.jl
Due: test, deploy, pages

documentation
  src/Physics/Material/Material_template/correspondence_template.jl
Due: test, deploy, pages

block problems
  test/benchmarks/strain_xx.yaml
  test/fullscale_tests/test_PD_solid_elastic/strain_xx.yaml
  test/fullscale_tests/test_PD_solid_elastic/strain_xy.yaml
  test/fullscale_tests/test_PD_solid_elastic/strain_yy.yaml
  test/fullscale_tests/test_bond_based_elastic/test_bond_based_elastic_2D.yaml
  test/fullscale_tests/test_bond_based_elastic/test_bond_based_elastic_3D.yaml
  test/fullscale_tests/test_correspondence_elastic/correspondence_strain_pstrain_xx.yaml
  test/fullscale_tests/test_correspondence_elastic/correspondence_strain_pstrain_xy.yaml
  test/fullscale_tests/test_correspondence_elastic/correspondence_strain_pstrain_yy.yaml
  test/fullscale_tests/test_correspondence_elastic/correspondence_strain_pstress_xx.yaml
  test/fullscale_tests/test_correspondence_elastic/correspondence_strain_pstress_xy.yaml
  test/fullscale_tests/test_correspondence_elastic/correspondence_strain_pstress_yy.yaml
  test/fullscale_tests/test_correspondence_elastic_with_zero_E_control/correspondence_strain_pstrain_zc_xx.yaml
  test/fullscale_tests/test_correspondence_elastic_with_zero_E_control/correspondence_strain_pstrain_zc_xy.yaml
  test/fullscale_tests/test_correspondence_elastic_with_zero_E_control/correspondence_strain_pstrain_zc_yy.yaml
  test/fullscale_tests/test_correspondence_elastic_with_zero_E_control/correspondence_strain_pstress_zc_xx.yaml
  test/fullscale_tests/test_correspondence_elastic_with_zero_E_control/correspondence_strain_pstress_zc_xy.yaml
  test/fullscale_tests/test_correspondence_elastic_with_zero_E_control/correspondence_strain_pstress_zc_yy.yaml
Due: test

avoid warnings
  test/unit_tests/Support/ut_geometry.jl
Due: test

resolve #139 & #99
  src/Physics/Material/Material_Factory.jl
  src/Physics/Material/Material_Models/Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence_Plastic.jl
  src/Physics/Material/Material_template/correspondence_template.jl
Due: test, deploy, pages

test fix
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: test

test fix
  test/unit_tests/Core/Solver/ut_Solver_control.jl
Due: test

test fix
  src/Physics/Physics_Factory.jl
  src/Physics/Thermal/Thermal_Factory.jl
Due: test, deploy, pages

fixed pipeline
  .gitlab-ci.yml
  src/IO/mesh_data.jl
Due: test, deploy, pages

added logo sim
  examples/PeriLab/PeriLab.txt
  examples/PeriLab/PeriLab.yaml
  examples/PeriLab/logo.jl
  examples/PeriLab/logo.png
  examples/PeriLab/logo.png.license
  examples/PeriLab/ns_PeriLab.txt
Due: none

fixed docs
  docs/src/lib/functions.md
  docs/src/lib/io_functions.md
  test/unit_tests/MPI_communication/ut_MPI.jl
Due: test, pages

resolve #140
  src/IO/mesh_data.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: test, deploy, pages

test fix
  test/runtests.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
Due: test

edit logo model
  examples/PeriLab/PeriLab.txt
  examples/PeriLab/PeriLab.yaml
  examples/PeriLab/logo.jl
  examples/PeriLab/logo.png
  examples/PeriLab/ns_PeriLab.txt
  examples/PeriLab/ns_PeriLab_1.txt
  examples/PeriLab/ns_PeriLab_2.txt
Due: none

test fix
  src/IO/mesh_data.jl
  test/unit_tests/IO/ut_mesh_data.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
Due: test, deploy, pages

added additive logo
  examples/PeriLab/PeriLab.txt
  examples/PeriLab/PeriLab_additive.yaml
  examples/PeriLab/logo.jl
  src/Physics/Thermal/thermal_flow.jl
Due: test, deploy, pages

fixed mpi issues
  src/IO/mesh_data.jl
  src/Support/Parameters/parameter_handling_mesh.jl
  src/Support/data_manager.jl
Due: test, deploy, pages

test coverage
  src/MPI_communication/MPI_communication.jl
  src/Physics/Material/Material_template/correspondence_template.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
  test/unit_tests/Physics/ut_templates.jl
Due: test, deploy, pages

test coverage
  src/Physics/Material/material_basis.jl
  test/unit_tests/Physics/Material/ut_material_basis.jl
Due: test, deploy, pages

fixed mpi error
  src/IO/mesh_data.jl
  src/Physics/Physics_Factory.jl
  src/Support/data_manager.jl
Due: test, deploy, pages

edit logo sims
  examples/PeriLab/PeriLab.yaml
  examples/PeriLab/PeriLab_additive.yaml
Due: none

larger FEM example
  examples/FEM_Bar/FEM_p1_2d.yaml
  examples/FEM_Bar/mesh_data.txt
  examples/FEM_Bar/topo_data.txt
Due: none

fixed missing Package
  src/Support/Parameters/parameter_handling_mesh.jl
Due: test, deploy, pages

resolve #120
  src/Physics/Material/material_basis.jl
  test/unit_tests/Physics/Material/ut_material_basis.jl
Due: test, deploy, pages

edit readme
  README.md
Due: none

added Aqua and fixed warnings
  Project.toml
  README.md
  src/Core/BC_manager.jl
  src/Physics/Damage/Critical_Stretch.jl
  src/Physics/Damage/Damage_Factory.jl
  src/Physics/Damage/Damage_template/damage_template.jl
  src/Physics/Damage/Energy_release.jl
  src/Physics/Material/Material_Models/Correspondence_Elastic.jl
  src/Physics/Material/Material_Models/Correspondence_Plastic.jl
  src/Support/data_manager.jl
  test/runtests.jl
  test/unit_tests/Physics/ut_templates.jl
Due: test, deploy, pages

plastic prototype
  src/Physics/Material/Material_Models/Correspondence_Plastic.jl
Due: test, deploy, pages

better in code text
  src/Physics/Material/material_basis.jl
Due: test, deploy, pages

in code documentation
  src/Physics/Material/material_basis.jl
Due: test, deploy, pages
