Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, deploy, pages

test:
  stage: test
  script:
  - julia --project=@. -e "import Pkg; Pkg.test(; coverage = true)"
  - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
    paths:
    - test

deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
  - docker logout
  stage: deploy
  script:
  - docker build -t perihub/perilab .
  - docker push perihub/perilab

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

consistent header
  src/FEM/FEM_Factory.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: test, deploy, pages

optimizations
  src/Physics/Material/Material_Models/Ordinary/Ordinary.jl
  src/Physics/Material/material_basis.jl
  src/Support/geometry.jl
  src/Support/helpers.jl
Due: test, deploy, pages

removed rve
  .gitignore
  examples/RVE/RVE.yaml
  examples/RVE/mesh.g
  examples/RVE/mesh.g.license
  examples/RVE/mesh.txt
Due: none

fixed tests
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/IO/ut_exodus_export.jl
  test/unit_tests/Physics/ut_Physics_Factory.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: test

fixed docs
  docs/src/lib/io_functions.md
Due: pages

fixed exodus input
  src/IO/IO.jl
  src/IO/mesh_data.jl
  src/PeriLab.jl
  src/Physics/Physics_Factory.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_computes.jl
  src/Support/Parameters/parameter_handling_mesh.jl
Due: test, deploy, pages

new mass matrix calculation
  Project.toml
  src/FEM/FEM_routines.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: test, deploy, pages

get_FEM_nodes
  src/FEM/FEM_Factory.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: test, deploy, pages

added Acknowledgments
  README.md
  assets/dfg.jpg
  assets/dfg.jpg.license
  assets/dlr.jpg
  assets/dlr.jpg.license
  assets/sachsen.jpg
  assets/sachsen.jpg.license
Due: none

update image links
  README.md
Due: none

update image link
  README.md
Due: none

fixed memory issue
  src/IO/mesh_data.jl
  src/Support/Parameters/parameter_handling_computes.jl
  src/Support/Parameters/parameter_handling_mesh.jl
Due: test, deploy, pages

set_properties to all blocks #53
  src/Support/data_manager.jl
  test/unit_tests/Support/ut_data_manager.jl
Due: test, deploy, pages

fix
  src/FEM/FEM_Factory.jl
Due: test, deploy, pages

test fix
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: test, deploy, pages

optimizations and timeit
  src/Core/Solver/Solver_control.jl
  src/IO/mesh_data.jl
  src/MPI_communication/MPI_communication.jl
  src/PeriLab.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
  src/Physics/Physics_Factory.jl
  src/Support/Parameters/parameter_handling_mesh.jl
Due: test, deploy, pages

init
  src/FEM/FEM_Factory.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: test, deploy, pages

FEM integration
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Verlet.jl
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
  src/Physics/Physics_Factory.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: test, deploy, pages

warn optimization
  src/Physics/Material/Material_Models/Correspondence.jl
Due: test, deploy, pages

set_property
  src/Support/data_manager.jl
Due: test, deploy, pages

topology = nothing fix
  src/IO/mesh_data.jl
Due: test, deploy, pages

rename heat_capacity
  docs/src/lib/io_functions.md
  docs/src/lib/physics_functions.md
  src/Physics/Additive/simple_additive.jl
  src/Physics/Physics_Factory.jl
  src/Support/Parameters/parameter_handling_blocks.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: test, deploy, pages

fixed mpi
  src/MPI_communication/MPI_communication.jl
Due: test, deploy, pages

Renamed thermal variables
  docs/src/man/input_yaml.md
  examples/Thermal_flow/thermal_flow.yaml
  src/Core/Solver/Verlet.jl
  src/Physics/Thermal/thermal_expansion.jl
  src/Physics/Thermal/thermal_flow.jl
  src/Support/Parameters/parameter_handling.jl
  test/fullscale_tests/test_heat_transfer/heat_transfer.yaml
  test/fullscale_tests/test_thermal_expansion/thermal_expansion_PD_Solid.yaml
  test/fullscale_tests/test_thermal_expansion/thermal_expansion_bond_based.yaml
  test/fullscale_tests/test_thermal_expansion/thermal_expansion_correspondence.yaml
  test/fullscale_tests/test_thermal_flow/thermal_flow.yaml
  test/fullscale_tests/test_thermal_flow/thermal_flow_correspondence.yaml
  test/fullscale_tests/test_thermal_flow_paper/thermal_flow.yaml
  test/unit_tests/Core/Solver/ut_Solver_control.jl
Due: test, deploy, pages

added additive example
  examples/Additive/Zugstab.txt
  examples/Additive/Zugstab.yaml
Due: none

added tests
  test/fullscale_tests/test_additive/Reference/additive_2d_heat.e
  test/fullscale_tests/test_additive/Reference/additive_2d_heat.e.license
  test/fullscale_tests/test_additive/additive_2d_heat.yaml
  test/fullscale_tests/test_additive/test_additive.jl
  test/runtests.jl
  test/unit_tests/Physics/Thermal/ut_Heat_transfer.jl
Due: test

fixed fixed dt
  src/Support/Parameters/parameter_handling_solver.jl
Due: test, deploy, pages

added strip to module names
  src/Physics/Material/Material_Factory.jl
  src/Physics/Thermal/Thermal_Factory.jl
Due: test, deploy, pages

added calculate_specific_volume
  src/Physics/Thermal/heat_transfer.jl
Due: test, deploy, pages

edit changelog
  CHANGELOG.md
Due: none

fix
  src/Physics/Material/Material_Models/Correspondence.jl
Due: test, deploy, pages

strings as degrees
  src/FEM/FEM_routines.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: test, deploy, pages

code cleaning
  src/Core/Solver/Verlet.jl
Due: test, deploy, pages

topo match test
  src/FEM/FEM_Factory.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: test, deploy, pages

draft test
  test/fullscale_tests/test_FEM/FEM_p1_1_2d.yaml
  test/fullscale_tests/test_FEM/FEM_p1_2d.yaml
  test/fullscale_tests/test_FEM/FEM_p1_3d.yaml
  test/fullscale_tests/test_FEM/FEM_p2_1_2d.yaml
  test/fullscale_tests/test_FEM/FEM_p2_2d.yaml
  test/fullscale_tests/test_FEM/Reference/FEM_p1_1_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p1_1_2d.e.license
  test/fullscale_tests/test_FEM/Reference/FEM_p1_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p1_2d.e.license
  test/fullscale_tests/test_FEM/test_FEM.cmd
  test/fullscale_tests/test_FEM/test_FEM.cmd.license
  test/fullscale_tests/test_FEM/test_FEM.jl
  test/fullscale_tests/test_FEM/test_mesh_p1_2d.txt
  test/fullscale_tests/test_FEM/test_mesh_p2_2d.txt
  test/fullscale_tests/test_FEM/test_topo_p1_2d.txt
  test/fullscale_tests/test_FEM/test_topo_p2_1_2d.txt
  test/fullscale_tests/test_FEM/test_topo_p2_2d.txt
Due: test

comment
  src/Physics/Material/Material_Models/Correspondence.jl
Due: test, deploy, pages

num_int
  src/FEM/FEM_routines.jl
Due: test, deploy, pages

resolve #129 & #137
  src/FEM/FEM_routines.jl
  test/fullscale_tests/test_FEM/Reference/FEM_p1_1_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p1_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_1_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_1_2d.e.license
  test/fullscale_tests/test_FEM/Reference/FEM_p2_2d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_2d.e.license
  test/fullscale_tests/test_FEM/test_FEM.jl
  test/runtests.jl
Due: test, deploy, pages

fixed dockerfile
  Dockerfile
Due: none

Path conditions:
  test: any of: src/**/*, test/**/*
  deploy: any of: src/**/*
  pages: any of: src/**/*, docs/**/*
