Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

artefact cleaning
  src/Support/Parameters/parameter_handling.jl
  test/benchmarks/strain_xx.yaml
  test/fullscale_tests/test_BCs/displacements.yaml
  test/fullscale_tests/test_PD_solid_elastic/strain_xx.yaml
  test/fullscale_tests/test_PD_solid_elastic/strain_xx_external.yaml
  test/fullscale_tests/test_PD_solid_elastic/strain_xy.yaml
  test/fullscale_tests/test_PD_solid_elastic/strain_yy.yaml
  test/fullscale_tests/test_PD_solid_elastic_3D/strain_xx.yaml
  test/fullscale_tests/test_PD_solid_elastic_3D/strain_xy.yaml
  test/fullscale_tests/test_PD_solid_elastic_3D/strain_xz.yaml
  test/fullscale_tests/test_PD_solid_elastic_3D/strain_yy.yaml
  test/fullscale_tests/test_PD_solid_elastic_3D/strain_yz.yaml
  test/fullscale_tests/test_PD_solid_elastic_3D/strain_zz.yaml
  test/fullscale_tests/test_bond_based_elastic/test_bond_based_elastic_2D.yaml
  test/fullscale_tests/test_bond_based_elastic/test_bond_based_elastic_3D.yaml
  test/fullscale_tests/test_correspondence_elastic/correspondence_strain_pstrain_xx.yaml
  test/fullscale_tests/test_correspondence_elastic/correspondence_strain_pstrain_xy.yaml
  test/fullscale_tests/test_correspondence_elastic/correspondence_strain_pstrain_yy.yaml
  test/fullscale_tests/test_correspondence_elastic/correspondence_strain_pstress_xx.yaml
  test/fullscale_tests/test_correspondence_elastic/correspondence_strain_pstress_xy.yaml
  test/fullscale_tests/test_correspondence_elastic/correspondence_strain_pstress_yy.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_xx.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_xy.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_xz.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_yy.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_yz.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_zz.yaml
  test/fullscale_tests/test_correspondence_elastic_plastic/correspondence_elastic_plastic.yaml
  test/fullscale_tests/test_correspondence_elastic_with_zero_E_control/correspondence_strain_pstrain_zc_xx.yaml
  test/fullscale_tests/test_correspondence_elastic_with_zero_E_control/correspondence_strain_pstrain_zc_xy.yaml
  test/fullscale_tests/test_correspondence_elastic_with_zero_E_control/correspondence_strain_pstrain_zc_yy.yaml
  test/fullscale_tests/test_correspondence_elastic_with_zero_E_control/correspondence_strain_pstress_zc_xx.yaml
  test/fullscale_tests/test_correspondence_elastic_with_zero_E_control/correspondence_strain_pstress_zc_xy.yaml
  test/fullscale_tests/test_dry_run/dry_run.yaml
  test/fullscale_tests/test_reload/reload1.yaml
  test/fullscale_tests/test_reload/reload2.yaml
Due: main_test, test, pages

solver documentation
  docs/make.jl
  docs/src/man/solver/solver.md
  docs/src/man/solver/solver.md.license
Due: pages

warning
  docs/src/man/solver/solver.md
Due: pages

adding glossar
  docs/src/lib/glossar.md
  docs/src/lib/glossar.md.license
  docs/src/man/solver/solver.md
Due: pages

artefact cleaning
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

build based on c6078cc
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver.md.license
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

docu
  docs/make.jl
  docs/src/lib/glossar.md
  docs/src/man/dev/developement_guide.md
  docs/src/man/dev/developement_guide.md.license
  docs/src/man/dev/module_integration.md
  docs/src/man/dev/module_integration.md.license
Due: pages

function fix
  docs/src/man/solver/solver.md
Due: pages

build based on 10fa818
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

build based on a7a5695
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar.md.license
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

datamanager docu
  docs/make.jl
  docs/src/man/dev/datamanager.md
  docs/src/man/dev/datamanager.md.license
Due: pages

build based on a318555
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

minor changees
  docs/src/man/dev/datamanager.md
Due: pages

minor changes
  docs/src/man/input_yaml.md
Due: pages

added issue templates
  .github/ISSUE_TEMPLATE/01_bug_report.md
  .github/ISSUE_TEMPLATE/02_feature_request.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fixed reuse
  .github/ISSUE_TEMPLATE/01_bug_report.md
  .github/ISSUE_TEMPLATE/01_bug_report.md.license
  .github/ISSUE_TEMPLATE/02_feature_request.md
  .github/ISSUE_TEMPLATE/02_feature_request.md.license
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md.license
Due: none

Changed bug_report
  .github/ISSUE_TEMPLATE/01_bug_report.md
  .github/ISSUE_TEMPLATE/01_bug_report.md.license
  .github/ISSUE_TEMPLATE/01_bug_report.yaml
Due: none

edit bug_report
  .github/ISSUE_TEMPLATE/01_bug_report.yml
Due: none

edit bug_report
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/01_bug_report.yml.license
Due: none

edit feature template
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/01_bug_report.yml.license
  .github/ISSUE_TEMPLATE/02_feature_request.md
  .github/ISSUE_TEMPLATE/02_feature_request.md.license
  .github/ISSUE_TEMPLATE/02_feature_request.yml
Due: none

edit template
  .github/ISSUE_TEMPLATE/02_feature_request.yml
Due: none

Fixed docs
  docs/make.jl
Due: pages

build based on c5c1aab
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/developement_guide.md.license
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration.md.license
  dev/man/dev/module_integration/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Edit docs
  docs/src/man/basics.md
  docs/src/man/dev/developement_guide.md
  docs/src/man/dev/module_integration.md
  docs/src/theory/theory_bondbased.md
  docs/src/theory/theory_correspondence.md
  docs/src/theory/theory_ordinary.md
Due: pages

build based on 17a79f2
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Edit docs
  docs/src/theory/theory_correspondence.md
Due: pages

Added try catch #144
  src/PeriLab.jl
Due: main_test, test, pages

build based on 66de3a6
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

edit docs
  docs/src/theory/theory_bondbased.md
Due: pages

build based on 9468990
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none
