Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

Coding style
  src/Models/Material/Material_Basis.jl
Due: main_test, test, pages

build based on 4a9140f
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

logging optimization
  src/Models/Model_Factory.jl
Due: main_test, test, pages

Test fixes
  src/IO/IO.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_blocks.jl
  test/unit_tests/Core/Solver/ut_Verlet.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/IO/ut_exodus_export.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
  test/unit_tests/Models/Damage/ut_Damage_Factory.jl
  test/unit_tests/Models/Material/ut_Material_Factory.jl
  test/unit_tests/Models/Thermal/ut_Thermal_Factory.jl
  test/unit_tests/Models/ut_Model_Factory.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

parameter renaming
  src/Compute/compute_field_values.jl
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

Optimized UMAT Interface
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
Due: main_test, test, pages

solve #223
  examples/Dogbone/Dogbone.yaml
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Model_Factory.jl
  src/Support/Parameters/parameter_handling_solver.jl
  test/fullscale_tests/test_calculation/calculation.yaml
  test/fullscale_tests/test_correspondence_elastic_plastic/Reference/correspondence_elastic_plastic.e
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test, pages

build based on e95c8e2
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

refac
  src/IO/IO.jl
  src/IO/exodus_export.jl
  src/MPI_communication/MPI_communication.jl
  test/fullscale_tests/test_Abaqus/Reference/Abaqus.e
  test/fullscale_tests/test_heat_transfer/heat_transfer.yaml
  test/unit_tests/IO/ut_exodus_export.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
  test/unit_tests/Models/ut_Model_Factory.jl
Due: main_test, test, pages

refac
  src/Core/Solver/Solver_control.jl
  src/IO/IO.jl
  src/IO/exodus_export.jl
  src/Support/Parameters/parameter_handling_blocks.jl
  test/fullscale_tests/test_PD_solid_elastic_3D/strain_xx.yaml
  test/fullscale_tests/test_PD_solid_elastic_3D/strain_xy.yaml
  test/fullscale_tests/test_PD_solid_elastic_3D/strain_xz.yaml
  test/fullscale_tests/test_PD_solid_elastic_3D/strain_yy.yaml
  test/fullscale_tests/test_PD_solid_elastic_3D/strain_yz.yaml
  test/fullscale_tests/test_PD_solid_elastic_3D/strain_zz.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_xx.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_xy.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_xy_angles.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_xz.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_yy.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_yz.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/strain_zz.yaml
  test/unit_tests/MPI_communication/ut_MPI.jl
Due: main_test, test, pages

build based on 101dc78
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

edit changelog
  CHANGELOG.md
Due: none

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

build based on 1fd2d16
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

Added von Mises to Correspondence
  src/Compute/compute_field_values.jl
Due: main_test, test, pages

build based on 204a37f
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

build based on 0ca582b
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

solve #226
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

build based on 730f930
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

optimized HETVAL
  src/Models/Thermal/hetval.jl
  test/unit_tests/Models/Thermal/ut_HETVAL.jl
Due: main_test, test, pages

Fixed Abaqus input with rotations
  src/Core/Solver/Solver_control.jl
  src/IO/mesh_data.jl
  src/Support/Parameters/parameter_handling_blocks.jl
  test/fullscale_tests/test_Abaqus/Reference/Abaqus.e
Due: main_test, test, pages

fixed UMAT test
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_UMAT.jl
Due: main_test, test

fixed hooke matrix calc
  src/Models/Material/Material_Basis.jl
  test/fullscale_tests/test_symmetry/Reference/symmetry_eng.e
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test, pages

build based on 160fa94
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

test fix
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_UMAT.jl
Due: main_test, test

fix test
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_UMAT.jl
Due: main_test, test

fixed hooke matrix calculation
  src/Core/Solver/Verlet.jl
  src/Models/Material/Material_Basis.jl
  src/Support/Parameters/parameter_handling.jl
  test/fullscale_tests/test_FEM/Reference/FEM_p1_3d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_1_1_3d.e
  test/fullscale_tests/test_FEM/Reference/FEM_p2_3d.e
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_xy.e
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_xy_angles.e
  test/fullscale_tests/test_symmetry/Reference/symmetry_eng.e
  test/fullscale_tests/test_symmetry/symmetry_eng.yaml
  test/fullscale_tests/test_symmetry/symmetry_eng_dep.yaml
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test, pages

edit Changelog
  CHANGELOG.md
Due: none

build based on fb27f1c
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

Removed bond length calc
  src/Models/Model_Factory.jl
  test/fullscale_tests/test_hetval/hetval.yaml
Due: main_test, test, pages

build based on 5c67757
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

fix test
  test/unit_tests/Models/ut_Model_Factory.jl
Due: main_test, test

Edit Banner
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

build based on 42a2240
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/geometry_functions/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

Removed packages
  Project.toml
Due: none

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
