Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

fix test
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test

fixed docstrings
  src/Core/Data_manager.jl
  src/Core/Module_inclusion/set_Modules.jl
  src/FEM/Element_formulation/Lagrange_element.jl
  src/FEM/FEM_basis.jl
  src/Models/Additive/Additive_Factory.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Degradation/Degradation_Factory.jl
  src/Models/Material/Material_Basis.jl
  src/PeriLab.jl
  src/Support/Geometry.jl
  src/Support/Helpers.jl
  src/Support/Parameters/parameter_handling_models.jl
Due: main_test, test, pages

added exodus SPHERE element input type
  src/IO/mesh_data.jl
Due: main_test, test, pages

Edit changelog
  CHANGELOG.md
Due: none

path change
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_full_matrix.e
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_full_matrix.e.license
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_reduced.e
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_reduced.e.license
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_reduced_3D.e
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_reduced_3D.e.license
Due: main_test, test

test fixes
  test/fullscale_tests/test_linear_static_matrix_based_solver/linear_static_matrix_based_solver_DCBmodel.yaml
  test/fullscale_tests/test_linear_static_matrix_based_solver/linear_verlet_matrix_based_solver_2D.yaml
  test/runtests.jl
Due: main_test, test

update
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_full_matrix.e
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_reduced.e
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_reduced_3D.e
  test/fullscale_tests/test_model_reduction_Verlet_matrix/test_model_reduction_Verlet_matrix.cmd
Due: main_test, test

minor fix
  src/Core/Solver/Matrix_Verlet.jl
  test/fullscale_tests/test_model_reduction_Verlet_matrix/Reference/verlet_full_matrix.e
Due: main_test, test, pages

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

solves #319
  docs/src/refs.bib
  docs/src/theory/theory_plastic.md
Due: pages

adding to make #319
  docs/make.jl
  docs/src/theory/theory_plastic.md
Due: pages

Add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

update devlog
  docs/src/devLog.md
Due: pages

adding llicense information
  CODE_OF_CONDUCT.md
Due: none

code cleaning
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

code cleaning
  src/Core/Solver/Matrix_linear_static.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

added error handling for zero bond length
  src/Support/Geometry.jl
Due: main_test, test, pages

added warning for high fixed_dt
  src/Core/Solver/Verlet_solver.jl
Due: main_test, test, pages

Fixed time step warning
  src/Core/Solver/Verlet_solver.jl
Due: main_test, test, pages

refac
  src/Core/Solver/Verlet_solver.jl
Due: main_test, test, pages

added get_version
  Dockerfile
  src/PeriLab.jl
Due: main_test, test, pages

removed get_version and copy Project.toml
  Dockerfile
  src/PeriLab.jl
Due: main_test, test, pages

edit changelog
  CHANGELOG.md
Due: none
