Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

update
  docs/src/assets/theory_comp.png
  docs/src/assets/theory_comp.png.license
  docs/src/lecture/lecture.md
  docs/src/lecture/seminar_1.md
Due: pages

Optimized nlist loops
  src/Models/Damage/Critical_Stretch.jl
  src/Models/Damage/Energy_release.jl
  src/Models/Material/Material_Models/BondBased/Unified_Bondbased_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/Material_Models/Ordinary/Ordinary.jl
  src/Models/Pre_calculation/pre_bond_associated_correspondence.jl
  src/Models/Surface_correction/Surface_correction.jl
Due: main_test, test, pages

consistency
  src/Models/Additive/Additive_Factory.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Degradation/Degradation_Factory.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: main_test, test, pages

fixes
  docs/src/refs.bib
Due: pages

fix
  docs/src/refs.bib
Due: pages

CompatHelper: bump compat for PointNeighbors to 0.6, (keep existing compat)
  Project.toml
Due: none

Fixed logging path
  src/IO/logging.jl
Due: main_test, test, pages

update
  docs/src/assets/increasing_stiff.png
  docs/src/assets/increasing_stiff.png.license
  docs/src/assets/newton_raphson.png
  docs/src/assets/newton_raphson.png.license
  docs/src/index.md
  docs/src/lecture/lecture.md
  docs/src/lecture/seminar_1.md
  docs/src/lecture/seminar_2.md
  docs/src/man/solver/solver.md
  docs/src/refs.bib
Due: pages

fix
  docs/src/lecture/lecture.md
  docs/src/man/models/overview.md
Due: pages

update
  docs/src/assets/surface_correction.png
  docs/src/assets/surface_correction.png.license
  docs/src/assets/volume_correction.png
  docs/src/assets/volume_correction.png.license
  docs/src/lecture/seminar_2.md
  docs/src/theory/theory_surface_correction.md
Due: pages

corrections
  docs/src/assets/surface_correction.png
  docs/src/assets/volume_correction.png
  docs/src/lecture/seminar_2.md
Due: pages

fix
  docs/src/man/models/contact.md
Due: pages

adding license
  docs/src/assets/surface_correction.png copy.license
Due: pages

contact fix
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

Allow int64
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

Optimized gcode reader
  scripts/gcode_reader.jl
  src/IO/gcode.jl
Due: main_test, test, pages

edit changelog
  CHANGELOG.md
Due: none

edit version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

fixed additive test
  scripts/gcode_reader.jl
  src/IO/gcode.jl
Due: main_test, test, pages

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

solve #268
  src/Core/Data_manager/data_manager_contact.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
  src/Support/Helpers.jl
Due: main_test, test, pages
