Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

code cleaning
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

added damage theory docs resolving #234
  docs/src/refs.bib
  docs/src/theory/theory_damage.md
Due: pages

remove deprecated functions
  src/Core/Data_manager.jl
Due: main_test, test, pages

improved tests
  src/Core/Solver/Static_solver.jl
  src/Models/Material/Material_Factory.jl
  test/fullscale_tests/test_bond_based_elastic/test_static_bond_based_elastic_2D.yaml
  test/unit_tests/Core/ut_data_manager.jl
Due: main_test, test, pages

fixed tests
  src/Models/Damage/Damage_Factory.jl
Due: main_test, test, pages

improved tests
  src/Core/Data_manager.jl
  src/IO/exodus_export.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_VUMAT.jl
  test/fullscale_tests/test_bond_based_elastic/Reference/test_static_bond_based_elastic_2D.e
  test/fullscale_tests/test_bond_based_elastic/test_bond_based_elastic.jl
  test/fullscale_tests/test_bond_based_elastic/test_static_bond_based_elastic_2D.yaml
  test/fullscale_tests/test_critical_energy/Reference/critical_energy_interface.e
  test/fullscale_tests/test_critical_energy/Reference/critical_energy_interface.e.license
  test/fullscale_tests/test_critical_energy/critical_energy_interface.yaml
  test/fullscale_tests/test_critical_energy/test_critical_energy.jl
  test/helper.jl
  test/runtests.jl
  test/unit_tests/IO/ut_mesh_data.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_Plastic.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_VUMAT.jl
  test/unit_tests/ut_perilab.jl
Due: main_test, test, pages

readded arlequin test
  test/runtests.jl
Due: main_test, test

normalized vectors
  src/Support/Helpers.jl
Due: main_test, test, pages

adding transformation ids
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_contact.jl
Due: main_test, test, pages

improving code
  src/Models/Contact/Contact_Factory.jl
Due: main_test, test, pages

code improvement
  src/Models/Contact/Contact_search.jl
Due: main_test, test, pages

id fix
  src/Models/Contact/Penalty_model.jl
Due: main_test, test, pages

upload test results
  .github/workflows/CI.yml
Due: none

edit CI
  .github/workflows/CI.yml
Due: none

fix test
  test/fullscale_tests/test_FEM_coupling/test_FEM_coupling.cmd
Due: main_test, test

improved template tests
  src/FEM/FEM_template/FEM_template.jl
  test/unit_tests/Models/ut_templates.jl
Due: main_test, test, pages

bug fix
  src/Support/Helpers.jl
Due: main_test, test, pages

id fix and optimization
  src/Support/Helpers.jl
Due: main_test, test, pages

adding revise
  src/main.jl
Due: main_test, test, pages

prototype
  docs/src/man/models/contact.md
  examples/contact/contact.yaml
  src/Core/Data_manager/data_manager_contact.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
  src/Models/Contact/Penalty_model.jl
  src/Support/Helpers.jl
  test/fullscale_tests/test_contact_search/contact_search.yaml
  test/unit_tests/Contact/ut_Contact_Factory.jl
  test/unit_tests/Contact/ut_Contact_search.jl
Due: main_test, test, pages

CompatHelper: bump compat for Meshes to 0.53, (keep existing compat)
  Project.toml
Due: none

CompatHelper: bump compat for PointNeighbors to 0.5, (keep existing compat)
  Project.toml
Due: none

test fix
  src/MPI_communication/MPI_communication.jl
Due: main_test, test, pages

code cleaning
  src/Models/Contact/Contact_Factory.jl
Due: main_test, test, pages

Edit docs
  docs/src/lecture/seminar_1.md
  docs/src/lecture/seminar_2.md
  docs/src/theory/theory_thermal.md
Due: pages

update
  examples/contact/contact.yaml
  src/IO/IO.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Contact_search.jl
  src/Models/Contact/Penalty_model.jl
  test/runtests.jl
  test/unit_tests/Contact/ut_Contact_search.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
Due: main_test, test, pages

single core contact
  examples/contact/contact.yaml
  src/Models/Contact/Contact_search.jl
  test/fullscale_tests/test_contact_search/test_mesh.txt
  test/fullscale_tests/test_penalty_contact/Reference/penalty_contact.e
  test/fullscale_tests/test_penalty_contact/Reference/penalty_contact.e.license
  test/fullscale_tests/test_penalty_contact/mesh.txt
  test/fullscale_tests/test_penalty_contact/ns_1.txt
  test/fullscale_tests/test_penalty_contact/ns_2.txt
  test/fullscale_tests/test_penalty_contact/penalty_contact.yaml
  test/fullscale_tests/test_penalty_contact/test_contact.jl
  test/fullscale_tests/test_penalty_contact/test_mesh.txt
  test/fullscale_tests/test_penalty_contact/test_penalty_contact.cmd
  test/fullscale_tests/test_penalty_contact/test_penalty_contact.cmd.license
  test/runtests.jl
  test/unit_tests/Contact/ut_Contact_Factory.jl
Due: main_test, test, pages

fixed MPI missing key
  src/Core/Data_manager.jl
  src/Models/Surface_correction/Surface_correction.jl
Due: main_test, test, pages

solve #264
  src/IO/mesh_data.jl
  src/Models/Contact/Contact_Factory.jl
  src/Models/Contact/Penalty_model.jl
  test/fullscale_tests/test_penalty_contact/contact.yaml
Due: main_test, test, pages

Fixed rotation tensor switch
  src/IO/IO.jl
  src/Models/Damage/Energy_release.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Thermal/thermal_flow.jl
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_xy_angles.e
Due: main_test, test, pages

refac
  src/Models/Contact/Contact_search.jl
  test/unit_tests/Contact/ut_Contact_search.jl
Due: main_test, test, pages

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
