Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

code optimization
  src/Compute/compute_field_values.jl
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Elastic.jl
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Plastic.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Models/Material/material_basis.jl
  src/Models/Model_Factory.jl
  src/Support/helpers.jl
  test/runtests.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test, pages

remove depreacted function
  docs/src/lib/io_functions.md
  src/Models/Model_Factory.jl
  src/Support/Parameters/parameter_handling_models.jl
Due: main_test, test, pages

refac
  src/Models/Thermal/heat_transfer.jl
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

build based on ca92ba4
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

memory savings
  src/Compute/compute_field_values.jl
  src/Models/Material/material_basis.jl
  src/Support/helpers.jl
Due: main_test, test, pages

run time and code optimization
  src/Models/Material/Material_Models/Ordinary/PD_Solid_Elastic.jl
  src/Models/Model_Factory.jl
  src/Models/Pre_calculation/shape_tensor.jl
  src/Support/geometry.jl
Due: main_test, test, pages

code quality
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

speed
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

reduce allocations
  src/Core/BC_manager.jl
Due: main_test, test, pages

update files for 3D paper
  examples/3d_printing_paper/Cooling/BCall.txt
  examples/3d_printing_paper/Cooling/cooling_finer.yaml
  examples/3d_printing_paper/Cooling/mesh.jl
  examples/3d_printing_paper/Cooling/mesh_finer.txt
  examples/3d_printing_paper/Cooling/state.pvsm
Due: none

optim
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Support/helpers.jl
Due: main_test, test, pages

fix eval!
  docs/src/lib/functions.md
  src/Core/BC_manager.jl
  test/unit_tests/Core/ut_BC_manager.jl
Due: main_test, test, pages

fix HETVAL
  src/Models/Thermal/hetval.jl
Due: main_test, test, pages

improve bond associated
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_template/correspondence_template.jl
Due: main_test, test, pages

fix docs
  docs/src/lib/io_functions.md
  docs/src/lib/models_functions.md
Due: pages

build based on 0a7ce28
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

build based on 44eb9fe
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/models_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

memory optimization
  src/Core/data_manager.jl
  src/Models/Model_Factory.jl
Due: main_test, test, pages

memory optimization
  src/Models/Material/Material_Factory.jl
  src/Models/Material/material_basis.jl
Due: main_test, test, pages

code cleaning
  src/Models/Damage/Damage_Factory.jl
  test/unit_tests/Models/Damage/ut_Damage_Factory.jl
Due: main_test, test, pages

speed up and memory reduction
  src/Models/Damage/Damage_Factory.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Model_Factory.jl
  src/Support/helpers.jl
Due: main_test, test, pages

update
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

fix
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
Due: main_test, test, pages

minor fix
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
Due: main_test, test, pages

minor fixes
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
Due: main_test, test, pages

more test active
  test/fullscale_tests/test_correspondence_elastic_3D/test_correspondence_elastic_3D.jl
Due: main_test, test

index shift
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
Due: main_test, test, pages

fix zero energy control
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

CompatHelper: bump compat for Tensorial to 0.17, (keep existing compat)
  Project.toml
Due: none

optimizaiton
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Bond_Associated_Correspondence.jl
Due: main_test, test, pages

optimization
  src/Compute/compute_field_values.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/material_basis.jl
  src/Support/geometry.jl
Due: main_test, test, pages

refine docs
  docs/make.jl
  docs/src/lib/data_manager_functions.md
  docs/src/lib/data_manager_functions.md.license
  docs/src/lib/functions.md
  docs/src/lib/helper_functions.md
  docs/src/lib/helper_functions.md.license
  docs/src/lib/io_functions.md
  docs/src/lib/logging_functions.md
  docs/src/lib/logging_functions.md.license
  docs/src/lib/model_factory_functions.md
  docs/src/lib/model_factory_functions.md.license
  docs/src/lib/models_functions.md
  docs/src/lib/solver_functions.md
  docs/src/lib/solver_functions.md.license
  docs/src/man/models/materials.md
Due: pages

optimization
  src/Compute/compute_field_values.jl
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/material_basis.jl
  test/unit_tests/Models/Material/Material_Models/BondBased/ut_Bondbased_Elastic.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test, pages

plastic ba #207
  src/Compute/compute_field_values.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  src/Models/Material/material_basis.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
Due: main_test, test, pages

solve #208
  src/Compute/compute_field_values.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
  test/fullscale_tests/test_calculation/Reference/calculation.e
Due: main_test, test, pages

efficiency
  src/Models/Pre_calculation/pre_bond_associated_correspondence.jl
Due: main_test, test, pages

added Coupling test
  src/Core/data_manager.jl
  src/FEM/Coupling/Arlequin.jl
  src/FEM/Coupling/Coupling_Factory.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Model_Factory.jl
  src/Support/Parameters/parameter_handling.jl
  test/fullscale_tests/test_FEM_coupling/FEM_2d_coupled.yaml
Due: main_test, test, pages

added julia 1.11 pipeline
  .github/workflows/CI.yml
Due: none
