Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, deploy, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

stages:
  - test
  - benchmark
  - deploy

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

test:
  stage: test
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e "import Pkg; Pkg.test(; coverage = true)"
    # - julia --project=test/coverage -e 'import Pkg; Pkg.instantiate()'
    # - julia --project=test/coverage test/coverage/coverage-summary.jl

    - julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    refs:
      - main
    changes:
      - src/**/*
  script:
    - docker build -t perihub/perilab .
    - docker push perihub/perilab

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

removed Aqua
  test/runtests.jl
Due: test

add get_examples
  README.md
  src/PeriLab.jl
Due: test, deploy, pages

added get_examples
  README.md
  src/Support/Parameters/parameter_handling.jl
  test/runtests.jl
Due: test, deploy, pages

Removed a few tests
  test/fullscale_tests/test_PD_solid_elastic/test_PD_solid_elastic.jl
  test/fullscale_tests/test_PD_solid_elastic_3D/test_PD_solid_elastic_3D.jl
  test/fullscale_tests/test_correspondence_elastic/test_correspondence_elastic.jl
  test/fullscale_tests/test_correspondence_elastic_with_zero_E_control/test_correspondence_elastic_with_zero_E_control.jl
Due: test

added docs
  docs/make.jl
  docs/src/man/basics.md
  docs/src/man/getting_started.md
  docs/src/man/input_yaml.md
  docs/src/man/input_yaml.md.license
  docs/src/man/mesh_input.md
  docs/src/man/mesh_input.md.license
Due: pages

edit Readme
  README.md
Due: none

change version
  Project.toml
Due: none

added codecov support close #37
  .gitlab-ci.yml
  README.md
Due: none

test codecov
  test/runtests.jl
Due: test

prototype distribution
  src/FEM/Element_formulation/lagrange_element.jl
Due: test, deploy, pages

added PackageCompiler
  .gitlab-ci.yml
  src/PeriLab.jl
  test/helper.jl
Due: test, deploy, pages

fixed pipeline
  .gitlab-ci.yml
  test/runtests.jl
Due: test

basic matrices prototype untested for each integration point
  src/FEM/Element_formulation/lagrange_element.jl
Due: test, deploy, pages

create element matrices tested
  src/FEM/Element_formulation/lagrange_element.jl
  src/FEM/FEM_routines.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: test, deploy, pages

solved #127 and #128
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: test

Update Project.toml
  Project.toml
Due: none

Update LICENSE.md
  LICENSE.md
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update helper.jl
  test/helper.jl
Due: test

Fix pipeline and optimizations
  .gitlab-ci.yml
  examples/Small/Input.yaml
  src/Physics/Damage/Energy_release.jl
  src/Physics/Material/Material_Models/Ordinary/Ordinary.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
  src/Physics/Physics_Factory.jl
  src/Physics/Pre_calculation/Pre_Calculation_Factory.jl
  src/Support/geometry.jl
  src/Support/helpers.jl
  test/helper.jl
Due: test, deploy, pages

removed DCB test
  src/Physics/Damage/Energy_release.jl
  test/runtests.jl
Due: test, deploy, pages

resolve #131
  src/FEM/FEM_factory.jl
  test/runtests.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: test, deploy, pages

create_constant_field of abritrary size
  src/Support/data_manager.jl
  test/unit_tests/Support/ut_data_manager.jl
Due: test, deploy, pages

naming convention
  src/FEM/FEM_Factory.jl
Due: test, deploy, pages

Fixed pipeline and energy_release
  .gitlab-ci.yml
  src/Physics/Damage/Energy_release.jl
  test/helper.jl
  test/runtests.jl
Due: test, deploy, pages

get_field for free defined fields
  src/Support/data_manager.jl
  test/unit_tests/Support/ut_data_manager.jl
Due: test, deploy, pages

adding error
  src/Core/Module_inclusion/set_Modules.jl
Due: test, deploy, pages

optimized pd_solid
  docs/src/lib/physics_functions.md
  src/Physics/Damage/Critical_Stretch.jl
  src/Physics/Damage/Damage_Factory.jl
  src/Physics/Damage/Damage_template/damage_template.jl
  src/Physics/Damage/Energy_release.jl
  src/Physics/Material/BondBased/Bondbased_Elastic.jl
  src/Physics/Material/Material_Factory.jl
  src/Physics/Material/Material_Models/Correspondence.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
  src/Physics/Material/Material_template/material_template.jl
  src/Physics/Physics_Factory.jl
  src/Support/geometry.jl
Due: test, deploy, pages

fixed tests
  test/unit_tests/MPI_communication/ut_MPI.jl
  test/unit_tests/Physics/Material/Material_Models/BondBased/ut_Bondbased_Elastic.jl
  test/unit_tests/Physics/ut_templates.jl
Due: test

changed haskey with get()
  src/Physics/Damage/Critical_Stretch.jl
  src/Support/Parameters/parameter_handling_output.jl
  src/Support/Parameters/parameter_handling_solver.jl
Due: test, deploy, pages

number of elements
  src/Support/data_manager.jl
  test/unit_tests/Support/ut_data_manager.jl
Due: test, deploy, pages

pure function provision
  src/Core/Module_inclusion/set_Modules.jl
Due: test, deploy, pages

resolve #132
  src/FEM/Element_formulation/lagrange_element.jl
  src/FEM/FEM_Factory.jl
  src/FEM/FEM_routines.jl
  src/FEM/FEM_template/FEM_template.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: test, deploy, pages

added max_damage and cancel
  docs/src/lib/io_functions.md
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Verlet.jl
  src/IO/IO.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_solver.jl
  src/Support/data_manager.jl
Due: test, deploy, pages

added CompactTension
  examples/Compact_Tension/CompactTension.txt
  examples/Compact_Tension/CompactTension.yaml
  examples/Compact_Tension/ns_CompactTension_1.txt
  examples/Compact_Tension/ns_CompactTension_2.txt
  examples/Compact_Tension/ns_CompactTension_3.txt
Due: none

fixed tests
  src/Support/Parameters/parameter_handling_solver.jl
  test/unit_tests/IO/ut_IO.jl
Due: test, deploy, pages

fix
  src/Support/data_manager.jl
  test/unit_tests/Support/ut_data_manager.jl
Due: test, deploy, pages
