Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

build based on 3a5b7c8
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

robustness
  src/Support/Parameters/parameter_handling_physics.jl
Due: main_test, test, pages

code cleaning
  src/Physics/Damage/Damage_Factory.jl
  src/Physics/Material/Material_Models/Correspondence.jl
Due: main_test, test, pages

build based on 39d40fe
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

coding style
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages

adapt message
  src/Support/helpers.jl
Due: main_test, test, pages

solve #175 and #143
  src/Physics/Material/Material_Models/BondBased/Bondbased_Elastic.jl
  src/Physics/Material/Material_Models/Correspondence_Elastic.jl
  src/Physics/Material/Material_Models/Ordinary/Ordinary.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
  src/Physics/Material/material_basis.jl
  src/Physics/Pre_calculation/bond_deformation_gradient.jl
  test/runtests.jl
  test/unit_tests/Core/ut_BC_manager.jl
  test/unit_tests/Physics/Material/Material_Models/BondBased/ut_Bondbased_Elastic.jl
  test/unit_tests/Physics/Material/ut_material_basis.jl
Due: main_test, test, pages

test update after 3D fix in get_hook_matrix
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_xx.e
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_xy.e
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_xz.e
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_yy.e
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_yz.e
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_zz.e
Due: main_test, test

build based on b14ab6a
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

apply new test
  test/fullscale_tests/test_material_field/Reference/material_field.e
  test/fullscale_tests/test_material_field/test_material_field.cmd
  test/fullscale_tests/test_point_wise_material/Reference/test_point_wise_material_PD_solid.e
  test/fullscale_tests/test_point_wise_material/Reference/test_point_wise_material_PD_solid.e.license
  test/fullscale_tests/test_point_wise_material/Reference/test_point_wise_material_correspondence.e
  test/fullscale_tests/test_point_wise_material/Reference/test_point_wise_material_correspondence.e.license
  test/fullscale_tests/test_point_wise_material/Reference/test_point_wise_materialbond_based.e
  test/fullscale_tests/test_point_wise_material/Reference/test_point_wise_materialbond_based.e.license
  test/fullscale_tests/test_point_wise_material/test_mesh.txt
  test/fullscale_tests/test_point_wise_material/test_point_wise_material.cmd
  test/fullscale_tests/test_point_wise_material/test_point_wise_material.cmd.license
  test/fullscale_tests/test_point_wise_material/test_point_wise_material.jl
  test/fullscale_tests/test_point_wise_material/test_point_wise_material_PD_solid.yaml
  test/fullscale_tests/test_point_wise_material/test_point_wise_material_bond_based.yaml
  test/fullscale_tests/test_point_wise_material/test_point_wise_material_correspondence.yaml
  test/runtests.jl
Due: main_test, test

coding style
  src/Compute/compute_global_values.jl
  test/fullscale_tests/test_point_wise_material/Reference/test_point_wise_material_bond_based.e
  test/fullscale_tests/test_point_wise_material/test_point_wise_material_bond_based.yaml
  test/unit_tests/Physics/Additive/ut_Additive_Factory.jl
  test/unit_tests/Physics/Damage/ut_Damage_Factory.jl
  test/unit_tests/Physics/Material/ut_Material_Factory.jl
  test/unit_tests/Physics/Thermal/ut_Thermal_Factory.jl
Due: main_test, test, pages

code quality and test coverage
  src/Compute/compute_global_values.jl
  test/unit_tests/Compute/ut_compute_global_values.jl
Due: main_test, test, pages

build based on df50709
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

edit hooks
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pre_commit_hooks/format.jl
  pre_commit_hooks/format.sh
  pre_commit_hooks/runtests.sh
  src/PeriLab.jl
Due: main_test, test, pages

format hook
  .pre-commit-hooks.yaml
Due: none

fomat hook
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: none

test coverage
  src/Compute/compute_global_values.jl
  test/unit_tests/Compute/ut_compute_global_values.jl
Due: main_test, test, pages

build based on 02b32af
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

build based on ebe036c
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

added dependabot
  .github/dependabot.yml
Due: none

fix
  src/Compute/compute_global_values.jl
Due: main_test, test, pages

build based on a548411
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Edit workflows
  .github/workflows/CI.yml
  .github/workflows/Documentation.yml
Due: none

edit changelog
  CHANGELOG.md
Due: none

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

build based on a0636e9
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

template
  src/Physics/Pre_calculation/Pre_calculation_template/pre_calculation_template.jl
Due: main_test, test, pages

build based on 72b824c
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

code cleaning
  src/Compute/compute_global_values.jl
Due: main_test, test, pages

performance
  src/Core/Solver/Verlet.jl
  src/MPI_communication/MPI_communication.jl
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence_Elastic.jl
  src/Physics/Material/material_basis.jl
  src/Support/geometry.jl
Due: main_test, test, pages

build based on b1c50cc
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

restructuring of docu
  docs/src/man/models/additive.md
  docs/src/man/models/additive.md.license
  docs/src/man/models/damage.md
  docs/src/man/models/damage.md.license
  docs/src/man/models/materials.md
  docs/src/man/models/materials.md.license
  docs/src/man/models/overview.md
  docs/src/man/models/overview.md.license
  docs/src/man/models/thermal.md
  docs/src/man/models/thermal.md.license
Due: pages

renaming
  docs/src/lib/models_functions.md
  docs/src/lib/models_functions.md.license
Due: pages

fix
  docs/src/lib/models_functions.md
  docs/src/man/models/materials.md
Due: pages

fix
  docs/src/lib/io_functions.md
  test/unit_tests/Models/ut_Model_Factory.jl
Due: main_test, test, pages

fix
  docs/src/lib/models_functions.md
Due: pages

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
