Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

Edit cuarray
  src/Core/Solver/Solver_control.jl
  src/Core/data_manager.jl
  src/MPI_communication/MPI_communication.jl
Due: main_test, test, pages

new functions and tests
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test, pages

new output
  test/fullscale_tests/test_DCB/DCBmodel_correspondence_bond_associated.yaml
Due: main_test, test

cleanup and new defined function
  .gitignore
  src/Support/geometry.jl
  test/fullscale_tests/test_DCB/thermal_test.yaml
Due: main_test, test, pages

correct tensor root
  src/Support/geometry.jl
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test, pages

interface adaption
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence_Elastic.jl
  src/Physics/Material/Material_Models/Correspondence_Plastic.jl
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
  src/Physics/Material/Material_template/correspondence_template.jl
Due: main_test, test, pages

minor fix
  test/unit_tests/Physics/Material/Material_Models/ut_Bond_Associated_Correspondence.jl
Due: main_test, test

Fixed tests
  src/Core/data_manager.jl
  src/IO/IO.jl
Due: main_test, test, pages

build based on 021681f
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

spelling misstake
  src/FEM/Element_formulation/lagrange_element.jl
  src/Physics/Pre_calculation/Pre_Calculation_Factory.jl
Due: main_test, test, pages

spelling misstake
  src/Physics/Physics_Factory.jl
Due: main_test, test, pages

build based on 2a8827c
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

restructuring
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence_Elastic.jl
  src/Physics/Physics_Factory.jl
  src/Physics/Pre_calculation/Pre_Calculation_Factory.jl
  src/Physics/Pre_calculation/bond_deformation.jl
  src/Physics/Pre_calculation/bond_deformation_gradient.jl
  src/Physics/Pre_calculation/deformation_gradient.jl
  src/Physics/Pre_calculation/shape_tensor.jl
  test/runtests.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Bond_Associated_Correspondence.jl
  test/unit_tests/Physics/Pre_calculation/ut_bond_deformation_gradient.jl
Due: main_test, test, pages

update
  src/Physics/Physics_Factory.jl
  src/Physics/Pre_calculation/Pre_Calculation_Factory.jl
  src/Physics/Pre_calculation/bond_deformation_gradient.jl
Due: main_test, test, pages

build based on d1c7ae9
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

refac
  src/IO/IO.jl
  src/Physics/Physics_Factory.jl
  src/Physics/Pre_calculation/Pre_Calculation_Factory.jl
Due: main_test, test, pages

build based on e44512b
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

build based on bcb1d54
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

test fix
  test/unit_tests/Physics/Material/Material_Models/ut_Bond_Associated_Correspondence.jl
Due: main_test, test

rename function
  src/Physics/Pre_calculation/deformation_gradient.jl
  src/Support/geometry.jl
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test, pages

ad function and test and move ut
  src/Core/data_manager.jl
  test/runtests.jl
  test/unit_tests/Core/ut_data_manager.jl
Due: main_test, test, pages

fix local synch
  src/Physics/Damage/Energy_release.jl
Due: main_test, test, pages

error fix
  src/Support/geometry.jl
Due: main_test, test, pages

new structure
  src/Physics/Damage/Energy_release.jl
  src/Physics/Material/Material_Factory.jl
  src/Physics/Material/material_basis.jl
  src/Physics/Physics_Factory.jl
  src/Physics/Pre_calculation/Pre_Calculation_Factory.jl
  test/unit_tests/Core/ut_BC_manager.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

new tests
  test/fullscale_tests/test_DCB/DCBmodel_correspondence_bond_associated.yaml
  test/fullscale_tests/test_DCB/Reference/DCBmodel_bond_associanted_correspondence.e
  test/fullscale_tests/test_DCB/Reference/DCBmodel_bond_associanted_correspondence.e.license
  test/fullscale_tests/test_DCB/test_DCB.jl
  test/fullscale_tests/test_correspondence_elastic/Reference/ba_correspondence_strain_pstrain_xx.e.license
  test/fullscale_tests/test_correspondence_elastic/Reference/ba_correspondence_strain_pstress_xx.e
  test/fullscale_tests/test_correspondence_elastic/ba_correspondence_strain_pstress_xx.yaml
  test/fullscale_tests/test_correspondence_elastic/test_correspondence_elastic.jl
Due: main_test, test

prototyp
  src/Physics/Material/Material_Models/Bond_Associated_Correspondence.jl
  src/Physics/Pre_calculation/Pre_Calculation_Factory.jl
  src/Physics/Pre_calculation/bond_deformation_gradient.jl
  src/Support/Parameters/parameter_handling_physics.jl
Due: main_test, test, pages

delete pre_calculation list
  src/Core/data_manager.jl
  test/unit_tests/Core/ut_data_manager.jl
Due: main_test, test, pages

update
  src/Physics/Pre_calculation/Pre_Calculation_Factory.jl
  test/runtests.jl
  test/unit_tests/Core/ut_BC_manager.jl
Due: main_test, test, pages

update
  src/Physics/Physics_Factory.jl
  src/Physics/Pre_calculation/Pre_Calculation_Factory.jl
  src/Physics/Pre_calculation/bond_deformation_gradient.jl
  src/Support/Parameters/parameter_handling_physics.jl
Due: main_test, test, pages

CompatHelper: bump compat for TensorOperations to 5, (keep existing compat)
  Project.toml
Due: none

renamed physics_factory #168
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Verlet.jl
  src/Physics/Model_Factory.jl
  test/runtests.jl
  test/unit_tests/Physics/ut_Model_Factory.jl
Due: main_test, test, pages

build based on 14496d8
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

fixed inter_critical_value issue
  src/Physics/Damage/Damage_Factory.jl
Due: main_test, test, pages

bug fix
  src/Physics/Pre_calculation/Pre_Calculation_Factory.jl
Due: main_test, test, pages

bug fix
  src/Support/Parameters/parameter_handling_physics.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

lizence renaming
  test/fullscale_tests/test_correspondence_elastic/Reference/ba_correspondence_strain_pstress_xx.e.license
Due: main_test, test

unit test fix
  test/unit_tests/Core/ut_BC_manager.jl
Due: main_test, test

bug fix
  src/Physics/Thermal/thermal_expansion.jl
Due: main_test, test, pages

fix warnings
  test/fullscale_tests/test_dry_run/test_dry_run.jl
  test/unit_tests/ut_perilab.jl
Due: main_test, test

fix
  src/Physics/Thermal/thermal_expansion.jl
Due: main_test, test, pages

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
