Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

build based on dd663a4
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/search_index.js
  dev/theory/basics/index.html
  dev/theory/index.html
Due: none

logo update
  README.md
Due: none

licence
  README.md
  assets/logo_hs_RGB.jpg
  assets/logo_hs_RGB.jpg.license
Due: none

solve link issues
  README.md
Due: none

Edit changelog
  CHANGELOG.md
Due: none

Fixed docker release
  .github/workflows/TagBot.yml
Due: none

Optimized thermal
  src/Physics/Thermal/heat_transfer.jl
  src/Physics/Thermal/thermal_flow.jl
Due: main_test, test, pages

Allow multiple PeriLab runs
  src/PeriLab.jl
Due: main_test, test, pages

banner update
  src/PeriLab.jl
Due: main_test, test, pages

build based on f335f39
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/theory/basics/index.html
  dev/theory/index.html
Due: none

minor fix
  src/Physics/Material/Material_template/correspondence_template.jl
Due: main_test, test, pages

Edit git url
  CHANGELOG.md
  Project.toml
  README.md
  docs/src/index.md
  docs/src/lib/faq.md
  docs/src/theory/basics.md
Due: pages

added clear data_manager
  src/PeriLab.jl
  src/Support/data_manager.jl
Due: main_test, test, pages

Umat basis
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
Due: main_test, test, pages

adding cstring
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
Due: main_test, test, pages

Highly reduced test overhead
  bin/main.jl
  src/IO/IO.jl
  src/PeriLab.jl
  src/Physics/Damage/Damage_Factory.jl
  test/helper.jl
  test/runtests.jl
Due: main_test, test, pages

Fixed tests
  Project.toml
  src/IO/exodus_export.jl
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
  test/unit_tests/IO/ut_exodus_export.jl
Due: main_test, test, pages

build based on 89234d0
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/objects.inv
  dev/theory/basics/index.html
  dev/theory/index.html
Due: none

Added reload option and fixed tests
  .reuse/dep5
  bin/main.jl
  docs/make.jl
  docs/src/lib/functions.md
  src/PeriLab.jl
  src/Support/data_manager.jl
Due: main_test, test, pages

build based on f91e3e4
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/basics/index.html
  dev/theory/index.html
Due: none

Edit docs
  docs/make.jl
Due: pages

build based on 367a577
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/theory/basics/index.html
  dev/theory/index.html
Due: none

Fixed exodus
  Project.toml
  test/unit_tests/IO/ut_IO.jl
Due: main_test, test

CompatHelper: bump compat for Exodus to 0.13, (keep existing compat)
  Project.toml
Due: none

bug fix and UMAT test
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
  test/runtests.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence_UMAT.jl
Due: main_test, test, pages

build based on 607a182
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/theory/basics/index.html
  dev/theory/index.html
Due: none

improve documentation
  README.md
Due: none

highlighting
  README.md
Due: none

Fixed tagbot
  .github/workflows/TagBot.yml
Due: none

test improvements
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence_UMAT.jl
Due: main_test, test, pages

Optimized unit_tests
  src/IO/IO.jl
  src/Support/data_manager.jl
  test/unit_tests/Compute/ut_compute_field_values.jl
  test/unit_tests/Compute/ut_compute_global_values.jl
  test/unit_tests/Core/Module_inclusion/ut_set_Modules.jl
  test/unit_tests/Core/Solver/ut_Solver_control.jl
  test/unit_tests/Core/Solver/ut_Verlet.jl
  test/unit_tests/Core/ut_BC_manager.jl
  test/unit_tests/FEM/Element_formulation/ut_lagrange_element.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/IO/ut_mesh_data.jl
  test/unit_tests/Physics/Additive/ut_Additive_Factory.jl
  test/unit_tests/Physics/Corrosion/ut_Corrosion_Factory.jl
  test/unit_tests/Physics/Damage/ut_Damage_Factory.jl
  test/unit_tests/Physics/Damage/ut_Energy_release.jl
  test/unit_tests/Physics/Material/Material_Models/BondBased/ut_Bondbased_Elastic.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence_UMAT.jl
  test/unit_tests/Physics/Material/Material_Models/ut_PD_Solid_Plastic.jl
  test/unit_tests/Physics/Material/ut_Material_Factory.jl
  test/unit_tests/Physics/Thermal/ut_Heat_transfer.jl
  test/unit_tests/Physics/Thermal/ut_Thermal_Factory.jl
  test/unit_tests/Physics/Thermal/ut_Thermal_expansion.jl
  test/unit_tests/Physics/Thermal/ut_Thermal_flow.jl
  test/unit_tests/Physics/ut_Physics_Factory.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
  test/unit_tests/Support/ut_data_manager.jl
  test/unit_tests/Support/ut_geometry.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

build based on 2c31031
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/theory/basics/index.html
  dev/theory/index.html
Due: none

USER Materials and existence checkUs
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
  src/Physics/Material/UMATs/CFortranInterface.f
  src/Physics/Material/UMATs/CFortranInterface.f.license
  src/Physics/Material/UMATs/PoonViscoStiffness.f
  src/Physics/Material/UMATs/PoonViscoStiffness.f.license
  src/Physics/Material/UMATs/base.f
  src/Physics/Material/UMATs/base.f.license
  src/Physics/Material/UMATs/libinterface.so
  src/Physics/Material/UMATs/libinterface.so.license
  src/Physics/Material/UMATs/libperuser.so
  src/Physics/Material/UMATs/libperuser.so.license
  src/Physics/Material/UMATs/libusermat.so
  src/Physics/Material/UMATs/libusermat.so.license
  src/Physics/Material/UMATs/libusertest.so
  src/Physics/Material/UMATs/libusertest.so.license
  src/Physics/Material/UMATs/usertest.f
  src/Physics/Material/UMATs/usertest.f.license
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence_UMAT.jl
Due: main_test, test, pages

build based on 99c74b7
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/theory/basics/index.html
  dev/theory/index.html
Due: none

current status
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence_UMAT.jl
Due: main_test, test, pages

build based on 8b07325
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/theory/basics/index.html
  dev/theory/index.html
Due: none

code cleaning
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
Due: main_test, test, pages

Fxied TagBot
  .github/workflows/TagBot.yml
Due: none
