Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

init_data
  test/developement_area/corr_stiff/init_fields.jl
Due: main_test, test

start
  test/developement_area/corr_stiff/corr_stiffnessmatrix.jl
  test/developement_area/corr_stiff/correspondence_functions.jl
  test/developement_area/corr_stiff/matrix_solver_integration.jl
Due: main_test, test

test fixes
  src/Models/Material/Material_Basis.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
  test/unit_tests/Models/ut_templates.jl
Due: main_test, test, pages

update
  test/developement_area/corr_stiff/init_fields.jl
Due: main_test, test

update
  test/developement_area/corr_stiff/corr_stiffnessmatrix.jl
  test/developement_area/corr_stiff/correspondence_functions.jl
  test/developement_area/corr_stiff/matrix_solver_integration.jl
  test/developement_area/corr_stiff/new_solver_functions.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test

test fixes
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test, pages

interface
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
Due: main_test, test, pages

fix
  src/Models/Material/Material_Models/BondBased/Bondbased_Elastic.jl
Due: main_test, test, pages

repaired
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
Due: main_test, test, pages

yield stress update
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
Due: main_test, test, pages

update
  src/Models/Material/Material_Models/Correspondence/Correspondence_Plastic.jl
Due: main_test, test, pages

current state
  src/Core/Solver/Matrix_linear_static.jl
  test/developement_area/corr_stiff/corr_stiffnessmatrix.jl
  test/developement_area/corr_stiff/matrix_solver_integration.jl
  test/developement_area/corr_stiff/new_solver_functions.jl
Due: main_test, test, pages

new package
  Project.toml
Due: none

step by step
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Solver_control.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
  src/Support/Parameters/parameter_handling_solver.jl
  test/fullscale_tests/test_linear_static_matrix_based/linear_static_matrix_based_solver_2D.yaml
  test/fullscale_tests/test_linear_static_matrix_based/linear_static_matrix_based_solver_3D.yaml
  test/fullscale_tests/test_linear_static_matrix_based/test_linear_static_matrix_based_solver.cmd
  test/fullscale_tests/test_linear_static_matrix_based/test_linear_static_matrix_based_solver.cmd.license
  test/fullscale_tests/test_linear_static_matrix_based/test_linear_static_matrix_based_solver.jl
  test/fullscale_tests/test_linear_static_matrix_based/test_mesh_2D.txt
  test/fullscale_tests/test_linear_static_matrix_based/test_mesh_3D.txt
Due: main_test, test, pages

CompatHelper: bump compat for Meshes to 0.55, (keep existing compat)
  Project.toml
Due: none

Fixed logging ut
  test/runtests.jl
Due: main_test, test

Fixed #310
  src/Compute/compute_field_values.jl
  test/fullscale_tests/test_correspondence_elastic_plastic/Reference/correspondence_elastic_plastic.e
Due: main_test, test, pages

bump version
  CHANGELOG.md
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

run init
  src/Core/Solver/Matrix_linear_static.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

runs completely
  src/Core/Solver/Matrix_linear_static.jl
  src/Models/Pre_calculation/shape_tensor.jl
Due: main_test, test, pages

added PeriLabError and fixed logging
  src/IO/logging.jl
  src/PeriLab.jl
Due: main_test, test, pages

interface fix #305
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Support/Geometry.jl
Due: main_test, test, pages

update
  LICENSE.md
Due: none

integration
  src/Core/Solver/Solver_control.jl
Due: main_test, test, pages

complete run
  src/Core/Data_manager.jl
  src/Core/Solver/Matrix_linear_static.jl
Due: main_test, test, pages

force computation
  src/Core/Solver/Matrix_linear_static.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

working prototype
  src/Core/Solver/Matrix_linear_static.jl
  test/fullscale_tests/test_linear_static_matrix_based/linear_static_matrix_based_solver_2D.yaml
Due: main_test, test, pages

expanding functions
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

it is working
  src/Core/Solver/Matrix_linear_static.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

working prototype
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

code cleaning
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

refac
  Project.toml
  src/Core/Solver/Static_solver.jl
  src/FEM/FEM_Factory.jl
  src/IO/IO.jl
  src/PeriLab.jl
  src/main.jl
  test/unit_tests/Compute/ut_compute_field_values.jl
  test/unit_tests/Core/Module_inclusion/ut_set_Modules.jl
  test/unit_tests/FEM/Coupling/ut_Arlequin.jl
  test/unit_tests/FEM/Element_formulation/ut_lagrange_element.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
  test/unit_tests/IO/ut_exodus_export.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
  test/unit_tests/Models/Additive/ut_Additive_Factory.jl
  test/unit_tests/Models/Contact/ut_Contact_Factory.jl
  test/unit_tests/Models/Contact/ut_Contact_search.jl
  test/unit_tests/Models/Contact/ut_Penalty_model.jl
  test/unit_tests/Models/Damage/ut_Damage_Factory.jl
  test/unit_tests/Models/Damage/ut_Energy_release.jl
  test/unit_tests/Models/Degradation/ut_Degradation_Factory.jl
  test/unit_tests/Models/Material/Material_Models/BondBased/ut_Bondbased_Elastic.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Bond_Associated_Correspondence.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_Plastic.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_UMAT.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_VUMAT.jl
  test/unit_tests/Models/Material/Material_Models/Ordinary/ut_PD_Solid_Elastic.jl
  test/unit_tests/Models/Material/Material_Models/Ordinary/ut_PD_Solid_Plastic.jl
  test/unit_tests/Models/Material/Material_Models/Ordinary/ut_ordinary.jl
  test/unit_tests/Models/Material/Zero_Energy_Control/ut_global_control.jl
  test/unit_tests/Models/Material/ut_Material_Factory.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
  test/unit_tests/Models/Pre_calculation/ut_pre_bond_associated_correspondence.jl
  test/unit_tests/Models/Thermal/ut_Heat_transfer.jl
  test/unit_tests/Models/Thermal/ut_Thermal_Factory.jl
  test/unit_tests/Models/Thermal/ut_Thermal_expansion.jl
  test/unit_tests/Models/Thermal/ut_Thermal_flow.jl
  test/unit_tests/Models/ut_Model_Factory.jl
Due: main_test, test, pages

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
