Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

typos
  CONTRIBUTING.md
  docs/src/lib/faq.md
  src/PeriLab.jl
Due: main_test, test, pages

fixed a few tests
  src/Physics/Material/material_basis.jl
  test/fullscale_tests/test_Abaqus/.gitignore
  test/unit_tests/IO/ut_exodus_export.jl
  test/unit_tests/Physics/Material/ut_material_basis.jl
Due: main_test, test, pages

build based on 8f2361c
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

fixed test
  test/fullscale_tests/test_aniso_damage/Reference/aniso_damage.e
  test/unit_tests/Physics/Material/ut_material_basis.jl
Due: main_test, test

space
  src/Physics/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

build based on 5b55626
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

zero energy contral fix
  src/Physics/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

build based on 504f48b
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

build based on d296d59
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Added body force test
  src/Core/BC_manager.jl
  src/Core/Solver/Verlet.jl
  src/IO/mesh_data.jl
  src/Physics/Material/Material_Factory.jl
  src/Support/Parameters/parameter_handling_mesh.jl
  test/fullscale_tests/test_body_force/Reference/body_force.e
  test/fullscale_tests/test_body_force/Reference/body_force.e.license
  test/fullscale_tests/test_body_force/body_force.yaml
  test/fullscale_tests/test_body_force/mesh.g
  test/fullscale_tests/test_body_force/mesh.g.license
  test/fullscale_tests/test_body_force/test_body_force.cmd
  test/fullscale_tests/test_body_force/test_body_force.cmd.license
  test/fullscale_tests/test_body_force/test_body_force.jl
  test/runtests.jl
Due: main_test, test, pages

Fixed tests
  src/Physics/Contact/friction.jl
  test/fullscale_tests/test_body_force/test_body_force.jl
  test/fullscale_tests/test_heat_transfer/heat_transfer.yaml
Due: main_test, test, pages

build based on 4ee2771
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Bumped version
  CHANGELOG.md
  Project.toml
  src/PeriLab.jl
  test/unit_tests/IO/ut_IO.jl
Due: main_test, test, pages

Fixed csv ouput wrong order
  src/IO/csv_export.jl
  src/IO/exodus_export.jl
  src/Physics/Damage/Energy_release.jl
Due: main_test, test, pages

build based on 8fc1397
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Fixed test
  test/unit_tests/IO/ut_IO.jl
Due: main_test, test

Edit DOI
  README.md
  src/PeriLab.jl
Due: main_test, test, pages

build based on 2480406
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Added force bc
  src/Core/BC_manager.jl
  src/Core/Solver/Verlet.jl
  src/Physics/Material/Material_Factory.jl
Due: main_test, test, pages

added scripts
  .gitignore
  scripts/crack_path.jl
  scripts/merge_exodus.jl
Due: none

build based on 9759bd8
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

umat interface fixes
  src/IO/IO.jl
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
  src/Support/data_manager.jl
Due: main_test, test, pages

var def
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
Due: main_test, test, pages

Few fixes
  scripts/crack_path.jl
  src/Physics/Damage/Energy_release.jl
  test/fullscale_tests/test_body_force/body_force.yaml
  test/runtests.jl
Due: main_test, test, pages

build based on 4863b1d
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Fixed mpi bugs
  src/Core/Solver/Verlet.jl
  src/PeriLab.jl
Due: main_test, test, pages

Aniso_damage performance
  src/Physics/Damage/Energy_release.jl
Due: main_test, test, pages

build based on 796ba0f
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Fixed tests
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages

build based on 9b73013
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Fixed compute class with nodesets
  src/Compute/compute_global_values.jl
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

build based on 30f9795
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Fixed tests
  scripts/crack_path.jl
  src/Physics/Damage/Energy_release.jl
  test/runtests.jl
  test/unit_tests/Compute/ut_compute_global_values.jl
Due: main_test, test, pages

build based on b925997
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Added thickness to energy release
  src/Physics/Damage/Damage_Factory.jl
  src/Physics/Damage/Energy_release.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/data_manager.jl
Due: main_test, test, pages

build based on a0de8c1
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/glossar/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/output/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/man/solver/solver/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
