Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

refac
  src/Models/Material/Material_Factory.jl
Due: main_test, test, pages

interface
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
Due: main_test, test, pages

3 cores test added
  test/fullscale_tests/test_penalty_contact/test_penalty_contact.jl
Due: main_test, test

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

code clearing
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
Due: main_test, test, pages

update
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Model_Factory.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

reset timer
  src/PeriLab.jl
Due: main_test, test, pages

concept
  src/Core/Data_manager.jl
Due: main_test, test, pages

added compute example to docs #293
  docs/src/man/bond_filter.md
  docs/src/man/output.md
Due: pages

added Nearest_Point_Data Compute Class
  src/Compute/compute_global_values.jl
  src/IO/IO.jl
  src/IO/csv_export.jl
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

added global variable fullscale test #285
  test/fullscale_tests/test_global_variables/Reference/global_variables.csv.license
  test/fullscale_tests/test_global_variables/Reference/global_variables.e
  test/fullscale_tests/test_global_variables/Reference/global_variables.e.license
  test/fullscale_tests/test_global_variables/global_variables.yaml
  test/fullscale_tests/test_global_variables/test_global_variables.cmd
  test/fullscale_tests/test_global_variables/test_global_variables.cmd.license
  test/fullscale_tests/test_global_variables/test_global_variables.jl
  test/fullscale_tests/test_global_variables/test_mesh.txt
  test/helper.jl
  test/runtests.jl
Due: main_test, test

CompatHelper: bump compat for Exodus to 0.14, (keep existing compat)
  Project.toml
Due: none

fixed calculation of average global data for MPI
  .gitignore
  src/Compute/compute_global_values.jl
  src/MPI_communication/MPI_communication.jl
  test/fullscale_tests/test_global_variables/Reference/global_variables.csv
  test/fullscale_tests/test_global_variables/Reference/global_variables.e
  test/fullscale_tests/test_global_variables/global_variables.yaml
  test/helper.jl
Due: main_test, test, pages

added get_mpi_active flag
  src/Core/Data_manager.jl
  src/Core/Solver/Solver_control.jl
  src/IO/IO.jl
Due: main_test, test, pages

added fieldtype check for export #287
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_fields.jl
  src/IO/IO.jl
Due: main_test, test, pages

refac
  src/IO/IO.jl
Due: main_test, test, pages

Moved aniso damage
  src/Models/Damage/Energy_release_aniso.jl
Due: main_test, test, pages

refac
  test/fullscale_tests/test_aniso_damage/aniso_damage.yaml
  test/fullscale_tests/test_aniso_damage/aniso_damage_mesh.yaml
Due: main_test, test

Added equation option to compute params
  src/IO/IO.jl
  src/Support/Parameters/parameter_handling.jl
Due: main_test, test, pages

added swms to partner
  README.md
Due: none

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
