Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

edit pre-commit
  .pre-commit-config.yaml
  pre_commit_hooks/format.jl
  pre_commit_hooks/format.sh
  pre_commit_hooks/runtests.sh
Due: none

cv update
  docs/src/project/CV.md
Due: pages

rotation memory effictient
  src/FEM/FEM_basis.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

solve #337
  src/Models/Damage/Damage_Factory.jl
Due: main_test, test, pages

rotation optimized
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
  src/Support/Geometry.jl
  src/Support/Helpers.jl
Due: main_test, test, pages

style
  src/Core/Data_manager.jl
  src/Core/Data_manager/data_manager_MPI.jl
Due: main_test, test, pages

adding field init
  src/Core/Solver/Matrix_linear_static.jl
Due: main_test, test, pages

minor changes
  src/Core/Solver/Solver_manager.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Damage/Energy_release_aniso.jl
Due: main_test, test, pages

solve #312
  test/fullscale_tests/test_3D_aniso_material/3D_anisomat.yaml
  test/fullscale_tests/test_3D_aniso_material/Reference/3D_aniso.e
  test/fullscale_tests/test_3D_aniso_material/Reference/3D_aniso.e.license
  test/fullscale_tests/test_3D_aniso_material/cuboid_mesh.txt
  test/fullscale_tests/test_3D_aniso_material/ns_cuboid_left.txt
  test/fullscale_tests/test_3D_aniso_material/ns_cuboid_right.txt
  test/fullscale_tests/test_3D_aniso_material/ns_tensile_left.txt
  test/fullscale_tests/test_3D_aniso_material/ns_tensile_right.txt
  test/fullscale_tests/test_3D_aniso_material/tensile_specimen_mesh.txt
  test/fullscale_tests/test_3D_aniso_material/test_3D_aniso_material.jl
  test/fullscale_tests/test_3D_aniso_material/test_3D_anisomat.cmd
  test/fullscale_tests/test_3D_aniso_material/test_3D_anisomat.cmd.license
  test/runtests.jl
Due: main_test, test

solve #253
  src/Models/Material/Material_Models/Rigid/Rigid.jl
Due: main_test, test, pages

restructuring
  src/Core/Data_manager.jl
  src/IO/IO.jl
  src/IO/mesh_data.jl
  src/PeriLab.jl
Due: main_test, test, pages

extenable sparse
  Project.toml
  src/Core/Data_manager.jl
  src/Models/Damage/Energy_release_aniso.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

extendable sparse
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

added test
  test/fullscale_tests/test_linear_static_matrix_based_solver/linear_static_matrix_based_solver_auto_switch_DCBmodel.yaml
Due: main_test, test

ut test
  src/Models/Thermal/thermal_flow.jl
  src/Support/Helpers.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

update
  test/fullscale_tests/test_3D_aniso_material/3D_anisomat.yaml
  test/fullscale_tests/test_3D_aniso_material/Reference/3D_aniso.e
  test/fullscale_tests/test_3D_aniso_material/Reference/3D_anisomat.e
  test/fullscale_tests/test_3D_aniso_material/Reference/3D_anisomat.e.license
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test

cleaning
  src/Models/Damage/Energy_release_aniso.jl
Due: main_test, test, pages

MPI test to be fixed
  src/Core/Data_manager/data_manager_MPI.jl
  src/Core/Solver/Solver_manager.jl
  src/IO/IO.jl
  src/MPI_communication/MPI_communication.jl
  src/Models/Damage/Damage_Factory.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
  src/Models/Model_Factory.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
Due: main_test, test, pages

solve #339
  src/Core/Solver/Matrix_linear_static.jl
  src/Models/Material/Material_Factory.jl
  src/Models/Model_Factory.jl
Due: main_test, test, pages

test fix #339
  test/fullscale_tests/test_3D_aniso_material/Reference/3D_anisomat.e
  test/fullscale_tests/test_large_model_matrix_based/Reference/large_model_matrix_based.e
Due: main_test, test

CompatHelper: bump compat for TestSetExtensions in [extras] to 4, (keep existing compat)
  Project.toml
Due: none

fixed abauqs read
  test/fullscale_tests/test_Abaqus/plate.inp
Due: main_test, test

Enabled logging for tests
  test/runtests.jl
Due: main_test, test

refac
  test/runtests.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test

refac
  src/Core/Solver/Verlet_solver.jl
Due: main_test, test, pages

bump version
  CHANGELOG.md
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

refac
  src/Models/Material/Material_Models/Correspondence/Correspondence_UMAT.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_VUMAT.jl
  src/Models/Thermal/hetval.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_UMAT.jl
  test/unit_tests/Models/Material/Material_Models/Correspondence/ut_Correspondence_VUMAT.jl
  test/unit_tests/Models/Thermal/ut_HETVAL.jl
Due: main_test, test, pages
