Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

main_test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered"); Codecov.submit_local(process_folder())'
  ...

test:
  stage: test
  script:
  - julia --project=@. -e 'import Pkg; Pkg.test(; coverage = true)'
  - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
  ...

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

Edit tests
  test/helper.jl
  test/unit_tests/Physics/Material/ut_material_basis.jl
Due: main_test, test

Added Abaqus example
  examples/Abaqus/Dogbone.inp
  examples/Abaqus/Dogbone.inp.license
  examples/Abaqus/Dogbone.yaml
Due: none

Optimized test
  src/MPI_communication/MPI_communication.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence_UMAT.jl
Due: main_test, test, pages

Resolved #137
  src/Core/Solver/Verlet.jl
  src/IO/mesh_data.jl
  src/Physics/Damage/Critical_Stretch.jl
  src/Physics/Damage/Damage_Factory.jl
  src/Physics/Damage/Energy_release.jl
  src/Physics/Material/BondBased/Bondbased_Elastic.jl
  src/Physics/Material/Material_Factory.jl
  src/Physics/Material/Material_Models/Correspondence.jl
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
  src/Physics/Material/Material_Models/Ordinary/Ordinary.jl
  src/Physics/Material/Material_Models/PD_Solid_Elastic.jl
  src/Physics/Material/Material_Models/PD_Solid_Plastic.jl
  src/Physics/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Physics/Pre_calculation/Pre_Calculation_Factory.jl
  src/Physics/Pre_calculation/bond_deformation.jl
  src/Physics/Thermal/thermal_expansion.jl
  src/Physics/Thermal/thermal_flow.jl
  src/Support/geometry.jl
  test/runtests.jl
  test/unit_tests/Compute/ut_compute_field_values.jl
  test/unit_tests/FEM/Element_formulation/ut_lagrange_element.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
  test/unit_tests/IO/ut_mesh_data.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
  test/unit_tests/Physics/Material/Material_Models/BondBased/ut_Bondbased_Elastic.jl
  test/unit_tests/Physics/Material/Material_Models/Ordinary/ut_ordinary.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence_UMAT.jl
  test/unit_tests/Physics/Material/ut_Material_Factory.jl
  test/unit_tests/Physics/Thermal/ut_Thermal_expansion.jl
  test/unit_tests/Physics/ut_Physics_Factory.jl
  test/unit_tests/Physics/ut_templates.jl
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test, pages

Abaqusreader update
  Project.toml
  src/IO/mesh_data.jl
Due: main_test, test, pages

Fixed volume calculation for Abaqus
  CHANGELOG.md
  Project.toml
  src/IO/mesh_data.jl
  test/fullscale_tests/test_Abaqus/Abaqus.yaml
  test/fullscale_tests/test_Abaqus/Dogbone.inp
  test/fullscale_tests/test_Abaqus/Reference/Abaqus.e
  test/fullscale_tests/test_Abaqus/plate.inp
  test/fullscale_tests/test_Abaqus/plate.inp.license
Due: main_test, test, pages

docu
  docs/src/man/input_yaml.md
  docs/src/theory/theory_bondbased.md
Due: pages

Switched to TetGen
  .github/workflows/Documentation.yml
  Project.toml
  src/IO/mesh_data.jl
Due: main_test, test, pages

build based on c1da00b
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Bump version
  .github/workflows/Documentation.yml
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

working prototype
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence_UMAT.jl
Due: main_test, test, pages

build based on d4b7c2b
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Added non-blocking MPI
  src/MPI_communication/MPI_communication.jl
Due: main_test, test, pages

Fixed anisotropic damage
  src/IO/IO.jl
  src/Physics/Damage/Damage_Factory.jl
  src/Physics/Damage/Energy_release.jl
  src/Physics/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Support/data_manager.jl
  src/Support/geometry.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence.jl
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test, pages

Fixed umat test
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence_UMAT.jl
Due: main_test, test

umattest
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence_UMAT.jl
Due: main_test, test

working prototype
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
Due: main_test, test, pages

material documentation
  docs/src/man/physics/materials.md
Due: pages

todo
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
Due: main_test, test, pages

docu
  docs/src/man/physics/materials.md
  docs/src/man/physics/thermal.md
Due: pages

path fix
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence_UMAT.jl
Due: main_test, test

adding documentation
  docs/src/man/physics/thermal.md
Due: pages

adding tables
  docs/src/man/physics/thermal.md
Due: pages

adding docuentation
  docs/src/man/physics/materials.md
  docs/src/man/physics/thermal.md
Due: pages

improved documentation
  docs/src/man/physics/damage.md
  docs/src/refs.bib
  docs/src/theory/theory_damage.md
  docs/src/theory/theory_damage.md.license
Due: pages

CompatHelper: bump compat for ZipArchives to 2, (keep existing compat)
  Project.toml
Due: none

Fixed docs
  .github/workflows/Documentation.yml
Due: none

Fixed umat test
  src/Physics/Material/Material_Models/Correspondence_UMAT.jl
  src/Physics/Material/UMATs/CFortranInterface.f
  src/Physics/Material/UMATs/CFortranInterface.f.license
  src/Physics/Material/UMATs/libinterface.so
  src/Physics/Material/UMATs/libinterface.so.license
  src/Physics/Material/UMATs/libusertest.so
  src/Physics/Material/UMATs/usertest.f
  test/unit_tests/Physics/Material/Material_Models/ut_Correspondence_UMAT.jl
Due: main_test, test, pages

Edit docs
  docs/src/man/physics/materials.md
  docs/src/man/physics/thermal.md
Due: pages

Fixed ref
  docs/src/man/physics/damage.md
Due: pages

Fixed ref
  .github/workflows/Documentation.yml
  docs/src/refs.bib
Due: pages

build based on 586bc3a
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/objects.inv
  dev/refs.bib
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage.md.license
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Fixed aniso damage and added test
  src/IO/IO.jl
  src/Physics/Damage/Damage_Factory.jl
  src/Physics/Damage/Energy_release.jl
  src/Support/geometry.jl
  test/fullscale_tests/test_aniso_damage/CompactTension.txt
  test/fullscale_tests/test_aniso_damage/Reference/aniso_damage.e
  test/fullscale_tests/test_aniso_damage/Reference/aniso_damage.e.license
  test/fullscale_tests/test_aniso_damage/aniso_damage.yaml
  test/fullscale_tests/test_aniso_damage/ns_CompactTension_1.txt
  test/fullscale_tests/test_aniso_damage/ns_CompactTension_2.txt
  test/fullscale_tests/test_aniso_damage/test_aniso_damage.cmd
  test/fullscale_tests/test_aniso_damage/test_aniso_damage.cmd.license
  test/fullscale_tests/test_aniso_damage/test_aniso_damage.jl
  test/fullscale_tests/test_aniso_damage/test_mesh.txt
  test/runtests.jl
  test/unit_tests/Support/ut_geometry.jl
Due: main_test, test, pages

build based on e1c95e5
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Added Abaqus docs
  docs/src/man/mesh_input.md
Due: pages

build based on d470802
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Changed log steps
  src/Core/Solver/Verlet.jl
Due: main_test, test, pages

build based on f55a73e
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/faq/index.html
  dev/lib/functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/physics_functions/index.html
  dev/lib/references/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/physics/additive/index.html
  dev/man/physics/damage/index.html
  dev/man/physics/materials/index.html
  dev/man/physics/overview/index.html
  dev/man/physics/thermal/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

Path conditions:
  main_test: any of: src/**/*, test/**/*
  test: any of: src/**/*, test/**/*
  pages: any of: src/**/*, docs/**/*
