Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

refac
  test/fullscale_tests/test_gmsh/test_gmsh.jl
Due: main_test, test

CompatHelper: bump compat for OrderedCollections to 2, (keep existing compat)
  Project.toml
Due: none

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

update docs
  docs/src/index.md
  docs/src/lib/faq.md
  docs/src/man/input_yaml.md
  docs/src/man/mesh_input.md
Due: pages

update readme and changelog
  CHANGELOG.md
  README.md
Due: none

optimized logging and error handling resolve #356
  src/IO/logging.jl
  src/IO/read_inputdeck.jl
  src/PeriLab.jl
Due: main_test, test, pages

refac
  test/unit_tests/IO/ut_read_inputdeck.jl
Due: main_test, test

added JuliaC Compiler support
  Dockerfile
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

code quality
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Newmark.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

solve #369
  src/Core/Solver/Newmark.jl
  src/Core/Solver/Solver_manager.jl
  test/fullscale_tests/test_Newmark/Reference/Newmark_bending.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_shear.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_2D.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_DCBmodel.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_switch_DCBmodel.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_tension.e
  test/fullscale_tests/test_Newmark/Reference/Newmark_thermal_expansion.e
Due: main_test, test, pages

enhanced get_examples
  src/PeriLab.jl
Due: main_test, test, pages

added build ci for windows and macos
  .github/workflows/TagBot.yml
  Dockerfile
Due: none

edit changelog
  CHANGELOG.md
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

fixed Correspondence_matrix_based import
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Matrix_linear_static.jl
  src/Core/Solver/Newmark.jl
  src/Core/Solver/Solver_manager.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
  test/unit_tests/ut_perilab.jl
Due: main_test, test, pages

code optimization
  src/Core/Solver/Newmark.jl
  test/fullscale_tests/test_Newmark/Reference/Newmark_solver_DCBmodel.e
Due: main_test, test, pages

refac
  CHANGELOG.md
  README.md
  bin/main.jl
  scripts/run_all_examples.jl
  src/PeriLab.jl
  src/main.jl
  test/fullscale_tests/test_dry_run/test_dry_run.jl
  test/helper.jl
  test/runtests.jl
  test/unit_tests/FEM/ut_FEM_Factory.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
Due: main_test, test, pages

refac
  test/unit_tests/MPI_communication/ut_MPI.jl
Due: main_test, test

refac
  docs/make.jl
Due: pages

refac
  .github/workflows/Documentation.yml
  src/PeriLab.jl
Due: main_test, test, pages

refac
  .github/workflows/TagBot.yml
Due: none

new structure
  src/Core/Data_manager.jl
  src/Core/Model_reduction/CraigBampton.jl
  src/Core/Model_reduction/Guyan.jl
  src/Core/Model_reduction/Model_reduction.jl
  src/Core/Solver/Matrix_Verlet.jl
Due: main_test, test, pages

t
  src/Core/Model_reduction/Model_reduction.jl
  src/Core/Solver/Matrix_Verlet.jl
  src/Core/Solver/Newmark.jl
Due: main_test, test, pages

refac
  CHANGELOG.md
  Project.toml
Due: none

cleaning
  src/Models/Material/Material_Models/Correspondence/Correspondence_matrix_based.jl
Due: main_test, test, pages

package cleaning
  Project.toml
  src/Core/Data_manager.jl
Due: main_test, test, pages

refac
  .github/workflows/TagBot.yml
  Dockerfile
Due: none

refac
  .github/workflows/CI.yml
Due: none

update
  src/Core/Model_reduction/CraigBampton.jl
  src/Core/Model_reduction/Guyan.jl
  src/Core/Model_reduction/Model_reduction.jl
  src/Core/Solver/Matrix_Verlet.jl
Due: main_test, test, pages
