Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, deploy, pages

test:
  stage: test
  script:
  - julia --project=@. -e "import Pkg; Pkg.test(; coverage = true)"
  - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; cl, tl = get_summary(process_folder()); println("(", cl/tl*100, "%) covered")'
  coverage: /\(\d+.\d+\%\) covered/
  artifacts:
    paths:
    - test

deploy:
  image: docker:latest
  services:
  - docker:dind
  before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
  - docker logout
  stage: deploy
  script:
  - docker build -t perihub/perilab .
  - docker push perihub/perilab

pages:
  stage: deploy
  script:
  - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
  - julia --project=docs --color=yes docs/make.jl
  - mv docs/build public
  artifacts:
    paths:
    - public

test fix
  test/fullscale_tests/test_DCB/Reference/DCBmodel_PD_solid.e
Due: test

PD Solid plastic prototype
  src/Physics/Material/Material_Models/PD_Solid_Plastic.jl
Due: test, deploy, pages

Added Abaqus info
  src/Support/Parameters/parameter_handling_mesh.jl
Due: test, deploy, pages

fixed csv export
  src/Compute/compute_global_values.jl
  src/IO/IO.jl
  src/IO/csv_export.jl
Due: test, deploy, pages

added meshing training script
  examples/Training/meshing/.gitignore
  examples/Training/meshing/Input.yaml
  examples/Training/meshing/mesh.jl
Due: none

doc update
  docs/src/lib/faq.md
Due: pages

edit global calc
  src/Compute/compute_global_values.jl
  src/IO/IO.jl
  test/unit_tests/Compute/ut_compute_global_values.jl
  test/unit_tests/IO/ut_exodus_export.jl
  test/unit_tests/Physics/Thermal/ut_Heat_transfer.jl
Due: test, deploy, pages

Fixed abaqusreadere
  src/IO/mesh_data.jl
  src/Support/Parameters/parameter_handling_mesh.jl
Due: test, deploy, pages

added yaml exception
  src/IO/read_inputdeck.jl
Due: test, deploy, pages

fixed tests
  test/unit_tests/Compute/ut_compute_global_values.jl
  test/unit_tests/Physics/Thermal/ut_Heat_transfer.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: test

edit CT example
  examples/Compact_Tension/CompactTension.yaml
Due: none

added get_active_update_nodes
  docs/src/lib/io_functions.md
  examples/Small/Input.yaml
  src/Physics/Physics_Factory.jl
  src/Support/helpers.jl
  test/unit_tests/Support/ut_helpers.jl
Due: test, deploy, pages

Edit dogbone
  examples/Dogbone/Dogbone.yaml
Due: none

fixed test
  test/unit_tests/Support/ut_helpers.jl
Due: test

Added qa and fixed Dogbone
  examples/Dogbone/Dogbone.yaml
  src/IO/exodus_export.jl
Due: test, deploy, pages

test coverage
  src/Physics/Material/Material_Models/PD_Solid_Plastic.jl
  test/runtests.jl
  test/unit_tests/Physics/Material/Material_Models/ut_PD_Solid_Plastic.jl
Due: test, deploy, pages

test fix
  src/Physics/Material/Material_Models/PD_Solid_Plastic.jl
  test/unit_tests/Physics/Material/Material_Models/ut_PD_Solid_Plastic.jl
Due: test, deploy, pages

docu
  docs/src/lib/physics_functions.md
Due: pages

Fixed HPC MPI bug
  .gitignore
  Project.toml
  examples/Benchmark/Benchmark_3dx_10.yaml
  examples/Benchmark/Benchmark_3dx_100.yaml
  examples/Benchmark/Benchmark_3dx_1000.yaml
  examples/Benchmark/Benchmark_4dx_10.yaml
  examples/Benchmark/Benchmark_4dx_100.yaml
  examples/Benchmark/Benchmark_4dx_1000.yaml
  examples/Benchmark/Benchmark_5dx_10.yaml
  examples/Benchmark/Benchmark_5dx_100.yaml
  src/PeriLab.jl
  src/main.jl
Due: test, deploy, pages

fixed docs
  src/Physics/Material/Material_Models/Ordinary/Ordinary.jl
Due: test, deploy, pages

added bond filter docs
  docs/make.jl
  docs/src/assets/tikz/Discretization_BondFilters_RectangularPlane.pdf
  docs/src/assets/tikz/Discretization_BondFilters_RectangularPlane.pdf.license
  docs/src/assets/tikz/Discretization_BondFilters_RectangularPlane.tex
  docs/src/assets/tikz/Discretization_BondFilters_RectangularPlane_Base.pdf
  docs/src/assets/tikz/Discretization_BondFilters_RectangularPlane_Base.pdf.license
  docs/src/man/bond_filter.md
  docs/src/man/bond_filter.md.license
Due: pages

fixed pages
  docs/src/lib/physics_functions.md
Due: pages

fixed docs
  docs/src/assets/Discretization_BondFilters_RectangularPlane.png
  docs/src/assets/Discretization_BondFilters_RectangularPlane.png.license
  docs/src/assets/tikz/Discretization_BondFilters_RectangularPlane.pdf
  docs/src/assets/tikz/Discretization_BondFilters_RectangularPlane.tex
  docs/src/assets/tikz/Discretization_BondFilters_RectangularPlane_Base.pdf
  docs/src/assets/tikz/Discretization_BondFilters_RectangularPlane_Base.pdf.license
  docs/src/man/bond_filter.md
Due: pages

fixed image path
  docs/src/man/bond_filter.md
Due: pages

test optimization
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: test

Corriosion base
  src/Physics/Corrosion/Corrosion_Factory.jl
  src/Physics/Corrosion/Corrosion_template/corrosion_template.jl
  test/runtests.jl
  test/unit_tests/Physics/Corrosion/ut_Corrosion_Factory.jl
  test/unit_tests/Physics/ut_templates.jl
Due: test, deploy, pages

edit exports
  src/IO/IO.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_output.jl
  src/Support/Parameters/parameter_handling_physics.jl
  src/Support/Parameters/parameter_handling_solver.jl
Due: test, deploy, pages

added Revise
  src/main.jl
Due: test, deploy, pages

added TimerOutputs.complement!
  src/PeriLab.jl
Due: test, deploy, pages

optimized init_data
  src/IO/mesh_data.jl
Due: test, deploy, pages

added Revise
  .gitlab-ci.yml
Due: none

removed comments
  src/PeriLab.jl
Due: test, deploy, pages

test improvement
  test/unit_tests/FEM/ut_FEM_Factory.jl
Due: test

simple corrosion
  src/Physics/Corrosion/BondBased_Corrosion.jl
  src/Physics/Physics_Factory.jl
  src/Support/Parameters/parameter_handling_solver.jl
Due: test, deploy, pages

fixed exports
  .gitlab-ci.yml
  src/Support/Parameters/parameter_handling_output.jl
  src/Support/Parameters/parameter_handling_physics.jl
  src/Support/Parameters/parameter_handling_solver.jl
  src/main.jl
Due: test, deploy, pages

corrosion time integration - base
  src/Core/Solver/Verlet.jl
Due: test, deploy, pages

traning repair
  examples/Training/Input.yaml
Due: none

cite readme
  README.md
Due: none

show FEM only if true
  src/Support/data_manager.jl
Due: test, deploy, pages

Path conditions:
  test: any of: src/**/*, test/**/*
  deploy: any of: src/**/*
  pages: any of: src/**/*, docs/**/*
