Repository PeriHub/PeriLab.jl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: main_test, test, pages

.gitlab-ci.yml:

# SPDX-FileCopyrightText: 2023 Christian Willberg <christian.willberg@dlr.de>, Jan-Timo Hesse <jan-timo.hesse@dlr.de>
#
# SPDX-License-Identifier: BSD-3-Clause

image: julia:latest

before_script:
  # workaround for https://github.com/JuliaDocs/Documenter.jl/issues/686
  - apt-get -qq update; apt-get -y install git jq bc
  - julia --project=@. -e "import Pkg; Pkg.build()"

stages:
  - test
  - benchmark
  - deploy

main_test:
  stage: test
  except:
    - tags
  only:
    refs:
      - main
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered");
      Codecov.submit_local(process_folder())'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

test:
  stage: test
  except:
    - tags
    - main
  only:
    changes:
      - src/**/*
      - test/**/*
  script:
    - julia --project=@. -e 'import Pkg;
      Pkg.test(; coverage = true)'
    - CODECOV_TOKEN=$CODECOV_TOKEN julia -e 'import Pkg; Pkg.add("Coverage");
      using Coverage; cl, tl = get_summary(process_folder());
      println("(", cl/tl*100, "%) covered")'
  coverage: '/\(\d+.\d+\%\) covered/'
  artifacts:
    when: on_failure
    paths:
      - test

deploy:
  stage: deploy
  extends: [.deploy_before_script_template]
  only:
    - tags
  script:
    - docker build -t perihub/perilab:${CI_COMMIT_TAG} .
    - docker push perihub/perilab:${CI_COMMIT_TAG}
    - docker tag perihub/perilab:${CI_COMMIT_TAG} perihub/perilab:latest
    - docker push perihub/perilab:latest

release:
  stage: deploy
  only:
    - tags
  script:
    - apt-get -y install build-essential
    - julia --project=@. -e 'import Pkg; Pkg.add("PackageCompiler");
      using PackageCompiler;
      create_app(".", "build", executables=["PeriLab" => "main", "get_examples" => "get_examples"], incremental=true)'
  artifacts:
    paths:
      - build

pages:
  stage: deploy
  only:
    refs:
      - main
    changes:
      - src/**/*
      - docs/**/*
  script:
    # - julia -e 'import Pkg; Pkg.add(path=".")' # i think this is to much, tbd
    - julia --project=docs -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
    - julia --project=docs --color=yes docs/make.jl
    - mv docs/build public # move to the directory picked up by Gitlab pages
  artifacts:
    paths:
      - public

.deploy_before_script_template:
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
  after_script:
    - docker logout

build based on 5fa9bd0
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
Due: none

solve #140
  docs/make.jl
  docs/src/theory/theory_thermal.md
  docs/src/theory/theory_thermal.md.license
Due: pages

build based on 8c63ab6
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal.md.license
  dev/theory/theory_thermal/index.html
Due: none

filter for coupling corrected
  src/FEM/FEM_routines.jl
  test/unit_tests/IO/ut_mesh_data.jl
Due: main_test, test, pages

Fixed tests
  src/Models/Additive/Additive_Factory.jl
  src/Models/Model_Factory.jl
  src/Models/Thermal/Thermal_Factory.jl
  test/fullscale_tests/test_DCB/DCBmodel_unified_bb.yaml
  test/fullscale_tests/test_DCB/Reference/DCBmodel_unified_bb.e
  test/fullscale_tests/test_additive/test_additive.cmd
  test/unit_tests/FEM/Coupling/ut_Arlequin.jl
  test/unit_tests/FEM/Element_formulation/ut_lagrange_element.jl
  test/unit_tests/FEM/ut_FEM_routines.jl
Due: main_test, test, pages

build based on 84a88b9
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

merge pre commit
  src/Models/Model_Factory.jl
Due: main_test, test, pages

added engineering constants feature for anisotropic material #216
  src/Core/Solver/Verlet.jl
  src/Models/Material/Material_Basis.jl
  src/Support/Helpers.jl
  src/Support/Parameters/parameter_handling.jl
  test/fullscale_tests/test_aniso/Reference/aniso_eng.e
  test/fullscale_tests/test_aniso/Reference/aniso_eng.e.license
  test/fullscale_tests/test_aniso/Reference/aniso_hooke.e
  test/fullscale_tests/test_aniso/Reference/aniso_hooke.e.license
  test/fullscale_tests/test_aniso/aniso_eng.yaml
  test/fullscale_tests/test_aniso/aniso_hooke.yaml
  test/fullscale_tests/test_aniso/test_aniso.cmd
  test/fullscale_tests/test_aniso/test_aniso.cmd.license
  test/fullscale_tests/test_aniso/test_aniso.jl
  test/fullscale_tests/test_aniso/test_mesh.txt
  test/runtests.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test, pages

build based on e7aeeee
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

Renamed to orthothropic #216
  src/Models/Material/Material_Basis.jl
  test/fullscale_tests/test_symmetry/Reference/symmetry_eng.e
  test/fullscale_tests/test_symmetry/Reference/symmetry_eng.e.license
  test/fullscale_tests/test_symmetry/Reference/symmetry_hooke.e
  test/fullscale_tests/test_symmetry/Reference/symmetry_hooke.e.license
  test/fullscale_tests/test_symmetry/symmetry_eng.yaml
  test/fullscale_tests/test_symmetry/symmetry_hooke.yaml
  test/fullscale_tests/test_symmetry/test_mesh.txt
  test/fullscale_tests/test_symmetry/test_symmetry.cmd
  test/fullscale_tests/test_symmetry/test_symmetry.cmd.license
  test/fullscale_tests/test_symmetry/test_symmetry.jl
  test/runtests.jl
  test/unit_tests/Models/Material/ut_material_basis.jl
Due: main_test, test, pages

build based on ac1d260
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

Fixed temp. dependent damage model #215
  src/Models/Damage/Energy_release.jl
  src/Models/Model_Factory.jl
  src/Support/Helpers.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_models.jl
  test/fullscale_tests/test_DCB/DCBmodel_PD_solid_temp_depended.yaml
  test/fullscale_tests/test_DCB/Reference/DCBmodel_PD_solid_temp_depended.e
  test/fullscale_tests/test_DCB/Reference/DCBmodel_PD_solid_temp_depended.e.license
  test/fullscale_tests/test_DCB/test_DCB.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

build based on 2d2419b
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

fixed tests
  src/Models/Damage/Energy_release.jl
Due: main_test, test, pages

build based on 07dfc3a
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

fixed #216
  src/Models/Material/Material_Basis.jl
Due: main_test, test, pages

build based on c13a34d
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

Removed @info calls
  src/Models/Material/Material_Basis.jl
Due: main_test, test, pages

build based on 6391c60
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

Edit changelog
  CHANGELOG.md
Due: none

Bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages

build based on c33036f
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

added tests
  src/IO/mesh_data.jl
  test/unit_tests/Core/ut_BC_manager.jl
  test/unit_tests/IO/ut_IO.jl
  test/unit_tests/IO/ut_bond_filter.jl
  test/unit_tests/IO/ut_mesh_data.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

build based on dc063f1
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

build based on 7f8d2a6
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

Revert Dierckx
  Project.toml
Due: none

added tests
  src/Support/Helpers.jl
  test/fullscale_tests/test_aniso_damage/Reference/aniso_damage.e
  test/runtests.jl
  test/unit_tests/MPI_communication/ut_MPI.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

build based on 83a48ae
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

Reduced field allocations for additive
  examples/Additive/Zugstab.yaml
  src/Core/Solver/Solver_control.jl
  src/Core/Solver/Verlet.jl
  src/IO/mesh_data.jl
  src/Models/Model_Factory.jl
  src/Models/Thermal/Thermal_Factory.jl
  src/Models/Thermal/heat_transfer.jl
  src/PeriLab.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_solver.jl
  test/unit_tests/Support/ut_helpers.jl
Due: main_test, test, pages

build based on f56ae1d
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

Fixed MPI testing
  test/fullscale_tests/test_PD_solid_elastic_3D/test_PD_solid_elastic_3D.jl
  test/helper.jl
Due: main_test, test

Readded surface nodes
  src/Models/Thermal/Thermal_Factory.jl
  src/Models/Thermal/heat_transfer.jl
Due: main_test, test, pages

added blockwise angle definition
  src/Core/Solver/Solver_control.jl
  src/IO/IO.jl
  src/Models/Material/Material_Models/Correspondence/Bond_Associated_Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Thermal/thermal_flow.jl
  src/PeriLab.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_blocks.jl
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_xy_angles.e
  test/fullscale_tests/test_correspondence_elastic_3D/Reference/strain_xy_angles.e.license
  test/fullscale_tests/test_correspondence_elastic_3D/strain_xy_angles.yaml
  test/fullscale_tests/test_correspondence_elastic_3D/test_correspondence_elastic_3D.jl
Due: main_test, test, pages

CompatHelper: bump compat for Dierckx to 0.5, (keep existing compat)
  Project.toml
Due: none

Temperature dependent orthotropic material #215
  CHANGELOG.md
  Project.toml
  examples/Undulations/Smetana.yaml
  src/Compute/compute_field_values.jl
  src/Core/Solver/Solver_control.jl
  src/Models/Damage/Energy_release.jl
  src/Models/Material/Material_Basis.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence.jl
  src/Models/Material/Material_Models/Correspondence/Correspondence_Elastic.jl
  src/Models/Material/Material_Models/Zero_Energy_Control/global_control.jl
  src/Support/Helpers.jl
  src/Support/Parameters/parameter_handling.jl
  src/Support/Parameters/parameter_handling_blocks.jl
  src/Support/Parameters/parameter_handling_models.jl
  test/fullscale_tests/test_additive/Reference/additive_2d_heat.e
  test/fullscale_tests/test_aniso_damage/aniso_damage.yaml
  test/fullscale_tests/test_symmetry/symmetry_eng_dep.yaml
  test/fullscale_tests/test_symmetry/symmetry_eng_temperature_dependend.txt
  test/unit_tests/Models/Material/ut_material_basis.jl
  test/unit_tests/Support/Parameters/ut_parameter_handling.jl
Due: main_test, test, pages

build based on 83ab98f
  dev/.documenter-siteinfo.json
  dev/devLog/index.html
  dev/index.html
  dev/lib/data_manager_functions/index.html
  dev/lib/faq/index.html
  dev/lib/glossar/index.html
  dev/lib/helper_functions/index.html
  dev/lib/io_functions/index.html
  dev/lib/links/index.html
  dev/lib/logging_functions/index.html
  dev/lib/model_factory_functions/index.html
  dev/lib/mpi_functions/index.html
  dev/lib/references/index.html
  dev/lib/solver_functions/index.html
  dev/man/basics/index.html
  dev/man/bond_filter/index.html
  dev/man/dev/datamanager/index.html
  dev/man/dev/developement_guide/index.html
  dev/man/dev/module_integration/index.html
  dev/man/dev/parameters/index.html
  dev/man/dev/testing/index.html
  dev/man/getting_started/index.html
  dev/man/input_yaml/index.html
  dev/man/mesh_input/index.html
  dev/man/models/additive/index.html
  dev/man/models/damage/index.html
  dev/man/models/materials/index.html
  dev/man/models/overview/index.html
  dev/man/models/thermal/index.html
  dev/man/output/index.html
  dev/man/solver/solver/index.html
  dev/objects.inv
  dev/search_index.js
  dev/theory/theory/index.html
  dev/theory/theory_bondbased/index.html
  dev/theory/theory_correspondence/index.html
  dev/theory/theory_damage/index.html
  dev/theory/theory_ordinary/index.html
  dev/theory/theory_thermal/index.html
Due: none

bump version
  Project.toml
  src/PeriLab.jl
Due: main_test, test, pages
